.perks_wrapper {
  padding: 100px 0 120px;
}
@media (max-width: 1000px) {
  .perks_wrapper {
    padding: 60px 0 60px;
  }
}
.perks_wrapper.native_perks .section_title {
  width: 67%;
}
@media (max-width: 767px) {
  .perks_wrapper.native_perks .section_title {
    width: 100%;
  }
}
.perks_wrapper.ios_perks {
  background: #F3F6FF url("../../../../../../public/assets/images/services/overview-bg.png") center;
  background-size: cover;
  padding-bottom: 60px;
}
.perks_wrapper.ios_perks .perks_rules .perks_services {
  max-width: 100%;
}
.perks_wrapper.ios_perks .perks_rules .perks_services ul {
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -11px;
}
.perks_wrapper.ios_perks .perks_rules .perks_services ul li {
  width: 50%;
  margin-bottom: 40px;
  padding: 0 11px;
}
@media (max-width: 1000px) {
  .perks_wrapper.ios_perks .perks_rules .perks_services ul li {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .perks_wrapper.ios_perks .perks_rules .perks_services ul li {
    width: 100%;
  }
}
.perks_wrapper.ios_perks .perks_rules .perks_services ul li .parks_text {
  border: 1px solid #C8C8C8;
  border-radius: 30px;
  background-color: #FFFFFF;
  position: relative;
  height: 100%;
  padding: 40px 40px 40px 160px;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1000px) {
  .perks_wrapper.ios_perks .perks_rules .perks_services ul li .parks_text {
    padding: 20px 25px 25px 80px;
  }
}
@media (max-width: 600px) {
  .perks_wrapper.ios_perks .perks_rules .perks_services ul li .parks_text {
    padding: 50px 20px 20px;
  }
}
.perks_wrapper.ios_perks .perks_rules .perks_services ul li .parks_text:hover {
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07), 0 30.1471px 24.1177px rgba(0, 0, 0, 0.0456112), 0 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0 4.5288px 3.62304px rgba(0, 0, 0, 0.0243888);
}
.perks_wrapper.ios_perks .perks_rules .perks_services ul li span {
  left: 40px;
  top: 48px;
}
@media (max-width: 1000px) {
  .perks_wrapper.ios_perks .perks_rules .perks_services ul li span {
    left: 20px;
    top: 27px;
  }
}
@media (max-width: 600px) {
  .perks_wrapper.ios_perks .perks_rules .perks_services ul li span {
    top: 15px;
  }
}
.perks_wrapper.working_benefits {
  padding-bottom: 60px;
}
.perks_wrapper.working_benefits .perks_rules .perks_services {
  max-width: 100%;
}
.perks_wrapper.working_benefits .perks_rules .perks_services ul {
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -11px;
}
.perks_wrapper.working_benefits .perks_rules .perks_services ul li {
  width: 50%;
  margin-bottom: 20px;
  padding: 0 11px;
}
@media (max-width: 1000px) {
  .perks_wrapper.working_benefits .perks_rules .perks_services ul li {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .perks_wrapper.working_benefits .perks_rules .perks_services ul li {
    width: 100%;
  }
}
.perks_wrapper.working_benefits .perks_rules .perks_services ul li .parks_text {
  position: relative;
  height: 100%;
  padding: 40px 40px 20px 160px;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1000px) {
  .perks_wrapper.working_benefits .perks_rules .perks_services ul li .parks_text {
    padding: 20px 25px 25px 80px;
  }
}
@media (max-width: 600px) {
  .perks_wrapper.working_benefits .perks_rules .perks_services ul li .parks_text {
    padding: 50px 20px 20px;
  }
}
.perks_wrapper.working_benefits .perks_rules .perks_services ul li span {
  left: 40px;
  top: 48px;
}
@media (max-width: 1000px) {
  .perks_wrapper.working_benefits .perks_rules .perks_services ul li span {
    left: 20px;
    top: 27px;
  }
}
@media (max-width: 600px) {
  .perks_wrapper.working_benefits .perks_rules .perks_services ul li span {
    top: 15px;
  }
}
.perks_wrapper .perks_rules .perks_services {
  max-width: 590px;
}
.perks_wrapper .perks_rules .perks_services ul li {
  position: relative;
  padding-left: 119px;
  margin-bottom: 30px;
}
@media (max-width: 1600px) {
  .perks_wrapper .perks_rules .perks_services ul li {
    padding-left: 90px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1000px) {
  .perks_wrapper .perks_rules .perks_services ul li {
    padding-left: 52px;
  }
}
@media (max-width: 600px) {
  .perks_wrapper .perks_rules .perks_services ul li {
    padding-left: 0;
    padding-top: 40px;
  }
}
.perks_wrapper .perks_rules .perks_services ul li span {
  font-size: 28px;
  position: absolute;
  left: 0;
  top: 9px;
  font-family: "CloverDisplay-Bold", sans-serif;
  color: #1D4354;
}
@media (max-width: 1600px) {
  .perks_wrapper .perks_rules .perks_services ul li span {
    font-size: 22px;
  }
}
@media (max-width: 1000px) {
  .perks_wrapper .perks_rules .perks_services ul li span {
    top: 2px;
    font-size: 20px;
  }
}
.perks_wrapper .perks_rules .perks_services ul li span:before {
  content: "";
  position: absolute;
  right: -58px;
  top: 50%;
  width: 26px;
  height: 2px;
  background: #6bb64a;
  transform: translateY(-50%);
}
@media (max-width: 1600px) {
  .perks_wrapper .perks_rules .perks_services ul li span:before {
    right: -44px;
  }
}
@media (max-width: 1000px) {
  .perks_wrapper .perks_rules .perks_services ul li span:before {
    right: -20px;
    width: 16px;
  }
}
.perks_wrapper .perks_rules .perks_services ul li section h3 {
  margin: 0 0 20px;
  font-size: 28px;
  font-family: "CloverDisplay-Bold", sans-serif;
}
@media (max-width: 1600px) {
  .perks_wrapper .perks_rules .perks_services ul li section h3 {
    margin: 0 0 12px;
    font-size: 25px;
  }
}
@media (max-width: 1000px) {
  .perks_wrapper .perks_rules .perks_services ul li section h3 {
    font-size: 20px;
    margin: 0 0 5px;
  }
}
.perks_wrapper .perks_rules .perks_services ul li section p {
  margin: 0;
  font-size: 24px;
  line-height: 36px;
  font-family: "Apercu-Light", sans-serif;
}
@media (max-width: 1600px) {
  .perks_wrapper .perks_rules .perks_services ul li section p {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 1000px) {
  .perks_wrapper .perks_rules .perks_services ul li section p {
    font-size: 16px;
    line-height: 24px;
  }
}
.perks_wrapper .perks_rules .perks_image {
  margin: 0 0 0 auto;
  position: relative;
}
@media (max-width: 1600px) {
  .perks_wrapper .perks_rules .perks_image {
    max-width: 550px;
  }
}
@media (max-width: 1200px) {
  .perks_wrapper .perks_rules .perks_image {
    max-width: 360px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .perks_wrapper .perks_rules .perks_image {
    display: none;
  }
}
.perks_wrapper .perks_rules .perks_image:before, .perks_wrapper .perks_rules .perks_image:after {
  content: "";
  position: absolute;
  left: -23px;
  bottom: -23px;
  width: 195px;
  height: 195px;
  background: #6bb64a;
  transition: all 0.4s ease-in-out;
}
.perks_wrapper .perks_rules .perks_image:after {
  bottom: unset;
  left: unset;
  top: -23px;
  right: -23px;
}
.perks_wrapper .perks_rules .perks_image img {
  max-width: 100%;
  position: relative;
  z-index: 1;
  border-radius: 15px;
  height: auto;
}/*# sourceMappingURL=perksOfWorking.module.css.map */