.perks_wrapper {
  padding: 100px 0 120px;
  background-color: #F3F6FF;
}
@media (max-width: 1000px) {
  .perks_wrapper {
    padding: 60px 0 60px;
  }
}
.perks_wrapper .section_title {
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  .perks_wrapper .perks_rules {
    display: block;
  }
}
.perks_wrapper .perks_rules .perks_services {
  max-width: 545px;
}
@media (max-width: 1200px) {
  .perks_wrapper .perks_rules .perks_services {
    max-width: 460px;
  }
}
@media (max-width: 1000px) {
  .perks_wrapper .perks_rules .perks_services {
    max-width: 325px;
  }
}
@media (max-width: 600px) {
  .perks_wrapper .perks_rules .perks_services {
    max-width: 100%;
  }
}
.perks_wrapper .perks_rules .perks_services ul li {
  position: relative;
  padding-left: 45px;
  margin-bottom: 30px;
}
.perks_wrapper .perks_rules .perks_services ul li:hover span:before {
  transform: rotate(0deg);
}
.perks_wrapper .perks_rules .perks_services ul li:nth-child(even) span:before {
  background: #1D4354 !important;
}
@media (max-width: 1600px) {
  .perks_wrapper .perks_rules .perks_services ul li {
    padding-left: 45px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1000px) {
  .perks_wrapper .perks_rules .perks_services ul li {
    padding-left: 52px;
  }
}
@media (max-width: 600px) {
  .perks_wrapper .perks_rules .perks_services ul li {
    padding-left: 0;
    padding-top: 40px;
  }
}
.perks_wrapper .perks_rules .perks_services ul li span {
  font-size: 28px;
  position: absolute;
  left: 0;
  top: 9px;
  font-family: "CloverDisplay-Bold", sans-serif;
  color: #1D4354;
}
@media (max-width: 1600px) {
  .perks_wrapper .perks_rules .perks_services ul li span {
    font-size: 22px;
  }
}
@media (max-width: 1000px) {
  .perks_wrapper .perks_rules .perks_services ul li span {
    top: 10px;
    font-size: 20px;
  }
}
.perks_wrapper .perks_rules .perks_services ul li span:before {
  content: "";
  display: inline-block;
  width: 20px;
  transform: rotate(15deg);
  height: 20px;
  margin-right: 40px;
  background: #6BB64A;
  transition: all 0.4s ease-in-out;
}
.perks_wrapper .perks_rules .perks_services ul li section h3 {
  margin: 0 0 20px;
  font-size: 28px;
  font-family: "CloverDisplay-Bold", sans-serif;
}
@media (max-width: 1600px) {
  .perks_wrapper .perks_rules .perks_services ul li section h3 {
    margin: 0 0 12px;
    font-size: 25px;
  }
}
@media (max-width: 1000px) {
  .perks_wrapper .perks_rules .perks_services ul li section h3 {
    font-size: 20px;
    margin: 0 0 5px;
  }
}
.perks_wrapper .perks_rules .perks_services ul li section p {
  margin: 0;
  font-size: 24px;
  line-height: 36px;
  font-family: "Apercu-Light", sans-serif;
}
@media (max-width: 1600px) {
  .perks_wrapper .perks_rules .perks_services ul li section p {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 1000px) {
  .perks_wrapper .perks_rules .perks_services ul li section p {
    font-size: 16px;
    line-height: 24px;
  }
}
.perks_wrapper .perks_rules .perks_services ul li:last-child {
  margin-bottom: 0;
}
.perks_wrapper .perks_rules .perks_image {
  margin: 0 auto 0 0;
  position: relative;
}
@media (max-width: 1600px) {
  .perks_wrapper .perks_rules .perks_image {
    max-width: 550px;
  }
}
@media (max-width: 1200px) {
  .perks_wrapper .perks_rules .perks_image {
    max-width: 475px;
    margin: 0 auto 0 0;
  }
}
@media (max-width: 1000px) {
  .perks_wrapper .perks_rules .perks_image {
    max-width: 370px;
  }
}
@media (max-width: 600px) {
  .perks_wrapper .perks_rules .perks_image {
    width: 100%;
    max-width: 100%;
  }
}
.perks_wrapper .perks_rules .perks_image img {
  max-width: 100%;
  position: relative;
  z-index: 1;
  height: auto;
  margin-bottom: 25px;
}
.perks_wrapper.metaverse_future {
  background-color: #fff;
}
@media (max-width: 1000px) {
  .perks_wrapper.metaverse_future {
    padding: 60px 0 40px;
  }
}
.perks_wrapper.metaverse_future .greenLine {
  padding-top: 25px;
}
@media (max-width: 1000px) {
  .perks_wrapper.metaverse_future .greenLine {
    padding-top: 12px;
  }
}
@media (max-width: 600px) {
  .perks_wrapper.metaverse_future .greenLine {
    padding-top: 0;
    margin-top: -15px;
  }
}
.perks_wrapper.metaverse_future .perks_services ul li {
  padding-left: 185px;
}
@media (max-width: 1000px) {
  .perks_wrapper.metaverse_future .perks_services ul li {
    padding-left: 140px;
    padding-top: 0;
  }
}
.perks_wrapper.metaverse_future .perks_services ul li span {
  white-space: break-spaces;
  left: 0px;
  color: #1D4354;
  font-size: 28px;
  line-height: 29px;
  border-top: 2px solid #1d435a;
  padding-top: 5px;
}
@media (max-width: 1600px) {
  .perks_wrapper.metaverse_future .perks_services ul li span {
    font-size: 23px;
  }
}
@media (max-width: 1000px) {
  .perks_wrapper.metaverse_future .perks_services ul li span {
    font-size: 18px;
  }
}
.perks_wrapper.metaverse_future .perks_services ul li span::before {
  content: none !important;
}
.perks_wrapper.metaverse_future .perks_services ul li span p {
  margin: 0;
  color: #A79FA3;
  font-size: 16px;
}
.perks_wrapper.metaverse_future .perks_services ul li:last-child {
  margin-bottom: 0;
}
.perks_wrapper.metaverse_future .perks_image img {
  margin-top: 20px;
}/*# sourceMappingURL=MetaverseBenefits.module.css.map */