.mobile_custom_app {
  background: #1D4354 url("../../../../../../public/assets/images/services/custom-bg.svg");
  padding: 100px 0;
}
@media (max-width: 1000px) {
  .mobile_custom_app {
    padding: 60px 0;
  }
}
@media (max-width: 767px) {
  .mobile_custom_app {
    padding-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .mobile_custom_app .content_box_flex {
    flex-direction: column;
  }
}
.mobile_custom_app .top_tab_bar {
  border-bottom: 2px solid #E8E8E8;
  margin-bottom: 50px;
}
@media (max-width: 1600px) {
  .mobile_custom_app .top_tab_bar {
    margin-bottom: 30px;
  }
}
@media (max-width: 1000px) {
  .mobile_custom_app .top_tab_bar ul {
    overflow: auto;
  }
  .mobile_custom_app .top_tab_bar ul::-webkit-scrollbar {
    height: 0;
  }
}
.mobile_custom_app .top_tab_bar ul li {
  margin-right: 90px;
}
@media (max-width: 1600px) {
  .mobile_custom_app .top_tab_bar ul li {
    margin-right: 50px;
  }
}
@media (max-width: 1000px) {
  .mobile_custom_app .top_tab_bar ul li {
    margin-right: 30px;
  }
}
.mobile_custom_app .top_tab_bar ul li button {
  background: transparent;
  border: none;
  color: #CBCBCB;
  font-size: 20px;
  line-height: 33px;
  position: relative;
  text-transform: uppercase;
  padding-bottom: 16px;
}
@media (max-width: 1600px) {
  .mobile_custom_app .top_tab_bar ul li button {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 5px;
  }
}
@media (max-width: 1000px) {
  .mobile_custom_app .top_tab_bar ul li button {
    white-space: nowrap;
    font-size: 16px;
  }
}
.mobile_custom_app .top_tab_bar ul li button:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  transition: all 0.4s ease-in-out;
  background: #6BB64A;
  height: 4px;
}
.mobile_custom_app .top_tab_bar ul li button.active {
  color: #FFFFFF;
}
.mobile_custom_app .top_tab_bar ul li button.active:before {
  width: 100%;
  left: 0;
}
.mobile_custom_app .content_box_wrap {
  background: #F3F6FF;
  border-radius: 20px;
  padding: 40px 50px 50px;
  width: 55%;
}
@media (max-width: 1600px) {
  .mobile_custom_app .content_box_wrap {
    padding: 20px 30px 30px;
  }
}
@media (max-width: 767px) {
  .mobile_custom_app .content_box_wrap {
    width: 100%;
    margin-bottom: 30px;
    padding: 15px 20px 20px;
  }
}
.mobile_custom_app .content_box_wrap h3 {
  font-size: 39px;
  margin: 0 0 14px;
  text-transform: capitalize;
  font-family: "CloverDisplay-Medium", sans-serif;
}
@media (max-width: 1600px) {
  .mobile_custom_app .content_box_wrap h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1000px) {
  .mobile_custom_app .content_box_wrap h3 {
    font-size: 26px;
  }
}
.mobile_custom_app .content_box_wrap p {
  font-size: 24px;
  line-height: 40px;
  margin: 0 0 37px;
  font-family: "Apercu-Light", sans-serif;
}
@media (max-width: 1600px) {
  .mobile_custom_app .content_box_wrap p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 15px;
  }
}
@media (max-width: 1000px) {
  .mobile_custom_app .content_box_wrap p {
    font-size: 16px;
    line-height: 26px;
  }
}
.mobile_custom_app .content_box_wrap ul {
  margin-bottom: 45px;
}
@media (max-width: 1600px) {
  .mobile_custom_app .content_box_wrap ul {
    margin-bottom: 20px;
  }
}
.mobile_custom_app .content_box_wrap ul li {
  font-family: "Apercu-Light", sans-serif;
  color: #969696;
  opacity: 0.9;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 5px;
}
.mobile_custom_app .content_box_wrap ul li i {
  font-size: 15px;
  color: #6BB64A;
  margin-right: 15px;
}
@media (max-width: 1600px) {
  .mobile_custom_app .content_box_wrap ul li {
    font-size: 20px;
    line-height: 35px;
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .mobile_custom_app .content_box_wrap ul li {
    font-size: 18px;
    line-height: 32px;
  }
}
.mobile_custom_app .apps_list {
  width: 45%;
}
@media (max-width: 767px) {
  .mobile_custom_app .apps_list {
    width: 100%;
  }
}
.mobile_custom_app .apps_list ul {
  align-items: center;
}
.mobile_custom_app .apps_list ul li {
  width: 33.333%;
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1600px) {
  .mobile_custom_app .apps_list ul li {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .mobile_custom_app .apps_list ul li {
    margin-bottom: 20px;
  }
}
.mobile_custom_app .apps_list ul li img {
  margin-bottom: 25px;
  transition: all 0.4s ease-in-out;
  -o-object-fit: contain;
     object-fit: contain;
  width: auto;
}
@media (max-width: 1600px) {
  .mobile_custom_app .apps_list ul li img {
    width: 42px;
    margin-bottom: 10px;
    height: auto;
  }
}
.mobile_custom_app .apps_list ul li span {
  display: block;
  text-align: center;
  font-size: 24px;
  color: #FFFFFF;
}
@media (max-width: 1000px) {
  .mobile_custom_app .apps_list ul li span {
    font-size: 16px;
  }
}
.mobile_custom_app .apps_list ul li:hover img {
  transform: scale(0.9) rotate(-10deg);
}/*# sourceMappingURL=mobileApp.module.css.map */