@import "../../../../../../styles/variables";
.mobile_custom_app {
  background: #1D4354 url('../../../../../../public/assets/images/services/custom-bg.svg');
  padding: 100px 0;
  @media (max-width: $breakpoint_tablet) {
    padding: 60px 0;
  }
  @media (max-width: $breakpoint_mobile_landscape) {
    padding-bottom: 30px;
  }
  .content_box_flex {
    @media (max-width: $breakpoint_mobile_landscape) {
      flex-direction: column;
    }
  }
  .top_tab_bar {
    border-bottom: 2px solid #E8E8E8;
    margin-bottom: 50px;
    @media (max-width: 1600px) {
      margin-bottom: 30px;
    }
    ul {
      @media (max-width: $breakpoint_tablet) {
        overflow: auto;
        &::-webkit-scrollbar {height: 0}
      }
      li {
        margin-right: 90px;
        @media (max-width: 1600px) {
          margin-right: 50px;
        }
        @media (max-width: $breakpoint_tablet) {
          margin-right: 30px;
        }
        button {
          background: transparent;
          border: none;
          color: #CBCBCB;
          font-size: 20px;
          line-height: 33px;
          position: relative;
          text-transform: uppercase;
          padding-bottom: 16px;
          @media (max-width: 1600px) {
            font-size: 18px;
            line-height: 30px;
            padding-bottom: 5px;
          }
          @media (max-width: $breakpoint_tablet) {
            white-space: nowrap;
            font-size: 16px;
          }
          &:before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -2px;
            width: 0;
            transition: all 0.4s ease-in-out;
            background: #6BB64A;
            height: 4px;
          }
          &.active {
            color: #FFFFFF;
            &:before {
              width: 100%;
              left: 0;
            }
          }
        }
      }
    }
  }
  .content_box_wrap {
    background: #F3F6FF;
    border-radius: 20px;
    padding: 40px 50px 50px;
    width: 55%;
    @media (max-width: 1600px) {
      padding: 20px 30px 30px;
    }
    @media (max-width: $breakpoint_mobile_landscape) {
      width: 100%;
      margin-bottom: 30px;
      padding: 15px 20px 20px;
    }
    h3 {
      font-size: 39px;
      margin: 0 0 14px;
      text-transform: capitalize;
      font-family: 'CloverDisplay-Medium', sans-serif;
      @media (max-width: 1600px) {
        font-size: 30px;
        margin-bottom: 10px;
      }
      @media (max-width: $breakpoint_tablet) {
        font-size: 26px;
      }
    }
    p {
      font-size: 24px;
      line-height: 40px;
      margin: 0 0 37px;
      @media (max-width: 1600px) {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 15px;
      }
      @media (max-width: $breakpoint_tablet) {
        font-size: 16px;
        line-height: 26px;
      }
      font-family: "Apercu-Light", sans-serif;
    }
    ul {
      margin-bottom: 45px;
      @media (max-width: 1600px) {
        margin-bottom: 20px;
      }
      li {
        font-family: "Apercu-Light", sans-serif;
        i {
          font-size: 15px;
          color: #6BB64A;
          margin-right: 15px;
        }
        color: #969696;
        opacity: 0.9;
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 5px;
        @media (max-width: 1600px) {
          font-size: 20px;
          line-height: 35px;
          margin: 0;
        }
        @media (max-width: $breakpoint_tablet) {
          font-size: 18px;
          line-height: 32px;
        }
      }
    }
  }
  .apps_list {
    width: 45%;
    @media (max-width: $breakpoint_mobile_landscape) {
      width: 100%;
    }
    ul {
      align-items: center;
      li {
        width: 33.333%;
        text-align: center;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 1600px) {
          margin-bottom: 30px;
        }
        @media (max-width: $breakpoint_mobile_landscape) {
          margin-bottom: 20px;
        }
        img {
          margin-bottom: 25px;
          transition: all 0.4s ease-in-out;
          object-fit: contain;
          width: auto;
          @media (max-width: 1600px) {
            width: 42px;
            margin-bottom: 10px;
            height: auto;
          }
        }
        span {
          display: block;
          text-align: center;
          font-size: 24px;
          color: #FFFFFF;
          @media (max-width: $breakpoint_tablet) {
            font-size: 16px;
          }
        }
        &:hover {
          img {
            transform: scale(0.9) rotate(-10deg);
          }
        }
      }
    }
  }
}