@import "../../../../../../styles/variables";
.sass_service_wrapper {
  background: #1D4354;
  padding: 100px 0 80px;
  @media (max-width: $breakpoint_mobile_landscape) {
    & > div {
      flex-direction: column;
    }
  }
  .contact_btn {
    max-width: 300px;
  }
  .section_title {
    width: 49%;
    padding-right: 125px;
    margin: 0;
    text-align: left;
    @media (max-width: $breakpoint_mobile_landscape) {
      width: 100%;
      padding: 0;
      margin: 0 0 50px;
    }
    p {
      width: 100%;
      margin: 0 0 50px;
      font-family: "Apercu-Light", sans-serif;
      @media (max-width: $breakpoint_mobile_landscape) {
        margin-bottom: 20px;
      }
    }
  }
  .services_list {
    width: 51%;
    @media (max-width: $breakpoint_mobile_landscape) {
      width: 100%;
    }
    ul {
      margin: 0 -14px;
      li {
        margin: 0 0 24px;
        width: 50%;
        padding: 0 12px;
        section {
          background: #F3F6FF;
          display: flex;
          align-items: center;
          height: 110px;
          border: 2px solid #F3F6FF;
          border-radius: 8px;
          transition: all 0.4s ease-in-out;
          padding: 24px 0 24px 24px;
          @media (max-width: $breakpoint_laptop) {
            padding: 15px 0 15px 15px;
            height: 86px;
          }
          @media (max-width: $breakpoint_mobile_landscape) {
            flex-direction: column;
            height: auto;
            text-align: center;
            padding: 10px;
          }
          &:hover {
            border-color: #FFFFFF;
            background: #6BB64A;
            h3 { color: #FFFFFF;}
          }
          img {
            margin-right: 20px;
            width: 62px;
            height: 62px;
            @media (max-width: $breakpoint_laptop) {
              width: 50px;
              height: 50px;
              margin-right: 15px;
            }
            @media (max-width: $breakpoint_mobile_landscape) {
              margin: 0 0 10px;
            }
          }
          h3 {
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            margin: 0;
            transition: all 0.4s ease-in-out;
            @media (max-width: $breakpoint_laptop) {
              font-size: 16px;
              line-height: 28px;
            }
            @media (max-width: $breakpoint_mobile_landscape) {
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}