.enterprises {
  text-align: center;
  margin: -110px 0 100px;
  position: relative;
  z-index: 9;
}
.enterprises.about_wrap {
  margin-top: 0;
}
@media (max-width: 1000px) {
  .enterprises {
    margin: -90px 0 0;
  }
}
@media (max-width: 600px) {
  .enterprises {
    margin: -140px 0 0;
  }
}
.enterprises .enterprises_content {
  background: #12262F;
  background-size: cover;
  padding: 40px 50px;
  max-width: 1137px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1600px) {
  .enterprises .enterprises_content {
    max-width: 930px;
  }
}
@media (max-width: 999px) {
  .enterprises .enterprises_content {
    padding: 20px 25px 30px;
  }
}
@media (max-width: 600px) {
  .enterprises .enterprises_content {
    display: block;
  }
}
.enterprises .enterprises_content .enterprises_title {
  max-width: 70%;
  width: 100%;
  text-align: left;
}
@media (max-width: 600px) {
  .enterprises .enterprises_content .enterprises_title {
    max-width: 100%;
    text-align: center;
  }
}
.enterprises .enterprises_content .enterprises_title h2 {
  font-size: 28px;
  margin: 0 0 10px;
  color: #FFFFFF;
}
@media (max-width: 1600px) {
  .enterprises .enterprises_content .enterprises_title h2 {
    font-size: 28px;
  }
}
@media (max-width: 999px) {
  .enterprises .enterprises_content .enterprises_title h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
.enterprises .enterprises_content .enterprises_title h2 span {
  color: #12262F;
  background: #FFFFFF;
  padding: 0 10px;
}
.enterprises .enterprises_content .enterprises_title p {
  font-size: 24px;
  font-family: "Apercu-Light", sans-serif;
  color: #FFFFFF;
  line-height: 40px;
  margin: 0 auto 10px;
}
@media (max-width: 1600px) {
  .enterprises .enterprises_content .enterprises_title p {
    line-height: 30px;
    font-size: 20px;
  }
}
@media (max-width: 999px) {
  .enterprises .enterprises_content .enterprises_title p {
    font-size: 17px;
    line-height: 25px;
  }
}
.enterprises .enterprises_content .contact_btn {
  margin: 0 auto;
  background: #FFFFFF;
  color: #12262F;
  box-shadow: 5px 5px 0 rgba(255, 255, 255, 0.3);
}
.enterprises .enterprises_content .contact_btn:hover {
  box-shadow: none;
}
.enterprises .enterprises_content .contact_btn img {
  filter: brightness(0);
}
.enterprises.metaverse_expert {
  margin: 0;
  padding-bottom: 90px;
}
.enterprises.metaverse_expert .enterprises_content {
  background: linear-gradient(90deg, #6BB64A 0%, #1D4354 100%);
  border-radius: 20px;
}
.enterprises.metaverse_expert .enterprises_content .enterprises_title {
  max-width: 50%;
}
@media (max-width: 600px) {
  .enterprises.metaverse_expert .enterprises_content .enterprises_title {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
.enterprises.metaverse_expert .enterprises_content .contact_btn {
  margin-right: 0;
  background: #6BB64A;
  color: #fff;
  box-shadow: 5px 5px 0 rgba(106, 182, 74, 0.3294117647);
}
@media (max-width: 600px) {
  .enterprises.metaverse_expert .enterprises_content .contact_btn {
    margin-right: auto;
  }
}
.enterprises.metaverse_expert .enterprises_content .contact_btn:hover {
  box-shadow: none;
}
.enterprises.metaverse_expert .enterprises_content .contact_btn img {
  filter: grayscale(1);
}/*# sourceMappingURL=BlockchainEnterprise.module.css.map */