@import "../../../../../../styles/variables";
.maintenance_support {
  padding: 100px 0 70px;
  background: #F3F6FF;
  .maintenance_support_content {
    ul {
      margin: 0 -13px;
      li {
        padding: 0 13px;
        width: 33.333%;
        margin: 0 0 26px;
        @media (max-width: $breakpoint_tablet) {
          width: 50%;
        }
        @media (max-width: $breakpoint_mobile_landscape) {
          width: 100%;
        }
        section {
          align-items: center;
          padding: 35px 40px;
          border-radius: 13px;
          background: #FFF;
          justify-content: center;
          box-shadow: 0 39.08296585083008px 54.28190231323242px 0 #EBEBEB;
          @media (max-width: $breakpoint_laptop) {
            padding: 20px;
          }
          h3 {
            margin: 0;
            font-size: 28px;
            @media (max-width: $breakpoint_laptop) {
              font-size: 20px;
            }
          }
          a {
            text-decoration: underline;
            text-transform: uppercase;
            font-size: 18px;
            font-family: "Apercu-Bold", sans-serif;
            color: #6BB64A;
            @media (max-width: $breakpoint_laptop) {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}