@import "../../../../../../styles/variables";
.enterprise_tool_wrap {
  padding: 100px 0 80px;
  background: #F3F6FF;
  @media (max-width: $breakpoint_laptop) {
    padding: 80px 0 60px;
  }
  .enterprise_tool {
    & > ul {
      margin: 0 -12px;
      & > li {
        width: 26%;
        padding: 0 12px;
        margin-bottom: 24px;
        @media (max-width: $breakpoint_mobile_landscape) {
          width: 100% !important;
        }
        &:first-child {
          width: 48%;
        }
        section {
          padding: 30px;
          border-radius: 20px;
          background: #FFF;
          box-shadow: 0 2.0832479000091553px 3.623039960861206px 0 rgba(0, 0, 0, 0.02), 0 5.759913921356201px 10.017241477966309px 0 rgba(0, 0, 0, 0.04), 0 13.867653846740723px 24.117658615112305px 0 rgba(0, 0, 0, 0.05), 0 46px 80px 0 rgba(0, 0, 0, 0.07);
          h3 {
            display: flex;
            align-items: center;
            font-size: 28px;
            color: #1D4354;
            margin: 0 0 30px;
            gap: 20px;
          }
          ul {
            margin: 0 -10px;
            li {
              margin-bottom: 15px;
              padding: 0 10px;
              span {
                color: #969696;
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                padding: 0 11px;
                height: 44px;
                border: 1px solid #3E3E3E;
                transition: all 0.4s ease-in-out;
                @media (max-width: $breakpoint_laptop) {
                  font-size: 15px;
                  height: 34px;
                }
                &:hover {
                  background-color: #1d435a;
                  color: #FFFFFF;
                  border-color: #1d435a;
                }
              }
            }
          }
        }
      }
    }
  }
}