@import "../../../../styles/variables";
.vision_wrapper {
  background: url('../../../../public/assets/images/company/vision-bg.png') no-repeat top center;
  background-size: cover;
  @media screen and (max-width: $breakpoint_mobile_landscape) {
    & > div {
      flex-direction: column;
    }
  }
  figure {
    margin: 0 0 0 auto;
    @media screen and (max-width: $breakpoint_tablet) {
      display: none;
    }
    @media screen and (max-width: $breakpoint_mobile_portrait) {
      display: block;
    }
  }
}
.vision_text {
  @media screen and (max-width: $breakpoint_tablet) {
    padding: 50px 0;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding: 0;
  }
  h2 {
    margin: 0 0 20px;
    font-size: 39px;
    color: #1F173A;
    line-height: 1;
    @media screen and (max-width: $breakpoint_mobile_landscape) {
      margin: 0 0 10px;
      font-size: 30px;
    }
  }
  p {
    color: #969696;
    opacity: 0.9;
    margin: 0;
    font-size: 24px;
    line-height: 42px;
    font-family: "Apercu-Light", sans-serif;
    @media screen and (max-width: $breakpoint_mobile_landscape) {
      font-size: 18px;
      line-height: 30px;
    }
  }
}
.vision_wrapper_simple {
  margin: -100px 0 50px;
  @media screen and (max-width: $breakpoint_tablet) {
    margin-top: 0;
  }
  figure {
    margin: 0 auto 0 0;
    @media screen and (max-width: $breakpoint_tablet) {
      display: none;
    }
  }
}