@import "../../../../../../styles/variables";
.key_facts {
  background: #6BB64A;
  padding: 100px 0;
  @media (max-width: $breakpoint_tablet) {
    padding: 60px 0 20px;
  }
  .section_title{
    margin: 0 auto 50px;
    h2 {
      font-size: 48px;
      color: #1D4354;
      @media (max-width: $breakpoint_laptop) {
        font-size: 34px;
      }
    }
    p{
      color: white;
    }
  }
  ul {
    gap: 48px;
    @media (max-width: $breakpoint_mobile_landscape) {
      flex-wrap: wrap;
      gap: 0;
    }
    li {
      width: 25%;
      @media (max-width: $breakpoint_mobile_landscape) {
        width: 50%;
        margin: 0 0 40px;
      }
      .key_list {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 26px;
        border: 1px solid transparent;
        transition: all 0.4s ease-in-out;
        border-radius: 10px;
        @media (max-width: $breakpoint_laptop) {
          gap: 20px;
        }
        &:hover {
          figure {
            background: #6BB64A;
            img { filter: brightness(20);}
          }
          section {
            h2 {
              margin: 0;
              color: #d8d8d8;
            }
          }
        }
        figure {
          background: #FFFFFF;
          margin: 0;
          flex: 0 0 48px;
          width: 48px;
          height: 48px;
          border-radius: 13px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        section {
         img{
          width: 70px;
          height: 70px;
          margin-bottom: 20px;
         }
          h2 {
            margin: 0;
            font-size: 26px;
            line-height: 36px;
            font-weight: bold;
            color: #fff;
            opacity: 0.9;
            @media (max-width: $breakpoint_laptop) {
              font-size: 18px;
              line-height: 28px;
            }
          }
        }
      }
    }
  }
}