@import "../../../../styles/variables";
.case_table_contents {
  padding: 100px 0;
  @media (max-width: $breakpoint_laptop) {
    padding: 80px 0;
  }
  @media (max-width: $breakpoint_tablet) {
    padding: 60px 0;
  }
  & > div {
    max-width: 1170px;
    @media (max-width: $breakpoint_mobile_portrait) {
      flex-direction: column-reverse;
    }
  }
  section {
    h2 {
      display: inline-block;
      background: url("../../../../public/assets/images/services/title-bottom.svg") no-repeat bottom;
      background-size: contain;
      font-size: 48px;
      margin: 0 0 40px;
      @media (max-width: $breakpoint_tablet) {
        font-size: 34px;
      }
    }
    ul {
      li {
        font-size: 28px;
        line-height: 42px;
        color: #1D4354;
        font-family: "CloverDisplay-Bold", sans-serif;
        display: flex;
        gap: 30px;
        margin-bottom: 20px;
        @media (max-width: $breakpoint_tablet) {
          font-size: 22px;
          line-height: 34px;
        }
        span {
          font-family: "CloverDisplay", sans-serif;
          text-decoration: underline;
        }
      }
    }
  }
  svg {
    margin-left: auto;
    @media (max-width: $breakpoint_mobile_portrait) {
      margin: 0 auto 20px;
    }
  }
}
