@import "../../../../../../styles/variables";
.test_quality_assurance {
  padding: 0 0 100px;
  .test_quality {
    padding: 60px 119px;
    border-radius: 40px;
    background: #F3F6FF url("../../../../../../public/assets/images/services/fancy-shape.png") right bottom no-repeat;
    box-shadow: 0 2.767256498336792px 2.2138051986694336px 0 rgba(0, 0, 0, 0.07), 0 6.650102138519287px 5.32008171081543px 0 rgba(0, 0, 0, 0.05), 0 12.521552085876465px 10.017241477966309px 0 rgba(0, 0, 0, 0.04), 0 22.3363094329834px 17.869047164916992px 0 rgba(0, 0, 0, 0.04), 0 41.777610778808594px 33.422088623046875px 0 rgba(0, 0, 0, 0.03), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
    @media (max-width: $breakpoint_laptop) {
      padding: 50px 70px;
    }
    @media (max-width: $breakpoint_tablet) {
      padding: 30px;
    }
    h3 {
      font-size: 39px;
      margin: 0 0 20px;
      font-family: "CloverDisplay", sans-serif;
      @media (max-width: $breakpoint_laptop) {
        font-size: 30px;
      }
    }
    .test_quality_title {
      display: flex;
      margin-bottom: 40px;
      justify-content: space-between;
      @media (max-width: $breakpoint_mobile_landscape) {
        svg {
          display: none;
        }
      }
      section {
        max-width: 80%;
        @media (max-width: $breakpoint_mobile_landscape) {
          max-width: 100%;
        }
        h2 {
          font-size: 48px;
          margin: 0;
          @media (max-width: $breakpoint_laptop) {
            font-size: 34px;
          }
        }
        p {
          font-size: 24px;
          line-height: 36px;
          margin: 0;
          @media (max-width: $breakpoint_laptop) {
            font-size: 18px;
            line-height: 28px;
          }
          span {
            font-family: "Apercu-Bold", sans-serif;
            color: #6BB64A;
          }
        }
      }
    }
    .test_quality_content {
      margin: 0 -20px;
      section {
        width: 50%;
        padding: 0 20px;
        margin-bottom: 30px;
        @media (max-width: $breakpoint_tablet) {
          width: 100%;
        }
        h4 {
          margin: 0 0 11px;
          font-size: 24px;
        }
        p {
          font-size: 20px;
          line-height: 30px;
          margin: 0;
          @media (max-width: $breakpoint_laptop) {
            font-size: 18px;
            line-height: 28px;
          }
        }
      }
    }
  }
}