@import "../../../../../../styles/variables";
.offer_wrapper {
  background: #1E4658 url('../../../../../../public/assets/images/services/custom-bg.svg');
  padding: 100px 0 200px;
  @media (max-width: $breakpoint_laptop) {
    padding: 80px 0 170px;
  }
  position: relative;
  .offer_list {
    ul {
      margin: 0 -17px;
      li {
        width: 33.333%;
        padding: 0 17px;
        margin-bottom: 35px;
        @media (max-width: $breakpoint_mobile_portrait) {
         width: 100%;
         }
        section {
          box-shadow: 0 4.60256px 4.60256px rgba(0, 0, 0, 0.25), inset 0 0.402724px 0.402724px rgba(255, 255, 255, 0.25);
          border-radius: 36.8205px;
          padding: 60px 40px 30px;
          background: #1D4354;
          height: 100%;
          overflow: hidden;
          position: relative;
          @media (max-width: $breakpoint_laptop) {
            padding-top: 40px;
          }
          @media (max-width: $breakpoint_tablet) {
            padding: 60px 20px 30px;
           }
          &:before {
            position: absolute;
            right: 0;
            content: "";
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            background: #1E4658 url('../../../../../../public/assets/images/services/box-shadow.webp') no-repeat top right;
          }
          &:hover {
            img {
              transform: rotate(20deg) scale(1.1);
              &.dapp_img {
                transform: scale(1.1);
                right: 55px;
                top: 32px;
              }
            }
          }
          img {
            position: absolute;
            right: 22px;
            top: 22px;
            transition: all 0.4s ease-in-out;
            @media (max-width: $breakpoint_laptop) {
              width: 70px;
            }
            &.dapp_img {
              opacity: 0.3;
              filter: blur(1.60256px);
              transform: scale(1.3);
              right: 17px;
              top: 22px;
            }
          }
          h3 {
            color: #FFFFFF;
            margin: 0 0 28px;
            font-size: 28px;
            position: relative;
            @media (max-width: $breakpoint_laptop) {
              font-size: 24px;
              margin: 0 0 20px;
            }
          }
          p {
            color: #E4E4E4;
            font-family: "Apercu-Light", sans-serif;
            font-size: 24px;
            line-height: 36px;
            opacity: 0.9;
            margin: 0;
            @media (max-width: $breakpoint_laptop) {
              font-size: 17px;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
}