@import "../../styles/variables";
.join_wrap {
  padding: 100px 0;
  @media screen and (max-width: $breakpoint_tablet) {
    padding: 60px 0;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    & > div {
      flex-direction: column;
    }
  }
  .join_text_wrap {
    width: 50%;
    @media screen and (max-width: $breakpoint_tablet) {
      width: 60%;
      padding-right: 20px;
    }
    @media screen and (max-width: $breakpoint_mobile_portrait) {
      width: 100%;
      margin-bottom: 30px;
      padding-right: 0;
    }
    h2 {
      margin: 0 0 20px;
      font-size: 48px;
      @media (max-width: 1600px) {
        font-size: 40px;
      }
      @media screen and (max-width: $breakpoint_tablet) {
        font-size: 24px;
        margin-bottom: 15px;
      }
      span {
        background: #6BB64A;
        color: #FFFFFF;
        padding: 0 10px;
      }
    }
    p {
      margin: 0 0 40px;
      font-size: 20px;
      line-height: 36px;
      @media screen and (max-width: $breakpoint_tablet) {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 20px;
      }
    }
  }
  .join_image {
    margin-left: auto;
    height: auto;
    @media (max-width: 1600px) {
      padding-left: 100px;
    }
    @media screen and (max-width: $breakpoint_tablet) {
      height: auto;
      max-width: 300px;
      padding-left: 0;
      margin-left: 0;
    }
  }
}