@import "../../../../../../styles/variables";
.case_study_wrapper {
  background-color: #1E4658;
  position: $position_rel;
  overflow: hidden;
  clip: rect(auto,auto,auto,auto);
  z-index: 2;
  &.ios_casestudy {
    .box_cases {
      .case_clip {
        width: 57%;
        background: url("../../../../../../public/assets/images/services/case-study-1.jpg") center fixed;
        background-size: cover;
        left: unset;
        @media (max-width: $breakpoint_mobile_landscape) {
          background: none;
          width: 100%;
        }
        .fixed_wrap {
          left: unset;
          right: 0;
          width: 57%;
          height: 650px;
          transform: translateY(-47%);
          @media (max-width: $breakpoint_laptop) {
            height: 550px;
          }
          @media (max-width: $breakpoint_mobile_landscape) {
            width: 100%;
          }
          .gallery_wrapper {
            .screen_wrap {
              width: 300px;
              @media (max-width: $breakpoint_laptop) {
                width: 240px;
              }
              img {
                max-height: 613px;
              }
            }
          }
        }
      }
      .case_study_content {
        flex-direction: column;
        align-items: flex-start;
        .left_column {
          max-width: 450px;
          span {
            margin-bottom: 40px;
            @media (max-width: $breakpoint_laptop) {
              margin-bottom: 20px;
            }
          }
          h3 {
            margin-bottom: 20px;
            max-width: 80%;
            @media (max-width: $breakpoint_laptop) {
              font-size: 30px;
              max-width: 70%;
            }
          }
          p {
            margin: 0 0 30px;
            line-height: 30px;
            color: #FFFFFF;
            font-size: 20px;
            @media (max-width: $breakpoint_laptop) {
              font-size: 18px;
              line-height: 26px;
            }
          }
        }
        .right_column { display: none;}
      }
    }
  }
  .box_cases {
    position: relative;
    overflow: hidden;
    clip: rect(auto,auto,auto,auto);
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 11;
    @media (max-width: $breakpoint_tablet) {
      min-height: 600px;
    }
    &:before {
      content: '';
      position: $position_abs;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background-image: url('../../../../../../public/assets/images/services/custom-bg.svg');
    }
    &.greenTheme {
      background-color: $green_color;
    }
    &.blueTheme {
      background-color: #1D4354;
    }
    .case_clip {
      clip: rect(auto,auto,auto,auto);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .fixed_wrap {
      position: fixed;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      height: 550px;
      width: 550px;
      text-align: center;
      .gallery_wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
        .screen_wrap {
          position: relative;
          overflow: hidden;
          width: 250px;
          @media (max-width: $breakpoint_laptop) {
            width: 200px;
          }
          @media (max-width: $breakpoint_tablet) {
            width: 160px;
          }
          img {
            width: 100%;
            height: auto;
            max-height: 510px;
            max-width: 510px;
          }
          .screen_clip_wrap {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .screen {
              position: absolute;
              left: 8px;
              right: 8px;
              top: 6px;
              bottom: 6px;
              border-radius: 26px;
              overflow: hidden;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: 50% 50%;
            }
          }
        }
      }
    }
  }
  .case_study_content {
    position: relative;
    @media (max-width: $breakpoint_mobile_landscape) {
      flex-direction: column;
      background: rgba(0,0,0,0.8);
      padding: 20px;
      border-radius: 15px;
    }
    .left_column {
      width: 100%;
      max-width: 375px;
      @media (max-width: $breakpoint_mobile_portrait) {
        width: 100%;
      }
      span {
        font-size: 16px;
        display: block;
        font-family: 'CloverDisplay-Bold', sans-serif;
        color: $white_color;
        margin-bottom: 59px;
        @media (max-width: $breakpoint_tablet) {
          margin-bottom: 20px;
        }
      }
      h3 {
        color: $white_color;
        margin: 0 0 59px;
        font-size: 39px;
        @media (max-width: $breakpoint_tablet) {
          font-size: 28px;
          margin-bottom: 30px;
        }
        @media (max-width: $breakpoint_mobile_landscape) {
          font-size: 20px;
        }
        @media (max-width: $breakpoint_mobile_portrait) {
          font-size: 24px;
        }
      }
      .contact_btn {
        max-width: 261px;
      }
    }
    .img_column {
      width: 100%;
      max-width: 550px;
    }
    .right_column{
      max-width: 375px;
      width: 100%;
      @media (max-width: $breakpoint_mobile_portrait) {
        max-width: 100%;
        width: 100%;
        margin-top: 30px;
      }
      p,small {
        margin: 0;
        color: #EFEFEF;
        opacity: 0.9;
        font-size: 24px;
        line-height: 40px;
        @media (max-width: $breakpoint_mobile_landscape) {
          font-size: 16px;
          line-height: 25px;
        }
        @media (max-width: $breakpoint_mobile_portrait) {
          font-size: 18px;
          line-height: 30px;
        }
      }
    }
  }
}

.native_case_study {
  position: relative;
  background-color: #6BB64A;
  padding: 100px 0;
  @media (max-width: $breakpoint_tablet) {
    padding: 60px 0;
  }
  &:before {
    content: '';
    position: $position_abs;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url('../../../../../../public/assets/images/services/custom-bg.svg');
  }
  .native_case_text {
    position: relative;
    width: 55%;
    @media (max-width: 1600px) {
      width: 62%;
    }
    @media (max-width: $breakpoint_mobile_portrait) {
      width: 100%;
    }
    small {
      color: #FFFFFF;
      font-size: 16px;
      display: block;
      margin-bottom: 24px;
      font-family: "CloverDisplay-Medium", sans-serif;
    }
    h2 {
      margin: 0 0 20px;
      font-size: 39px;
      max-width: 80%;
      line-height: 1.4;
      text-transform: capitalize;
      color: #FFFFFF;
      @media (max-width: 1600px) {
        font-size: 34px;
        max-width: 95%;
        margin-bottom: 10px;
      }
      @media (max-width: $breakpoint_tablet) {
        max-width: 100%;
        font-size: 24px;
      }
    }
    p {
      margin: 0 0 50px;
      color: #EFEFEF;
      opacity: 0.9;
      font-size: 24px;
      line-height: 40px;
      @media (max-width: 1600px) {
        font-size: 20px;
        line-height: 34px;
        margin-bottom: 30px;
      }
      @media (max-width: $breakpoint_tablet) {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 20px;
      }
    }
    .contact_btn {
      background: #12262F;
      padding: 0 27px;
      margin-bottom: 10px;
      max-width: 261px;
      box-shadow: 5px 5px 0 rgba(18, 38, 47, 0.3);
      &:hover { box-shadow: none}
    }
  }
}
.native_img_slide {
  z-index: 1;
  width: 45%;
  padding-right: 70px;
  @media (max-width: 1600px) {
    width: 38%;
  }
  @media (max-width: $breakpoint_tablet) {
    padding-right: 10px;
  }
  @media (max-width: $breakpoint_mobile_portrait) {
    padding-right: 0;
    width: 100%;
    margin-bottom: 30px;
  }
}