.case_study_wrapper {
  background-color: #1E4658;
  position: relative;
  overflow: hidden;
  clip: rect(auto, auto, auto, auto);
  z-index: 2;
}
.case_study_wrapper.ios_casestudy .box_cases .case_clip {
  width: 57%;
  background: url("../../../../../../public/assets/images/services/case-study-1.webp") center fixed;
  background-size: cover;
  left: unset;
}
@media (max-width: 767px) {
  .case_study_wrapper.ios_casestudy .box_cases .case_clip {
    background: none;
    width: 100%;
  }
}
.case_study_wrapper.ios_casestudy .box_cases .case_clip .fixed_wrap {
  left: unset;
  right: 0;
  width: 57%;
  height: 650px;
  transform: translateY(-47%);
}
@media (max-width: 1600px) {
  .case_study_wrapper.ios_casestudy .box_cases .case_clip .fixed_wrap {
    height: 550px;
  }
}
@media (max-width: 767px) {
  .case_study_wrapper.ios_casestudy .box_cases .case_clip .fixed_wrap {
    width: 100%;
  }
}
.case_study_wrapper.ios_casestudy .box_cases .case_clip .fixed_wrap .gallery_wrapper .screen_wrap {
  width: 300px;
}
@media (max-width: 1600px) {
  .case_study_wrapper.ios_casestudy .box_cases .case_clip .fixed_wrap .gallery_wrapper .screen_wrap {
    width: 240px;
  }
}
.case_study_wrapper.ios_casestudy .box_cases .case_clip .fixed_wrap .gallery_wrapper .screen_wrap img {
  max-height: 613px;
}
.case_study_wrapper.ios_casestudy .box_cases .case_study_content {
  flex-direction: column;
  align-items: flex-start;
}
.case_study_wrapper.ios_casestudy .box_cases .case_study_content .left_column {
  max-width: 450px;
}
.case_study_wrapper.ios_casestudy .box_cases .case_study_content .left_column span {
  margin-bottom: 40px;
}
@media (max-width: 1600px) {
  .case_study_wrapper.ios_casestudy .box_cases .case_study_content .left_column span {
    margin-bottom: 20px;
  }
}
.case_study_wrapper.ios_casestudy .box_cases .case_study_content .left_column h3 {
  margin-bottom: 20px;
  max-width: 80%;
}
@media (max-width: 1600px) {
  .case_study_wrapper.ios_casestudy .box_cases .case_study_content .left_column h3 {
    font-size: 30px;
    max-width: 70%;
  }
}
.case_study_wrapper.ios_casestudy .box_cases .case_study_content .left_column p {
  margin: 0 0 30px;
  line-height: 30px;
  color: #FFFFFF;
  font-size: 20px;
}
@media (max-width: 1600px) {
  .case_study_wrapper.ios_casestudy .box_cases .case_study_content .left_column p {
    font-size: 18px;
    line-height: 26px;
  }
}
.case_study_wrapper.ios_casestudy .box_cases .case_study_content .right_column {
  display: none;
}
.case_study_wrapper .box_cases {
  position: relative;
  overflow: hidden;
  clip: rect(auto, auto, auto, auto);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
@media (max-width: 1000px) {
  .case_study_wrapper .box_cases {
    min-height: 600px;
  }
}
.case_study_wrapper .box_cases:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url("../../../../../../public/assets/images/services/custom-bg.svg");
}
.case_study_wrapper .box_cases.greenTheme {
  background-color: #6bb64a;
}
.case_study_wrapper .box_cases.blueTheme {
  background-color: #1D4354;
}
.case_study_wrapper .box_cases .case_clip {
  clip: rect(auto, auto, auto, auto);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.case_study_wrapper .box_cases .fixed_wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 550px;
  width: 550px;
  text-align: center;
}
.case_study_wrapper .box_cases .fixed_wrap .gallery_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.case_study_wrapper .box_cases .fixed_wrap .gallery_wrapper .screen_wrap {
  position: relative;
  overflow: hidden;
  width: 250px;
}
@media (max-width: 1600px) {
  .case_study_wrapper .box_cases .fixed_wrap .gallery_wrapper .screen_wrap {
    width: 200px;
  }
}
@media (max-width: 1000px) {
  .case_study_wrapper .box_cases .fixed_wrap .gallery_wrapper .screen_wrap {
    width: 160px;
  }
}
.case_study_wrapper .box_cases .fixed_wrap .gallery_wrapper .screen_wrap img {
  width: 100%;
  height: auto;
  max-height: 510px;
  max-width: 510px;
}
.case_study_wrapper .box_cases .fixed_wrap .gallery_wrapper .screen_wrap .screen_clip_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.case_study_wrapper .box_cases .fixed_wrap .gallery_wrapper .screen_wrap .screen_clip_wrap .screen {
  position: absolute;
  left: 8px;
  right: 8px;
  top: 6px;
  bottom: 6px;
  border-radius: 26px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.case_study_wrapper .case_study_content {
  position: relative;
}
@media (max-width: 767px) {
  .case_study_wrapper .case_study_content {
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 15px;
  }
}
.case_study_wrapper .case_study_content .left_column {
  width: 100%;
  max-width: 375px;
}
@media (max-width: 600px) {
  .case_study_wrapper .case_study_content .left_column {
    width: 100%;
  }
}
.case_study_wrapper .case_study_content .left_column span {
  font-size: 16px;
  display: block;
  font-family: "CloverDisplay-Bold", sans-serif;
  color: #fff;
  margin-bottom: 59px;
}
@media (max-width: 1000px) {
  .case_study_wrapper .case_study_content .left_column span {
    margin-bottom: 20px;
  }
}
.case_study_wrapper .case_study_content .left_column h3 {
  color: #fff;
  margin: 0 0 59px;
  font-size: 39px;
}
@media (max-width: 1000px) {
  .case_study_wrapper .case_study_content .left_column h3 {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .case_study_wrapper .case_study_content .left_column h3 {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .case_study_wrapper .case_study_content .left_column h3 {
    font-size: 24px;
  }
}
.case_study_wrapper .case_study_content .left_column .contact_btn {
  max-width: 261px;
}
.case_study_wrapper .case_study_content .img_column {
  width: 100%;
  max-width: 550px;
}
.case_study_wrapper .case_study_content .right_column {
  max-width: 375px;
  width: 100%;
}
@media (max-width: 600px) {
  .case_study_wrapper .case_study_content .right_column {
    max-width: 100%;
    width: 100%;
    margin-top: 30px;
  }
}
.case_study_wrapper .case_study_content .right_column p, .case_study_wrapper .case_study_content .right_column small {
  margin: 0;
  color: #EFEFEF;
  opacity: 0.9;
  font-size: 24px;
  line-height: 40px;
}
@media (max-width: 767px) {
  .case_study_wrapper .case_study_content .right_column p, .case_study_wrapper .case_study_content .right_column small {
    font-size: 16px;
    line-height: 25px;
  }
}
@media (max-width: 600px) {
  .case_study_wrapper .case_study_content .right_column p, .case_study_wrapper .case_study_content .right_column small {
    font-size: 18px;
    line-height: 30px;
  }
}

.native_case_study {
  position: relative;
  background-color: #6BB64A;
  padding: 100px 0;
}
@media (max-width: 1000px) {
  .native_case_study {
    padding: 60px 0;
  }
}
.native_case_study:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url("../../../../../../public/assets/images/services/custom-bg.svg");
}
.native_case_study .native_case_text {
  position: relative;
  width: 55%;
}
@media (max-width: 1600px) {
  .native_case_study .native_case_text {
    width: 62%;
  }
}
@media (max-width: 600px) {
  .native_case_study .native_case_text {
    width: 100%;
  }
}
.native_case_study .native_case_text small {
  color: #FFFFFF;
  font-size: 16px;
  display: block;
  margin-bottom: 24px;
  font-family: "CloverDisplay-Medium", sans-serif;
}
.native_case_study .native_case_text h2 {
  margin: 0 0 20px;
  font-size: 39px;
  max-width: 80%;
  line-height: 1.4;
  text-transform: capitalize;
  color: #FFFFFF;
}
@media (max-width: 1600px) {
  .native_case_study .native_case_text h2 {
    font-size: 34px;
    max-width: 95%;
    margin-bottom: 10px;
  }
}
@media (max-width: 1000px) {
  .native_case_study .native_case_text h2 {
    max-width: 100%;
    font-size: 24px;
  }
}
.native_case_study .native_case_text p {
  margin: 0 0 50px;
  color: #EFEFEF;
  opacity: 0.9;
  font-size: 24px;
  line-height: 40px;
}
@media (max-width: 1600px) {
  .native_case_study .native_case_text p {
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 30px;
  }
}
@media (max-width: 1000px) {
  .native_case_study .native_case_text p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
  }
}
.native_case_study .native_case_text .contact_btn {
  background: #12262F;
  padding: 0 27px;
  margin-bottom: 10px;
  max-width: 261px;
  box-shadow: 5px 5px 0 rgba(18, 38, 47, 0.3);
}
.native_case_study .native_case_text .contact_btn:hover {
  box-shadow: none;
}

.native_img_slide {
  z-index: 1;
  width: 45%;
  padding-right: 70px;
}
@media (max-width: 1600px) {
  .native_img_slide {
    width: 38%;
  }
}
@media (max-width: 1000px) {
  .native_img_slide {
    padding-right: 10px;
  }
}
@media (max-width: 600px) {
  .native_img_slide {
    padding-right: 0;
    width: 100%;
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=caseStudy.module.css.map */