@import "../../../styles/variables";
.contact_cards_wrap {
  background: #F3F6FF;
  padding: 100px 0 90px;
  @media (max-width: $breakpoint_laptop) {
    padding: 80px 0 70px;
  }
  @media (max-width: $breakpoint_tablet) {
    padding: 60px 0 50px;
  }
  .contact_cards {
    ul {
      margin: 0 -15px;
      li {
        width: 33.333%;
        padding: 0 15px;
        margin-bottom: 60px;
        @media (max-width: $breakpoint_tablet) {
          width: 50%;
          margin-bottom: 30px;
        }
        @media (max-width: $breakpoint_mobile_portrait) {
          width: 100%;
        }
        section {
          background: #FFFFFF;
          border-radius: 20px;
          text-align: center;
          transition: all 0.4s ease-in-out;
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 40px 25px 23px;
          &:hover {
            background: #FFF;
            box-shadow: 0 2.767256498336792px 2.2138051986694336px 0 rgba(0, 0, 0, 0.02), 0 6.650102138519287px 5.32008171081543px 0 rgba(0, 0, 0, 0.03), 0 12.521552085876465px 10.017241477966309px 0 rgba(0, 0, 0, 0.04), 0 22.3363094329834px 17.869047164916992px 0 rgba(0, 0, 0, 0.04), 0 41.777610778808594px 33.422088623046875px 0 rgba(0, 0, 0, 0.05), 0 100px 80px 0 rgba(0, 0, 0, 0.07);
          }
          figure {
            margin: 0 auto 19px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 79px;
            height: 75px;
            border-radius: 10px;
            box-shadow: 0 2px 15px rgba(0,0,0,0.2);
          }
          h2 {
            font-size: 24px;
            margin: 0 0 16px;
            line-height: 1.3;
            white-space: pre-line;
            @media (max-width: $breakpoint_laptop) {
              font-size: 20px;
            }
          }
          p {
            font-size: 24px;
            line-height: 36px;
            white-space: pre-line;
            margin: 0 0 25px;
            @media (max-width: $breakpoint_laptop) {
              font-size: 18px;
              line-height: 28px;
            }
          }
          a {
            display: flex;
            color: #6BB64A;
            align-items: center;
            font-size: 18px;
            text-transform: uppercase;
            font-family: "CloverDisplay-Medium", sans-serif;
            gap: 10px;
          }
        }
      }
    }
    & > div {
      span {
        font-size: 24px;
        color: #627792;
        text-align: center;
        display: block;
        font-family: "CloverDisplay", sans-serif;
        a {
          font-family: "CloverDisplay-bold", sans-serif;
          color: #6BB64A;
        }
      }
    }
  }
}