@import "../../../../styles/variables";
.women_perks_wrap {
  padding: 100px 0;
  @media screen and (max-width: $breakpoint_tablet) {
    padding: 60px 0;
  }
  .women_perks_content {
    max-width: 80%;
    margin: 0 auto;
    @media screen and (max-width: $breakpoint_tablet) {
      max-width: 100%;
    }
    @media screen and (max-width: $breakpoint_mobile_portrait) {
      flex-direction: column;
    }
    figure {
      margin: 0 0 137px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        border-top: 100px solid #FFFFFF;
        border-right: 100px solid transparent;
      }
      @media screen and (max-width: $breakpoint_tablet) {
        width: 70%;
        img {
          width: 100%;
        }
      }
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        width: 100%;
        margin-bottom: 0;
      }
    }
    section {
      background: linear-gradient(0deg, #1D4354, #1D4354), #D9D9D9;
      padding: 40px;
      margin: 0 0 0 -185px;
      position: relative;
      @media screen and (max-width: $breakpoint_tablet) {
        width: 60%;
      }
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        margin: 0;
        padding: 20px;
        width: 100%;
      }
      &:before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        border-bottom: 55px solid #FFFFFF;
        border-left: 80px solid transparent;
      }
      h3 {
        margin: 0 0 20px;
        color: #FFFFFF;
        font-size: 28px;
        line-height: 30px;
        @media screen and (max-width: $breakpoint_tablet) {
          font-size: 24px;
        }
      }
      p {
        font-size: 24px;
        color: #E4E4E4;
        line-height: 36px;
        margin: 0;
        font-family: "Apercu-Light", sans-serif;
        opacity: 0.9;
        @media screen and (max-width: $breakpoint_tablet) {
          font-size: 18px;
          line-height: 30px;
        }
      }
    }
  }
}