@import "../../../../styles/variables";
.call_to_action {
  padding: 71px 0;
  background: url("../../../../public/assets/images/company/cal-to-action.webp") center;
  background-size: cover;
  @media screen and (max-width: $breakpoint_tablet) {
    padding: 60px 0;
  }
  .call_to_action_text {
    margin-left: auto;
    width: 48%;
    @media screen and (max-width: $breakpoint_tablet) {
      width: 60%;
    }
    @media screen and (max-width: $breakpoint_mobile_portrait) {
      width: 100%;
    }
    h2 {
      margin: 0 0 9px;
      color: #252B33;
      font-size: 48px;
      text-transform: capitalize;
      @media screen and (max-width: $breakpoint_tablet) {
        font-size: 28px;
      }
      span {
        background: #FFFFFF;
        padding: 0 10px;
      }
    }
    p {
      font-size: 24px;
      line-height: 36px;
      color: #252B33;
      margin: 0;
      opacity: 0.9;
      @media screen and (max-width: $breakpoint_mobile_landscape) {
        font-size: 20px;
      }
    }
  }
}