@import "../../../../../../styles/variables";
.middle_call_action {
  padding: 15px 0 0;
  background: #1E4658 url('../../../../../../public/assets/images/services/custom-bg.svg');
  position: relative;
  @media (max-width: $breakpoint_tablet) {
    padding: 60px 0 0;
  }
  & > div {
    align-items: center;
    @media (max-width: $breakpoint_tablet) {
      flex-direction: column;
    }
    section {
      width: 50%;
      @media (max-width: $breakpoint_tablet) {
        width: 100%;
      }
      h2 {
        margin: 0 0 10px;
        font-size: 48px;
        color: #FFFFFF;
        @media (max-width: $breakpoint_laptop) {
          font-size: 34px;
        }
        @media (max-width: $breakpoint_tablet) {
          font-size: 26px;
        }
        span {
          color: #6BB64A;
        }
      }
      p {
        color: #D0D0D0;
        font-size: 26px;
        line-height: 40px;
        margin: 0 0 30px;
        @media (max-width: $breakpoint_laptop) {
          font-size: 18px;
          line-height: 28px;
        }
      }
      a {
        background: transparent;
        border: 1px solid #FFF;
        box-shadow: none;
      }
    }
    & > img {
      margin-bottom: -75px;
      margin-left: auto;
      @media (max-width: $breakpoint_laptop) {
        max-width: 45%;
        height: unset;
      }
      @media (max-width: $breakpoint_tablet) {
        max-width: 100%;
      }
    }
  }
}