@import "../../../styles/variables";
.engagements {
  background-color: #1D4354;
  padding: 100px 0;
  z-index: 1;
  position: relative;
  @media (max-width: $breakpoint_laptop) {
    padding: 70px 0;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../../../public/assets/images/homepage/engagement_models/engagement.webp");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  @media (max-width: $breakpoint_tablet) {
    padding: 50px 0;
  }
  .engagement_data {
    img {
      margin-bottom: 30px;
      transition: all 0.4s ease-in-out;
      @media (max-width: $breakpoint_laptop) {
        width: 50px;
        height: 50px;
        margin: 20px 0 20px;
      }
      @media (max-width: $breakpoint_tablet) {
        margin-top: 0;
      }
    }
    ul {
      @media (max-width: $breakpoint_mobile_portrait) {
        flex-wrap: wrap;
      }
      li{
        width: 25%;
        margin-bottom: 60px;
        @media (max-width: $breakpoint_tablet) {
          margin-bottom: 20px;
        }
        @media (max-width: $breakpoint_mobile_portrait) {
          width: 50%;
        }
        &:hover {
          img { transform: scaleX(-1)}
        }
        h3 {
          color: white;
          margin: 0;
          font-size: 28px;
          font-family: CloverDisplay, sans-serif;
          white-space: pre-line;
          @media (max-width: $breakpoint_laptop) {
            font-size: 24px;
          }
          @media (max-width: $breakpoint_tablet) {
            font-size: 18px;
          }
        }
      }
    }
  }
  .engagement_link {
    text-transform: uppercase;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    font-family: 'Apercu-Bold', sans-serif;
    justify-content: center;
    transition: all 0.4s ease-in-out;
    @media (max-width: $breakpoint_tablet) {
      margin-top: 20px;
    }
    &:hover {
      i { margin-left: 20px; color: $green_color;}
      color: $green_color;
    }
    i {
      margin-left: 10px;
      transition: all 0.4s ease-in-out;
    }
  }
}
