@import "../../../../styles/variables.scss";
.events_wrapper {
  padding: 100px 0;
  background: #1D4354 url('../../../../public/assets/images/services/custom-bg.svg');
  @media screen and (max-width: $breakpoint_tablet) {
    padding: 60px 0 40px 0;
    }
  .events_list {
    position: relative;
    &>span {
      position: absolute;
      left: -50%;
      top: 50%;
      width: 999em;
      height: 60px;
      transform: translateY(-50%);
      background: #6BB64A;
      &:before {
        content: "";
        height: 15px;
        background: #6BB64A;
        width: 100%;
        position: absolute;
        left: 0;
        top: -30px;
      }
      &:after {
        content: "";
        height: 15px;
        background: #6BB64A;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -30px;
      }
    }
    ul {
      position: relative;
      margin: 0 -20px;
      @media (max-width: 1600px) {
        margin: 0 -15px;
      }
      li {
        width: 25%;
        padding: 0 20px;
        @media (max-width: 1600px) {
          padding: 0 15px;
        }
        @media screen and (max-width: $breakpoint_mobile_portrait) {
         width: 50%;
          }
        & > div {
          margin: 0 0 23px;
          @media screen and (max-width: $breakpoint_mobile_portrait) {
           margin: 0 0 10px;
            }
          & > img {
            border-radius: 50px 0;
            width: 100%;
            height: auto;
          }
        }
        h3 {
          font-size: 28px;
          color: #FFFFFF;
          margin: 0;
          @media (max-width: 1600px) {
            font-size: 22px;
          }
          @media screen and (max-width: $breakpoint_mobile_portrait) {
            font-size: 18px;
            margin-bottom: 20px;
            }
        }
      }
    }
  }
}