@import "../../../../../../styles/variables";
.services_process_wrapper {
  padding: 100px 0 70px;
  position: relative;
  .section_title {
    width: 80%;
    @media (max-width: $breakpoint_mobile_landscape) {
      width: 100%;
    }
  }
  .services_process {
    ul {
      @media (max-width: $breakpoint_mobile_landscape) {
        flex-wrap: wrap;
      }
      li {
        text-align: center;
        position: relative;
        margin-bottom: 30px;
        &:hover {
          & > svg {
            path {
              fill: #6BB64A;
            }
          }
          h3 {
            color: #6BB64A;
          }
          figure {
            svg {
              path {
                fill: #6BB64A;
                stroke: #1D4354;
              }
            }
          }
        }
        &:first-child {
          & > svg {
            transform: translateX(-60px);
            @media (max-width: $breakpoint_laptop) {
              transform: translateX(-35px);
            }
          }
        }
        & > svg {
          position: absolute;
          right: -100%;
          top: 55px;
          transform: translateX(-22px);
          transition: all 0.4s ease-in-out;
          @media (max-width: $breakpoint_laptop) {
            transform: translateX(-35px);
          }
        }
        &:last-child {
          & > svg {
            display: none;
          }
        }
        h3 {
          margin: 0;
          white-space: pre-line;
          font-size: 28px;
          font-weight: 500;
          font-family: "CloverDisplay-Medium", sans-serif;
          transition: all 0.4s ease-in-out;
          @media (max-width: $breakpoint_laptop) {
            font-size: 20px;
          }
        }
        figure {
          margin: 0 0 20px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            path {
              transition: all 0.4s ease-in-out;
            }
          }
          img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}