@import "../../../../../../styles/variables";
.mobile_industries_wrap {
  background: #F3F6FF;
  padding: 100px 0;
  @media (max-width: $breakpoint_tablet) {
    padding: 60px 0;
  }
  &.colored_overlay {
    background: #1E4658 url("../../../../../../public/assets/images/services/custom-bg.svg");
    .mobile_industries_list {
      ul {
        li {
          i {
            &:before {
              color: #FFFFFF;
            }
          }
          span {
            color: #FFFFFF;
          }
        }
      }
    }
  }
  .mobile_industries_list {
    ul {
      li {
        width: 16.6667%;
        margin-bottom: 77px;
        @media (max-width: 1600px) {
          margin-bottom: 50px;
        }
        @media (max-width: $breakpoint_tablet) {
          width: 25%;
          margin-bottom: 20px;
        }
        @media (max-width: $breakpoint_mobile_portrait) {
          width: 50%;
        }
        &:hover {
          i {
            &:before {
              color: #6BB64A;
            }
            transform: scale(0.9);
          }
        }
        i {
          &:before {
            color: #909090;
            transition: all 0.4s ease-in-out;
          }
          transition: all 0.4s ease-in-out;
          font-size: 61px;
          margin-bottom: 18px;
          @media (max-width: 1600px) {
            font-size: 45px;
            margin-bottom: 8px;
          }
          @media (max-width: $breakpoint_tablet) {
            font-size: 30px;
            margin-bottom: 5px;
          }
        }
        span {
          font-size: 24px;
          line-height: 42px;
          color: #12262F;
          @media (max-width: $breakpoint_mini_laptop) {
            font-size: 20px;
          }
          @media (max-width: $breakpoint_tablet) {
            font-size: 18px;
          }
        }
      }
    }
  }
}