@import "../../../../../../styles/variables";
.wallet_wrapper {
  background: #F3F6FF;
  padding: 100px 0;
  @media (max-width: $breakpoint_laptop) {
    padding: 80px 0;
  }
  @media (max-width: $breakpoint_tablet) {
   padding: 60px 0 40px;
  }
  &:before {
    content: '';
    position: absolute;
    right: 41px;
    top: 146px;
    background: url("../../../../../../public/assets/images/services/nftwallet.webp");
    width: 208px;
    height: 196px;
    @media (max-width: $breakpoint_laptop) {
      top: 50px;
    }
    @media (max-width: $breakpoint_mobile_portrait) {
      display: none;
     }
  }
  ul {
    margin: 0 -10px;
    li {
      padding: 0 10px;
      width: 50%;
      @media (max-width: $breakpoint_mobile_portrait) {
        width: 100%;
      }
      section {
        padding: 39px 27px;
        border: 1px solid #F3F6FF;
        border-radius: 40px;
        transition: all 0.4s ease-in-out;
        &:hover {
          border-color: #6BB64A;
          figure {
            background: #6BB64A;
            border-color: #6BB64A;
          }
        }
        figure {
          transition: all 0.4s ease-in-out;
          margin: 0 0 20px;
          width: 70px;
          height: 70px;
          border: 1px solid #ECECEC;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (max-width: $breakpoint_laptop) {
            width: 60px;
            height: 60px;
            img {
              width: auto;
              height: 30px;
            }
          }
        }
        h3 {
          margin: 0 0 15px;
          font-size: 28px;
          @media (max-width: $breakpoint_laptop) {
            font-size: 24px;
          }
        }
        p {
          font-size: 24px;
          color: #969696;
          opacity: 0.9;
          line-height: 36px;
          margin: 0;
          @media (max-width: $breakpoint_laptop) {
            font-size: 18px;
            line-height: 30px;
          }
        }
      }
    }
  }
}