.core_value_wrapper {
  background: url("../../../../public/assets/images/company/core-bg.webp") center fixed;
  background-size: cover;
  padding: 100px 0 60px;
}
@media screen and (max-width: 1000px) {
  .core_value_wrapper {
    padding: 60px 0 30px;
  }
}
.core_value_wrapper .core_value ul {
  margin: 0 -20px;
}
.core_value_wrapper .core_value ul li {
  margin-bottom: 40px;
  width: 33.333%;
  padding: 0 20px;
}
@media screen and (max-width: 1000px) {
  .core_value_wrapper .core_value ul li {
    margin-bottom: 20px;
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .core_value_wrapper .core_value ul li {
    width: 100%;
  }
}
.core_value_wrapper .core_value ul li.core_section_title {
  width: 66.666%;
}
@media screen and (max-width: 1000px) {
  .core_value_wrapper .core_value ul li.core_section_title {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .core_value_wrapper .core_value ul li.core_section_title {
    width: 100%;
  }
}
.core_value_wrapper .core_value ul li.core_section_title h2 {
  margin: 0 0 15px;
  color: #fff;
  font-size: 48px;
  text-transform: capitalize;
}
@media screen and (max-width: 1000px) {
  .core_value_wrapper .core_value ul li.core_section_title h2 {
    font-size: 30px;
  }
}
.core_value_wrapper .core_value ul li.core_section_title h2 span {
  background-color: #6BB64A;
  padding: 0 10px;
}
.core_value_wrapper .core_value ul li.core_section_title p {
  font-size: 26px;
  line-height: 40px;
  max-width: 60%;
  margin: 0;
  color: #E4E4E4;
  opacity: 0.9;
  font-family: "Apercu-Light", sans-serif;
}
@media screen and (max-width: 1000px) {
  .core_value_wrapper .core_value ul li.core_section_title p {
    max-width: 100%;
    font-size: 16px;
    line-height: 28px;
  }
}
.core_value_wrapper .core_value ul li section {
  border-bottom: 1px solid #9FA4A7;
  position: relative;
}
.core_value_wrapper .core_value ul li section:before {
  content: "";
  position: absolute;
  left: -21px;
  bottom: 30px;
  width: 5px;
  height: 63%;
  background-color: #6BB64A;
}
.core_value_wrapper .core_value ul li section span {
  color: #FFFFFF;
  opacity: 0.3;
  font-size: 68px;
  display: block;
  margin-bottom: 8px;
  line-height: 1;
  font-family: "CloverDisplay-Bold", sans-serif;
}
@media screen and (max-width: 1000px) {
  .core_value_wrapper .core_value ul li section span {
    font-size: 45px;
  }
}
.core_value_wrapper .core_value ul li section h3 {
  margin: 0 0 15px;
  color: #FFFFFF;
  font-size: 28px;
  line-height: 42px;
}
@media screen and (max-width: 1000px) {
  .core_value_wrapper .core_value ul li section h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
.core_value_wrapper .core_value ul li section p {
  margin: 0 0 30px;
  color: #E4E4E4;
  font-family: "Apercu-Light", sans-serif;
  opacity: 0.9;
  font-size: 24px;
  line-height: 36px;
}
@media screen and (max-width: 1000px) {
  .core_value_wrapper .core_value ul li section p {
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=CoreValue.module.css.map */