@import "../../../../../../styles/variables";
.benefits_support {
  padding: 100px 0 170px;
  background: #F3F6FF;
  position: relative;
  @media (max-width: $breakpoint_tablet) {
    padding: 60px 0 30px;
  }
  &:before {
    content: '';
    background: url("../../../../../../public/assets/images/services/montainshape.webp") center;
    height: 168px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
  }
  .benefits_support_content {
    position: relative;
    ul {
      margin: 0 -10px;
      li {
        padding: 0 10px;
        width: 25%;
        margin-bottom: 30px;
        @media (max-width: $breakpoint_tablet) {
          width: 50%;
        }
        @media (max-width: $breakpoint_mobile_landscape) {
          width: 100%;
        }
        section {
          text-align: center;
          padding: 30px;
          border-radius: 40px;
          border: 1px solid transparent;
          transition: all 0.4s ease-in-out;
          @media (max-width: $breakpoint_laptop) {
            padding: 20px;
          }
          @media (max-width: $breakpoint_tablet) {
            background: #FFF;
            box-shadow: 0 2.767256498336792px 2.2138051986694336px 0 rgba(0, 0, 0, 0.07), 0 6.650102138519287px 5.32008171081543px 0 rgba(0, 0, 0, 0.05), 0 12.521552085876465px 10.017241477966309px 0 rgba(0, 0, 0, 0.04), 0 22.3363094329834px 17.869047164916992px 0 rgba(0, 0, 0, 0.04), 0 41.777610778808594px 33.422088623046875px 0 rgba(0, 0, 0, 0.03), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
            border-color: #6BB64A;
          }
          &:hover {
            background: #FFF;
            box-shadow: 0 2.767256498336792px 2.2138051986694336px 0 rgba(0, 0, 0, 0.07), 0 6.650102138519287px 5.32008171081543px 0 rgba(0, 0, 0, 0.05), 0 12.521552085876465px 10.017241477966309px 0 rgba(0, 0, 0, 0.04), 0 22.3363094329834px 17.869047164916992px 0 rgba(0, 0, 0, 0.04), 0 41.777610778808594px 33.422088623046875px 0 rgba(0, 0, 0, 0.03), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
            border-color: #6BB64A;
          }
          h3 {
            margin: 0 0 15px;
            color: #1D4354;
            font-size: 28px;
            @media (max-width: $breakpoint_laptop) {
              font-size: 24px;
            }
          }
          p {
            font-size: 20px;
            line-height: 30px;
            color: #545661;
            margin: 0;
            @media (max-width: $breakpoint_laptop) {
              font-size: 16px;
              line-height: 28px;
            }
          }
        }
      }
    }
  }
  &.ar_vr_benefits{
    padding: 100px 0 70px;
    @media (max-width: $breakpoint_mobile_portrait) {
      padding: 60px 0 40px;
    }
    &:before {
     display: none;
    }
  }
}