@import "../../../../../../styles/variables";
.tools_technologies{
    padding: 100px 0 60px;
    background: #F3F6FF;
  &.sass_dev_bg {
    background: url("../../../../../../public/assets/images/services/sass-dev-bg.webp");
    .tech_boxes {
      h3 {
        color: #FFFFFF;
      }
    }
  }
    @media (max-width: $breakpoint_tablet) {
      padding: 60px 0 40px;
    }
  .tech_boxes {
    text-align: center;
    margin-bottom: 42px;
    h3 {
      margin: 0 0 15px;
      font-size: 28px;
      color: #1D4354;
      font-weight: bold;
    }
    ul {
      margin: 0 -2px;
      @media (max-width: $breakpoint_mobile_landscape) {
        flex-wrap: wrap;
        justify-content: center;
      }
      li {
        padding: 0 2px;
        @media (max-width: $breakpoint_mobile_landscape) {
          width: 50%;
        }
        &:first-child{
          figure {
            border-radius: 20px 0 0 20px;
            @media (max-width: $breakpoint_mobile_landscape) {
              border-radius: 0;
            }
          }
        }
        &:last-child{
          figure {
            border-radius: 0 20px 20px 0;
            @media (max-width: $breakpoint_mobile_landscape) {
              border-radius: 0;
            }
          }
        }
        figure {
          overflow: hidden;
          margin: 0;
          background: #FFFFFF;
          padding: 19px;
        }
      }
    }
  }
}