@import "../../../../../../styles/variables";
.process_quality_assurance {
  padding: 100px 0;
  @media (max-width: $breakpoint_laptop) {
    padding: 80px 0;
  }
  @media (max-width: $breakpoint_tablet) {
    padding: 60px 0;
  }
  .quality_assurance {
    @media (max-width: $breakpoint_tablet) {
      flex-direction: column-reverse;
      flex-wrap: wrap;
      align-items: flex-start;
    }
    section {
      width: 58%;
      @media (max-width: $breakpoint_laptop) {
        width: 50%;
      }
      @media (max-width: $breakpoint_tablet) {
        width: 100%;
      }
      &:last-child {
        max-width: 500px;
        flex: 0 0 500px;
        padding-left: 50px;
        @media (max-width: $breakpoint_tablet) {
          padding-left: 0;
          flex: unset;
        }
      }
      img {
        width: 100%;
        height: unset;
      }
      h3 {
        font-size: 48px;
        margin: 0 0 15px;
        @media (max-width: $breakpoint_laptop) {
          font-size: 34px;
        }
        span {
          color: #6BB64A;
        }
      }
      p {
        margin: 0 0 30px;
        font-size: 24px;
        line-height: 36px;
        @media (max-width: $breakpoint_laptop) {
          font-size: 18px;
          line-height: 28px;
        }
        span {
          font-weight: bold;
          color: #6BB64A;
        }
      }
    }
  }
}