@import "../../../styles/animation.css";
.our_product {
  padding: 0 0 49px;
  background-color: #F3F6FF;
  @media (max-width: 1600px) {
    padding: 0 0 10px;
  }
  @media (max-width: 1000px) {
    padding: 0 0 30px;
  }
  @media (max-width: 600px) {
    padding-top: 30px;
  }
  ul {
    margin: 0 -65px;
    @media (max-width: 1000px) {
      margin: 0 -15px;
    }
    li {
      padding: 30px 65px;
      width: 25%;
      @media (max-width: 1000px) {
        padding: 0 15px;
        margin: 10px 0;
      }
      @media (max-width: 600px) {
        width: 50%;
      }
      img {
        width: 100%;
        display: inline-block;
        filter: grayscale(1);
      }
    }
  }
}