@import "../../../../../styles/variables";
.nft_why_choose {
  background: #F3F6FF;
  padding: 100px 0 80px;
  @media (max-width: $breakpoint_laptop) {
    padding: 80px 0;
  }
  @media (max-width:$breakpoint_mobile_portrait) {
    & > div {
      flex-direction: column;
    }
  }
  @media (max-width: $breakpoint_tablet) {
    padding: 60px 0 60px;
    img{
     max-width: 100%;
     width: 50%;
     height: auto;
     margin-bottom: 30px;
     @media (max-width:$breakpoint_mobile_portrait) {
     width: auto;
    }
    }
   }
    .nft_why_choose_text {
      padding-left: 185px;
      position: relative;
      @media (max-width: $breakpoint_tablet) {
        padding-left: 10px;
    width: 50%;
      }
      @media (max-width:$breakpoint_mobile_portrait) {
        padding-left: 0;
        width: 100%;
      }
      &:before {
        content: '';
        position: absolute;
        left: 90px;
        top: 25px;
        width: 54px;
        height: 41px;
        background: url("../../../../../public/assets/images/services/choose-arrow.svg") no-repeat;
        background-size: contain;
        @media (max-width: $breakpoint_tablet) {
          content: none;
        }
      }
      h2 {
        margin: 0 0 10px;
        font-size: 48px;
        @media (max-width: $breakpoint_laptop) {
          font-size: 35px;
        }
        @media (max-width:$breakpoint_tablet) {
          font-size:28px;
        }
      }
      p {
        font-size: 24px;
        line-height: 42px;
        margin: 0 0 20px;
        color: #969696;
        opacity: 0.9;
        font-family: 'Apercu-Light', sans-serif;
        @media (max-width: $breakpoint_laptop) {
          font-size: 19px;
          line-height: 32px;
        }
        @media (max-width:$breakpoint_tablet) {
          font-size: 16px;
          line-height: 24px;
        }
      }
      ul{
        li {
          color: #1D4354;
          font-size: 24px;
          font-weight: 600;
          line-height: 42px;
          margin-bottom: 15px;
          padding-left: 37px;
          position: relative;
          @media (max-width: $breakpoint_laptop) {
            font-size: 19px;
            line-height: 32px;
            margin-bottom: 10px;
          }
          @media (max-width:$breakpoint_tablet) {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 15px;
          }
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 11px;
            width: 17px;
            height: 17px;
            border-radius: 100%;
            border: 1px solid #1D4354;
            @media (max-width: $breakpoint_laptop) {
              top: 8px;
              width: 15px;
              height: 15px;
            }
            @media (max-width:$breakpoint_tablet) {
              top: 3px;
            }
          }
          &:after {
            content: '';
            position: absolute;
            left: 6px;
            top: 17px;
            width: 7px;
            height: 7px;
            border-radius: 100%;
            background: #6BB64A;
            @media (max-width: $breakpoint_laptop) {
              left: 5px;
              top: 13px;
            }
            @media (max-width:$breakpoint_tablet) {
              top: 8px;
            }
          }
        }
      }
    }
    &.why_choose{
      background: #1D4354 url('../../../../../public/assets/images/services/custom-bg.svg');
    >div{
      flex-direction: row-reverse;
      @media (max-width:$breakpoint_mobile_portrait) {
        flex-direction: column-reverse;
      }
      .nft_why_choose_text{
        padding-right: 185px;
        padding-left: 0;
        @media (max-width: $breakpoint_tablet) {
          padding-right: 10px;
      width: 50%;
        }
        @media (max-width:$breakpoint_mobile_portrait) {
          padding-right: 0;
          width: 100%;
        }
        &::before{
          right:90px ;
          left: auto;
          transform: rotate(180deg);
        }
        h2{
          color: $white_color;
        }
        p{
          color: #E4E4E4;
        }
        ul{
          li{
            color: #E4E4E4;
          }
        }
      }
      img{
        @media (max-width:$breakpoint_mobile_portrait) {
          margin-top: 30px;
          margin-bottom: 0;
        }
      }
    }

    }
    &.meta_choose{
      background: #1d4354;
      .nft_why_choose_text {
        padding-left: 45px;
        position: relative;
        h2{
          color:#fff;
        }
        ul{
          li{
            color: #fff;
            &:before{
              border: 1px solid #fff;
            }
          }
        }
        @media (max-width: $breakpoint_tablet) {
          padding-left: 30px;
        }
        @media (max-width: $breakpoint_mobile_portrait) {
          padding-left: 0px;
        }
        &::before{
          display: none;
        }
      }
    }
    &.meta_advantage{
      background: white;
      .nft_why_choose_text {
        padding-left: 45px;
        position: relative;
        @media (max-width: $breakpoint_tablet) {
          padding-left: 30px;
        }
        @media (max-width: $breakpoint_mobile_portrait) {
          padding-left: 0px;
        }
        &::before{
          display: none;
        }
      }
    }
    &.cycle_choose{
      background: #F3F6FF;
      .nft_why_choose_text {
        padding-left: 45px;
        position: relative;
        @media (max-width: $breakpoint_tablet) {
          padding-left: 30px;
        }
        @media (max-width: $breakpoint_mobile_portrait) {
          padding-left: 0px;
        }
        &::before{
          display: none;
        }
      }
    }
}