@import "../../../../../../styles/variables";
.overview_wrapper {
  padding: 0 80px 90px;
  @media (max-width: $breakpoint_tablet) {
    padding: 0 30px 40px;
  }
  @media (max-width: $breakpoint_mobile_portrait) {
    padding: 0 15px 40px;
  }
  &.white-layout{
    .overview_content {
      background: #FFFFFF;
      z-index: 99;
      & > span {color: #6BB64A}
      & > h2 { color: #12262F}
      & > p {color: #969696; opacity: 0.9;}
      ul {
        li {
          &:before {
            background-color: #A1A1A1;
          }
          figure {
            background: #6BB64A;
            img { filter: brightness(100)}
          }
          section {
            span {
              color: #12262F;
            }
            p {
              color: #969696;
            }
          }
        }
      }
    }
  }
  &.skin-layout{
    background: #f8f8f8;
    .overview_content {
      background: #fff;
      z-index: 99;
      & > span {color: #6BB64A}
      & > h2 { color: #12262F}
      & > p {color: #969696; opacity: 0.9;}
      ul {
        li {
          &:before {
            background-color: #A1A1A1;
          }
          figure {
            background: #6BB64A;
            img { filter: brightness(100)}
          }
          section {
            span {
              color: #12262F;
            }
            p {
              color: #969696;
            }
          }
        }
      }
    }
  }
  &.support_overview {
    .overview_content {
      padding: 90px;
      @media (max-width: $breakpoint_laptop) {
        padding: 60px;
      }
      @media (max-width: $breakpoint_tablet) {
        padding: 25px;
      }
      p { margin: 0}
    }
  }
  .overview_content {
    margin: -70px auto 0;
    @media (max-width: $breakpoint_laptop) {
      margin-top: -40px;
    }
    background: #6BB64A;
    background: linear-gradient(103.1deg, #6BB64A 0.66%, #1D4354 99.7%);
    border: 3px solid $white_color;
    max-width: 1578px;
    border-radius: 15px;
    padding: 60px 93px;
    width: 100%;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07), 0 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725);
    @media (max-width: $breakpoint_laptop) {
      padding: 50px;
    }
    @media (max-width: $breakpoint_mini_laptop) {
      padding: 30px;
    }
    @media (max-width: $breakpoint_tablet) {
      padding: 30px 30px 0;
    }
    @media (max-width: $breakpoint_mobile_portrait) {
      padding: 20px 20px 10px;
    }
    & > span {
      display: block;
      color: $white_color;
      font-size: 20px;
      @media (max-width: $breakpoint_laptop) {
        font-size: 18px;
      }
    }
    & > h2 {
      font-size: 48px;
      color: $white_color;
      margin: 0 0 20px;
      @media (max-width: $breakpoint_laptop) {
        font-size: 40px;
        margin: 0 0 10px
      }
      @media (max-width: $breakpoint_tablet) {
        font-size: 24px;
      }
    }
    & > p {
      margin: 0 0 60px;
      color: $white_color;
      font-size: 24px;
      line-height: 36px;
      @media (max-width: $breakpoint_laptop) {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 40px;
      }
      @media (max-width: $breakpoint_tablet) {
        font-size: 14px;
        line-height: 24px;
      }
    }
    ul {
      margin: 0 -39px;
      @media (max-width: $breakpoint_tablet) {
        flex-wrap: wrap;
      }
      @media (max-width: $breakpoint_mobile_portrait) {
        margin: 0 -15px;
      }
      li {
        position: $position_rel;
        padding: 0 39px;
        @media (max-width: $breakpoint_laptop) {
          width: 25%;
        }
        @media (max-width: $breakpoint_tablet) {
          width: 50%;
          margin-bottom: 30px;
        }
        @media (max-width: $breakpoint_mobile_portrait) {
          width: 100%;
          padding: 0 15px;
        }
        &:first-child {
          padding-right: 10px;
        }
        &:last-child {
          &:before { display: none;}
        }
        &:before {
          content: "";
          position: $position_abs;
          right: 0;
          top: 0;
          width: 1px;
          background: $white_color;
          height: 77px;
          opacity: 0.5;
          @media (max-width: $breakpoint_mobile_portrait) {
            display: none;
          }
        }
        figure {
          margin: 0;
          height: 50px;
          max-width: 50px;
          flex: 0 0 50px;
          background: $white_color;
          border-radius: 10px;
          border: 1px solid #DDDDDD;
          img { object-fit: contain;}
        }
        section {
          padding-left: 15px;
          span {
            color: $white_color;
            font-family: "CloverDisplay-Bold", sans-serif;
            font-weight: 700;
            font-size: 28px;
            line-height: 39px;
            @media (max-width: $breakpoint_laptop) {
              font-size: 20px;
            }
            small {
              font-size: 28px;
              @media (max-width: $breakpoint_laptop) {
                font-size: 20px;
              }
            }
          }
          p {
            font-size: 18px;
            line-height: 30px;
            margin: 0;
            color: $white_color;
            @media (max-width: $breakpoint_laptop) {
              font-size: 15px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}
