.overview_wrapper {
  padding: 0 80px 90px;
}
@media (max-width: 1000px) {
  .overview_wrapper {
    padding: 0 30px 40px;
  }
}
@media (max-width: 600px) {
  .overview_wrapper {
    padding: 0 15px 40px;
  }
}
.overview_wrapper.white-layout .overview_content {
  background: #FFFFFF;
}
.overview_wrapper.white-layout .overview_content > span {
  color: #6BB64A;
}
.overview_wrapper.white-layout .overview_content > h2 {
  color: #12262F;
}
.overview_wrapper.white-layout .overview_content > p {
  color: #969696;
  opacity: 0.9;
}
.overview_wrapper.white-layout .overview_content ul li:before {
  background-color: #A1A1A1;
}
.overview_wrapper.white-layout .overview_content ul li figure {
  background: #6BB64A;
}
.overview_wrapper.white-layout .overview_content ul li figure img {
  filter: brightness(100);
}
.overview_wrapper.white-layout .overview_content ul li section span {
  color: #12262F;
}
.overview_wrapper.white-layout .overview_content ul li section p {
  color: #969696;
}
.overview_wrapper.support_overview .overview_content {
  padding: 90px;
}
@media (max-width: 1600px) {
  .overview_wrapper.support_overview .overview_content {
    padding: 60px;
  }
}
@media (max-width: 1000px) {
  .overview_wrapper.support_overview .overview_content {
    padding: 25px;
  }
}
.overview_wrapper.support_overview .overview_content p {
  margin: 0;
}
.overview_wrapper .overview_content {
  margin: -70px auto 0;
  background: #6BB64A;
  background: linear-gradient(103.1deg, #6BB64A 0.66%, #1D4354 99.7%);
  border: 3px solid #fff;
  max-width: 1578px;
  border-radius: 15px;
  padding: 60px 93px;
  width: 100%;
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07), 0 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725);
}
@media (max-width: 1600px) {
  .overview_wrapper .overview_content {
    margin-top: -40px;
  }
}
@media (max-width: 1600px) {
  .overview_wrapper .overview_content {
    padding: 50px;
  }
}
@media (max-width: 1200px) {
  .overview_wrapper .overview_content {
    padding: 30px;
  }
}
@media (max-width: 1000px) {
  .overview_wrapper .overview_content {
    padding: 30px 30px 0;
  }
}
@media (max-width: 600px) {
  .overview_wrapper .overview_content {
    padding: 20px 20px 10px;
  }
}
.overview_wrapper .overview_content > span {
  display: block;
  color: #fff;
  font-size: 20px;
}
@media (max-width: 1600px) {
  .overview_wrapper .overview_content > span {
    font-size: 18px;
  }
}
.overview_wrapper .overview_content > h2 {
  font-size: 48px;
  color: #fff;
  margin: 0 0 20px;
}
@media (max-width: 1600px) {
  .overview_wrapper .overview_content > h2 {
    font-size: 40px;
    margin: 0 0 10px;
  }
}
@media (max-width: 1000px) {
  .overview_wrapper .overview_content > h2 {
    font-size: 24px;
  }
}
.overview_wrapper .overview_content > p {
  margin: 0 0 60px;
  color: #fff;
  font-size: 24px;
  line-height: 36px;
}
@media (max-width: 1600px) {
  .overview_wrapper .overview_content > p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
  }
}
@media (max-width: 1000px) {
  .overview_wrapper .overview_content > p {
    font-size: 14px;
    line-height: 24px;
  }
}
.overview_wrapper .overview_content ul {
  margin: 0 -39px;
}
@media (max-width: 1000px) {
  .overview_wrapper .overview_content ul {
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .overview_wrapper .overview_content ul {
    margin: 0 -15px;
  }
}
.overview_wrapper .overview_content ul li {
  position: relative;
  padding: 0 39px;
}
@media (max-width: 1600px) {
  .overview_wrapper .overview_content ul li {
    width: 25%;
  }
}
@media (max-width: 1000px) {
  .overview_wrapper .overview_content ul li {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 600px) {
  .overview_wrapper .overview_content ul li {
    width: 100%;
    padding: 0 15px;
  }
}
.overview_wrapper .overview_content ul li:first-child {
  padding-right: 10px;
}
.overview_wrapper .overview_content ul li:last-child:before {
  display: none;
}
.overview_wrapper .overview_content ul li:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  background: #fff;
  height: 77px;
  opacity: 0.5;
}
@media (max-width: 600px) {
  .overview_wrapper .overview_content ul li:before {
    display: none;
  }
}
.overview_wrapper .overview_content ul li figure {
  margin: 0;
  height: 50px;
  max-width: 50px;
  flex: 0 0 50px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #DDDDDD;
}
.overview_wrapper .overview_content ul li figure img {
  -o-object-fit: contain;
     object-fit: contain;
}
.overview_wrapper .overview_content ul li section {
  padding-left: 15px;
}
.overview_wrapper .overview_content ul li section span {
  color: #fff;
  font-family: "CloverDisplay-Bold", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 39px;
}
@media (max-width: 1600px) {
  .overview_wrapper .overview_content ul li section span {
    font-size: 20px;
  }
}
.overview_wrapper .overview_content ul li section span small {
  font-size: 28px;
}
@media (max-width: 1600px) {
  .overview_wrapper .overview_content ul li section span small {
    font-size: 20px;
  }
}
.overview_wrapper .overview_content ul li section p {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  color: #fff;
}
@media (max-width: 1600px) {
  .overview_wrapper .overview_content ul li section p {
    font-size: 15px;
    line-height: 24px;
  }
}/*# sourceMappingURL=Overview.module.css.map */