@import "../../../../styles/variables";
.women_role_wrapper {
  background: #F3F6FF;
  padding: 100px 0;
  @media screen and (max-width: $breakpoint_tablet) {
    padding: 60px 0;
  }
  h2 {
    margin: 0 0 20px;
    font-size: 48px;
    @media screen and (max-width: $breakpoint_tablet) {
      font-size: 28px;
    }
    span {
      background: #6BB64A;
      color: #FFFFFF;
      padding: 0 10px;
    }
  }
  p {
    margin: 0 0 20px;
    font-size: 24px;
    color: #252B33;
    line-height: 36px;
    opacity: 0.6;
    font-family: "Apercu-Light", sans-serif;
    @media screen and (max-width: $breakpoint_tablet) {
      font-size: 17px;
      line-height: 27px;
    }
    strong {
      color: #6BB64A;
      font-family: "CloverDisplay-bold", sans-serif;
    }
  }
  blockquote {
    position: relative;
    margin: 20px 0;
    padding-left: 97px;
    @media screen and (max-width: $breakpoint_tablet) {
      padding-left: 55px;
    }
    .quote_icon {
      position: absolute;
      left: 0;
      top: 0;
      @media screen and (max-width: $breakpoint_tablet) {
        width: 35px;
        height: auto;
      }
    }
    h3 {
      margin: 0;
      font-size: 28px;
      @media screen and (max-width: $breakpoint_tablet) {
        font-size: 22px;
      }
    }
  }
  h4 {
    margin: 0 0 10px;
    font-size: 24px;
    line-height: 30px;
    @media screen and (max-width: $breakpoint_tablet) {
      font-size: 18px;
      line-height: 28px;
    }
  }
}