@import "../../../../../../styles/variables";
.services_company {
  padding: 100px 0 70px;
  background: #F3F6FF url("../../../../../../public/assets/images/services/starIcon.png") 10% 10% no-repeat;
  position: relative;
  @media (max-width: $breakpoint_laptop) {
    padding: 80px 0 50px;
    background-position: 5% 5%;
  }
  @media (max-width: $breakpoint_tablet) {
    background-image: none;
  }
  .section_title {
    width: 80%;
    @media (max-width: $breakpoint_tablet) {
      width: 100%;
    }
  }
  &.pc_service_company {
    background: #F3F6FF url("../../../../../../public/assets/images/services/pc-game-services.jpg") center;
    background-size: cover;
    .section_title {
      display: flex;
      text-align: left;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      @media (max-width: $breakpoint_mobile_portrait) {
        flex-wrap: wrap;
        text-align: center;
      }
      h2,p {
        color: #FFFFFF;
        width: 100%;
        margin: 0;
      }
      h2 { max-width: 730px;}
      p {
        color: #D0D0D0;
        max-width: 500px;
      }
    }
    .services_company_text {
      ul {
        li {
          width: 33.333%;
          @media (max-width: $breakpoint_tablet) {
           width: 50%;
          }
          @media (max-width: $breakpoint_mobile_portrait) {
           width: 100%;
          }
          figure {
            img {
              width: 62px;
              height: 62px;
            }
            figcaption {
              color: #FFFFFF;
            }
          }
        }
      }
    }
  }
  .services_company_text {
    ul {
      li {
        width: 50%;
        margin-bottom: 30px;
        @media (max-width: $breakpoint_mobile_portrait) {
          width: 100%;
        }
        figure {
          display: flex;
          gap: 15px;
          align-items: center;
          margin: 0;
          &:hover {
            img {
              transform: scaleX(-1);
            }
          }
          img {
            transition: all 0.4s ease-in-out;
            @media (max-width: $breakpoint_laptop) {
              width: 70px;
              height: 70px;
            }
          }
          figcaption {
            color: #1D4354;
            font-size: 24px;
            font-family: "CloverDisplay-Medium", sans-serif;
            white-space: pre-line;
            line-height: 1.5;
            @media (max-width: $breakpoint_laptop) {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}