@import "../../../../../../styles/variables";

.our_clients {
  background: #F3F6FF;
  padding: 100px 0 0;
  @media (max-width: $breakpoint_tablet) {
    padding: 60px 0;
    display: none;
  }
  .title {
   margin-bottom: 60px;
   display: flex;
   align-items: center;
   width: 100%;
   background: #12262F;
   border-radius: 10px;
   position: relative;
   padding: 10px 15px;
   .figma{
    width: 315px;
    height: 60px;
   }
   .title_wrapper{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #1D4354;
    border-radius: 10px;
    padding: 10px 15px;
    h2{
      font-size: 28px;
      margin-bottom: 0;
      display: flex;
    align-items: center;
      span{
        background-color: transparent;
        color: #6bb64a;
        padding: 0;
      }
      .user{
        width: 32px;
        height: 32px;
        margin-right: 10px;
      }
    }
   }
  }
  .client_slider{
    h4{
      color: #6bb64a;
      width: 85%;
      margin: 0 auto 20px;
      font-size: 28px;
      line-height: 43px;
    }
    .client_review{
      background-color: #12262F;
      padding: 60px 100px;
      display: flex;
      width: 85%;
    margin: 0 auto 150px;
      ul{
        width: 50%;
        li{
          .quotes{
            width: 90px;
            height: 90px;
          }
          p{
            color: #858585;
            font-size: 24px;
            line-height: 36px;
            @media (max-width: $breakpoint_laptop) {
              font-size: 18px;
              line-height: 28px;
            }
          }
          .name{
            display: flex;
            align-items: center;
            .client{
              margin-right: 20px;
              width: 75px;
              height: 75px;
            }
            h5{
              font-size: 28px;
              color: #6bb64a;
              margin: 0;
              @media (max-width: $breakpoint_laptop) {
                font-size: 24px;
              }
            }
            p{
              font-size: 20px;
              line-height: 30px;
              color: #AFB1B8;
              margin: 0;
              @media (max-width: $breakpoint_laptop) {
                font-size: 16px;
              }
            }
          }
        }
      }
      .client_logo{
        width: 50%;
        text-align: end;
        .logo{
          width: 368px;
          height: 400px;
          padding: 20px;
          border: 2px dashed #96CDA6;
        }
      }
    }
  }

}