.vacancies_wrapper {
  padding: 100px 0;
  background: #1D4354 url("../../../../public/assets/images/services/custom-bg.svg");
}
@media (max-width: 1600px) {
  .vacancies_wrapper {
    padding: 80px 0;
  }
}
@media screen and (max-width: 1000px) {
  .vacancies_wrapper {
    padding: 60px 0;
  }
}
.vacancies_wrapper .vacancies_search {
  margin-bottom: 30px;
}
@media (max-width: 1600px) {
  .vacancies_wrapper .vacancies_search {
    margin-bottom: 10px;
  }
}
.vacancies_wrapper .vacancies_search form {
  max-width: 100%;
  margin: 0 auto;
}
.vacancies_wrapper .vacancies_search form ul {
  margin: 0 -10px;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .vacancies_wrapper .vacancies_search form ul {
    flex-wrap: wrap;
  }
}
.vacancies_wrapper .vacancies_search form ul li {
  padding: 0 10px;
  width: 100%;
  max-width: 264px;
  margin: 0 0 20px;
}
@media screen and (max-width: 600px) {
  .vacancies_wrapper .vacancies_search form ul li {
    max-width: 100%;
  }
}
.vacancies_wrapper .vacancies_search form ul li:first-child {
  max-width: 484px;
}
.vacancies_wrapper .vacancies_search form ul li:last-child {
  max-width: unset;
  width: auto;
}
.vacancies_wrapper .vacancies_search form ul li select {
  cursor: pointer;
}
.vacancies_wrapper .vacancies_search form ul li input, .vacancies_wrapper .vacancies_search form ul li select {
  color: rgba(18, 38, 47, 0.9);
  background: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-family: "Apercu", sans-serif;
  border-radius: 10px;
  border: 1px solid #D7D7D7;
}
@media screen and (max-width: 1000px) {
  .vacancies_wrapper .vacancies_search form ul li input, .vacancies_wrapper .vacancies_search form ul li select {
    font-size: 16px;
  }
}
.vacancies_wrapper .vacancies_search form ul li input::-moz-placeholder {
  color: rgba(18, 38, 47, 0.9);
}
.vacancies_wrapper .vacancies_search form ul li input::placeholder {
  color: rgba(18, 38, 47, 0.9);
}
.vacancies_wrapper .vacancies_search form ul li .submit_btn {
  height: 52px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  text-transform: uppercase;
  padding: 0 25px;
  font-family: "CloverDisplay-bold", sans-serif;
  color: #FFFFFF;
  white-space: nowrap;
  align-items: center;
  display: flex;
}
.vacancies_wrapper .vacancies_search form ul li .submit_btn img {
  margin-left: 5px;
}
@media screen and (max-width: 1000px) {
  .vacancies_wrapper .vacancies_search form ul li .submit_btn {
    height: 45px;
  }
}
.vacancies_wrapper .vacancies_list {
  max-width: 1170px;
  margin: 0 auto;
}
.vacancies_wrapper .job_detail {
  max-width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .vacancies_wrapper .job_detail {
    max-width: 100%;
  }
}
.vacancies_wrapper .job_detail .transparent_btn {
  margin-left: auto;
}
.vacancies_wrapper .job_detail h2 {
  margin: 0 0 30px;
  color: #FFFFFF;
}
@media (max-width: 1600px) {
  .vacancies_wrapper .job_detail h2 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .vacancies_wrapper .job_detail h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.vacancies_wrapper .job_detail p, .vacancies_wrapper .job_detail li {
  font-size: 24px;
  color: #E4E4E4;
  line-height: 36px;
  font-family: "Apercu-Light", sans-serif;
  opacity: 0.9;
  margin: 0 0 32px;
}
@media (max-width: 1600px) {
  .vacancies_wrapper .job_detail p, .vacancies_wrapper .job_detail li {
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 25px;
  }
}
@media screen and (max-width: 1000px) {
  .vacancies_wrapper .job_detail p, .vacancies_wrapper .job_detail li {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
  }
}
.vacancies_wrapper .job_detail ul {
  margin-bottom: 40px;
}
@media (max-width: 1600px) {
  .vacancies_wrapper .job_detail ul {
    margin-bottom: 20px;
  }
}
.vacancies_wrapper .job_detail ul li {
  margin-bottom: 16px;
  padding-left: 30px;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .vacancies_wrapper .job_detail ul li {
    margin-bottom: 10px;
    padding-left: 20px;
  }
}
.vacancies_wrapper .job_detail ul li:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #6BB64A;
  position: absolute;
  left: 0;
  top: 12px;
}

.engagement_link {
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  font-family: "Apercu-Bold", sans-serif;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1600px) {
  .engagement_link {
    margin-top: 50px;
  }
}
@media (max-width: 999px) {
  .engagement_link {
    margin-top: 20px;
  }
}
.engagement_link:hover {
  color: #6BB64A;
}
.engagement_link:hover i {
  margin-left: 20px;
  color: #6BB64A;
}
.engagement_link i {
  margin-left: 10px;
  transition: all 0.4s ease-in-out;
}/*# sourceMappingURL=vacancies.module.css.map */