@import "../../../../../../styles/variables";

.product_portfolio {
  background: #12262F;
  padding: 100px 0 100px;
  @media (max-width: $breakpoint_tablet) {
    padding: 60px 0;
  }
  .title {
   margin-bottom: 30px;
  }
}