@import "../../../../../../styles/variables";
.wallet_choose_wrapper {
  padding: 100px 0;
  background: url("../../../../../../public/assets/images/services/wallet-choose.webp") center fixed;
  background-size: cover;
  @media (max-width: $breakpoint_laptop) {
    padding: 80px 0;
  }
  @media (max-width: $breakpoint_tablet) {
    padding: 60px 0;
   }
  ul {
    li {
      margin: 40px 0 0;
      width: 33.333%;
      @media (max-width: $breakpoint_laptop) {
        margin-top: 25px;
      }
      @media (max-width: $breakpoint_mobile_portrait) {
        width: 100%;
       }
      img { margin: 0 10px 0 0}
      h3 {
        margin: 0;
        font-size: 28px;
        line-height: 39px;
        text-transform: capitalize;
        color: #FFFFFF;
        @media (max-width: $breakpoint_laptop) {
          font-size: 20px;
        }
        @media (max-width: $breakpoint_mobile_portrait) {
          font-size: 16px;
          }
      }
    }
  }
}