.ar_industries_wrap {
  background-color: #F3F6FF;
  padding: 100px 0 70px;
}
@media (max-width: 1600px) {
  .ar_industries_wrap {
    padding: 80px 0 50px;
  }
}
@media (max-width: 1000px) {
  .ar_industries_wrap {
    padding: 60px 0 30px;
  }
}
.ar_industries_wrap .industries_list > ul > li {
  width: 25%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1000px) {
  .ar_industries_wrap .industries_list > ul > li {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .ar_industries_wrap .industries_list > ul > li {
    width: 100%;
  }
}
.ar_industries_wrap .industries_list > ul > li figure {
  margin: 0;
}
.ar_industries_wrap .industries_list > ul > li figure img {
  border-radius: 15px;
  margin: 0 0 9px;
}
@media (max-width: 1600px) {
  .ar_industries_wrap .industries_list > ul > li figure img {
    width: 225px;
  }
}
@media (max-width: 1000px) {
  .ar_industries_wrap .industries_list > ul > li figure img {
    width: 320px;
  }
}
@media (max-width: 600px) {
  .ar_industries_wrap .industries_list > ul > li figure img {
    width: 290px;
  }
}
.ar_industries_wrap .industries_list > ul > li figure h3 {
  margin: 0;
  text-align: center;
  font-family: "CloverDisplay", sans-serif;
  font-size: 28px;
}
@media (max-width: 1600px) {
  .ar_industries_wrap .industries_list > ul > li figure h3 {
    font-size: 20px;
  }
}
.ar_industries_wrap .industries_list > ul > li section {
  transition: all 0.4s ease-in-out;
  transform: scale(0.5);
  background: #1D4354;
  border-radius: 15px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  padding: 20px;
  max-width: 330px;
  width: 100%;
}
@media (max-width: 1600px) {
  .ar_industries_wrap .industries_list > ul > li section {
    max-width: 250px;
  }
}
@media (max-width: 1000px) {
  .ar_industries_wrap .industries_list > ul > li section {
    max-width: 320px;
  }
}
@media (max-width: 600px) {
  .ar_industries_wrap .industries_list > ul > li section {
    max-width: 290px;
  }
}
.ar_industries_wrap .industries_list > ul > li section ul {
  margin-bottom: 30px;
}
@media (max-width: 1600px) {
  .ar_industries_wrap .industries_list > ul > li section ul {
    margin-bottom: 27px;
  }
}
.ar_industries_wrap .industries_list > ul > li section ul li {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 42px;
  display: flex;
  font-family: "Apercu-Light", sans-serif;
  align-items: center;
}
@media (max-width: 1600px) {
  .ar_industries_wrap .industries_list > ul > li section ul li {
    font-size: 18px;
    line-height: 39px;
  }
}
.ar_industries_wrap .industries_list > ul > li section ul li:before {
  margin-right: 20px;
  content: "";
  display: flex;
  width: 16px;
  height: 16px;
  background: url("../../../../../../public/assets/images/services/list-icon.svg");
}
.ar_industries_wrap .industries_list > ul > li section h4 {
  margin: 0;
  color: #6BB64A;
  font-size: 28px;
  text-align: center;
}
@media (max-width: 1600px) {
  .ar_industries_wrap .industries_list > ul > li section h4 {
    font-size: 20px;
  }
}
.ar_industries_wrap .industries_list > ul > li:hover section {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}/*# sourceMappingURL=arIndustries.module.css.map */