@import "../../../../../../styles/variables";
.sass_typesaas_wrapper {
  background: #F3F6FF;
  padding: 100px 0;
  @media (max-width: $breakpoint_mobile_landscape) {
    padding: 60px 0;
    & > div {
      flex-direction: column;
    }
  }
  figure {
    margin: 0;
    @media (max-width: $breakpoint_laptop) {
      max-width: 50%;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    @media (max-width: $breakpoint_mobile_landscape) {
      max-width: 100%;
      margin-bottom: 40px;
    }
  }
  section {
    padding-left: 30px;
    div {
      width: 100%;
      text-align: left;
      margin: 0;
    }
    ul {
      li {
        font-size: 24px;
        line-height: 36px;
        padding-left: 30px;
        color: #1D4354;
        margin-bottom: 10px;
        position: relative;
        @media (max-width: $breakpoint_laptop) {
          font-size: 20px;
          line-height: 30px;
        }
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 11px;
          width: 10px;
          height: 14px;
          background: url("../../../../../../public/assets/images/services/angle-arrow.svg");
        }
      }
    }
  }
}