.engagement_models {
  padding: 100px 0;
}
@media screen and (max-width: 600px) {
  .engagement_models {
    padding: 60px 0;
  }
}
.engagement_models .section_title {
  width: 75%;
}
@media screen and (max-width: 600px) {
  .engagement_models .section_title {
    width: 100%;
  }
}
.engagement_models .engagement_models_text {
  background: #F3F6FF;
  border-radius: 20px;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .engagement_models .engagement_models_text ul {
    display: block;
  }
}
.engagement_models .engagement_models_text ul li {
  padding: 40px 20px 40px;
  width: 25%;
  transition: all 0.4s ease-in-out;
}
@media screen and (max-width: 600px) {
  .engagement_models .engagement_models_text ul li {
    width: 100%;
    padding: 20px 20px 20px;
  }
}
.engagement_models .engagement_models_text ul li:hover {
  background-color: #1D4354;
}
.engagement_models .engagement_models_text ul li:hover img {
  filter: brightness(20);
}
.engagement_models .engagement_models_text ul li:hover h3, .engagement_models .engagement_models_text ul li:hover p, .engagement_models .engagement_models_text ul li:hover h4, .engagement_models .engagement_models_text ul li:hover span {
  color: #fff;
  opacity: 1;
}
.engagement_models .engagement_models_text ul li:first-child {
  padding-left: 40px;
}
@media screen and (max-width: 600px) {
  .engagement_models .engagement_models_text ul li:first-child {
    padding-left: 20px;
  }
}
.engagement_models .engagement_models_text ul li:last-child {
  padding-right: 40px;
}
@media screen and (max-width: 600px) {
  .engagement_models .engagement_models_text ul li:last-child {
    padding-right: 20px;
  }
}
.engagement_models .engagement_models_text ul li img {
  margin: 0 0 40px;
  transition: all 0.4s ease-in-out;
}
.engagement_models .engagement_models_text ul li h3 {
  margin: 0 0 15px;
  color: #1D4354;
  font-size: 28px;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1600px) {
  .engagement_models .engagement_models_text ul li h3 {
    font-size: 22px;
  }
}
.engagement_models .engagement_models_text ul li p {
  margin: 0 0 25px;
  color: #252B33;
  font-size: 23px;
  line-height: 36px;
  opacity: 0.6;
  font-family: "Apercu-Light", sans-serif;
  min-height: 216px;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1600px) {
  .engagement_models .engagement_models_text ul li p {
    font-size: 16px;
    line-height: 26px;
    min-height: 130px;
  }
}
@media screen and (max-width: 600px) {
  .engagement_models .engagement_models_text ul li p {
    min-height: auto;
  }
}
.engagement_models .engagement_models_text ul li hr {
  opacity: 0.2;
}
.engagement_models .engagement_models_text ul li h4 {
  margin: 15px 0 10px;
  font-size: 20px;
  transition: all 0.4s ease-in-out;
}
.engagement_models .engagement_models_text ul li span {
  font-size: 18px;
  line-height: 27px;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1600px) {
  .engagement_models .engagement_models_text ul li span {
    font-size: 16px;
    line-height: 26px;
    min-height: 130px;
  }
}
@media screen and (max-width: 600px) {
  .engagement_models .engagement_models_text ul li span {
    min-height: auto;
  }
}/*# sourceMappingURL=engagementModels.module.css.map */