@import "../../../../../../styles/variables";
.services_quality_assurance {
  padding: 100px 0;
  background: #F8F9FB;
  position: relative;
  @media (max-width: $breakpoint_laptop) {
    padding: 80px 0;
  }
  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #6BB64A;
    @media (max-width: $breakpoint_tablet) {
      width: 100%;
    }
  }
  .services_quality {
    position: relative;
    width: 95%;
    margin: 0 0 0 auto;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: $breakpoint_tablet) {
      flex-direction: column-reverse;
      width: 100%;
    }
    section {
      &.services_quality_detail {
        width: 50%;
        @media (max-width: $breakpoint_tablet) {
          width: 100%;
        }
        background: #1D4354;
        padding: 100px 90px;
        border-radius: 24px;
        box-shadow: 0 16px 32px 0 rgba(34, 35, 38, 0.05), 0 32px 64px 0 rgba(34, 35, 38, 0.05);
        @media (max-width: $breakpoint_laptop) {
          padding: 50px;
        }
        h2 {
          font-size: 39px;
          color: #FFFFFF;
          margin: 0 0 23px;
          @media (max-width: $breakpoint_laptop) {
            font-size: 30px ;
          }
        }
        p {
          font-size: 24px;
          line-height: 36px;
          margin: 0 0 40px;
          color: rgba(255, 255, 255, 0.80);
          @media (max-width: $breakpoint_laptop) {
            font-size: 18px;
            line-height: 28px;
          }
        }
        ul {
          display: flex;
          flex-wrap: wrap;
          li {
            font-size: 20px;
            line-height: 36px;
            width: 50%;
            display: flex;
            align-items: center;
            gap: 9px;
            color: #FBFBFB;
            margin-bottom: 24px;
            letter-spacing: -0.48px;
            @media (max-width: $breakpoint_laptop) {
              font-size: 18px;
              line-height: 30px;
            }
            &:before {
              content: '';
              background: url("../../../../../../public/assets/images/services/mini_arrow.svg") no-repeat;
              background-size: contain;
              width: 32px;
              height: 32px;
            }
          }
        }
      }
      &.services_quality_tabs {
        padding: 0 0 0 100px;
        width: 45%;
        @media (max-width: $breakpoint_tablet) {
          width: 100%;
          padding: 0;
        }
        ul {
          li {
            margin: 16px 0;
            button {
              line-height: 43px;
              font-size: 28px;
              background: transparent;
              border: none;
              color: #FFFFFF;
              position: relative;
              font-family: "CloverDisplay", sans-serif;
              @media (max-width: $breakpoint_laptop) {
                font-size: 24px;
                line-height: 36px;
              }
              &:before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 10px;
                opacity: 0;
                background: url("../../../../../../public/assets/images/services/tab-bottom-line.svg");
              }
              &.active {
                font-family: "CloverDisplay-Medium", sans-serif;
                &:before {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}