.wallet_tech_wrapper {
  background: #1D4354;
  padding: 100px 0 80px;
}
@media (max-width: 1600px) {
  .wallet_tech_wrapper {
    padding: 80px 0 60px;
  }
}
@media (max-width: 1000px) {
  .wallet_tech_wrapper {
    padding: 60px 0 60px;
  }
}
.wallet_tech_wrapper .section {
  display: flex;
  text-align: left;
  align-items: center;
  width: 100%;
}
@media (max-width: 600px) {
  .wallet_tech_wrapper .section {
    display: block;
  }
}
.wallet_tech_wrapper .section h2 {
  width: 50%;
}
@media (max-width: 600px) {
  .wallet_tech_wrapper .section h2 {
    width: 100%;
  }
}
.wallet_tech_wrapper .section p {
  font-family: "Apercu-Light", sans-serif;
  width: 40%;
  margin: 0 0 0 auto;
}
@media (max-width: 600px) {
  .wallet_tech_wrapper .section p {
    width: 100%;
  }
}
.wallet_tech_wrapper .wallet_tech_wrap .wallet_tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}
@media (max-width: 600px) {
  .wallet_tech_wrapper .wallet_tech_wrap .wallet_tech {
    overflow-x: scroll;
  }
}
.wallet_tech_wrapper .wallet_tech_wrap .wallet_tech ul {
  justify-content: center;
  margin: 0 auto;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
}
.wallet_tech_wrapper .wallet_tech_wrap .wallet_tech ul li button {
  padding: 0 29px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: transparent;
  border: 3px solid #1D4354;
  height: 47px;
  align-items: center;
  text-align: center;
  border-radius: 100px;
}
.wallet_tech_wrapper .wallet_tech_wrap .wallet_tech ul li button.active {
  background: #6BB64A;
}
.wallet_tech_wrapper .wallet_tech_wrap .wallet_tech_list ul {
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .wallet_tech_wrapper .wallet_tech_wrap .wallet_tech_list ul {
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .wallet_tech_wrapper .wallet_tech_wrap .wallet_tech_list ul li {
    width: 50%;
  }
}
.wallet_tech_wrapper .wallet_tech_wrap .wallet_tech_list ul li:last-child {
  margin-right: 0;
}
.wallet_tech_wrapper .wallet_tech_wrap .wallet_tech_list ul li section {
  display: flex;
  align-items: center;
}
@media (max-width: 1000px) {
  .wallet_tech_wrapper .wallet_tech_wrap .wallet_tech_list ul li section {
    margin: 15px 10px 0;
  }
}
.wallet_tech_wrapper .wallet_tech_wrap .wallet_tech_list ul li section img {
  margin-right: 19px;
}
@media (max-width: 600px) {
  .wallet_tech_wrapper .wallet_tech_wrap .wallet_tech_list ul li section img {
    margin-right: 10px;
  }
}
.wallet_tech_wrapper .wallet_tech_wrap .wallet_tech_list ul li section span {
  font-size: 24px;
  line-height: 34px;
  font-family: "CloverDisplay-Medium", sans-serif;
  color: #FFFFFF;
}
@media (max-width: 1600px) {
  .wallet_tech_wrapper .wallet_tech_wrap .wallet_tech_list ul li section span {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 1000px) {
  .wallet_tech_wrapper .wallet_tech_wrap .wallet_tech_list ul li section span {
    font-size: 16px;
  }
}/*# sourceMappingURL=walletStack.module.css.map */