@import "../../../../../../styles/variables";
.why_ar_wrapper {
  padding: 100px 0 80px;
  @media (max-width: $breakpoint_laptop) {
    padding: 80px 0 60px;
  }
  @media (max-width: $breakpoint_tablet) {
    padding: 60px 0 60px;
  }
  .why_ar_wrap {
    @media (max-width: $breakpoint_laptop) {
      align-items: center;
    }
    @media (max-width: $breakpoint_tablet) {
      flex-direction: column;
    }
    figure {
      width: 50%;
      margin: 0;
      @media (max-width: $breakpoint_laptop) {
        width: 30%;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      @media (max-width: $breakpoint_tablet) {
        width: 300px;
        display: flex;
        margin: 25px auto 35px;
      }
    }
    .why_ar_content {
      width: 50%;
      @media (max-width: $breakpoint_laptop) {
        width: 60%;
        margin-left: auto;
      }
      @media (max-width: $breakpoint_tablet) {
        width: 100%;
        margin-left: 0;
      }
      p {
        font-family: "Apercu-Light", sans-serif;
        margin: 0 0 20px;
        font-size: 24px;
        line-height: 36px;
        @media (max-width: $breakpoint_laptop) {
          font-size: 19px;
          line-height: 30px;
        }
      }
      ul {
        @media (max-width: $breakpoint_laptop) {
          margin: 0 -5px;
        }
        li {
          margin-bottom: 20px;
          @media (max-width: $breakpoint_laptop) {
            margin-bottom: 10px;
            display: flex;
            flex-wrap: wrap;
            padding: 0 5px;
          }
          span {
            color: #1D4354;
            border-radius: 10px;
            display: inline-block;
            background: #F3F6FF;
            font-size: 24px;
            line-height: 42px;
            font-family: "Apercu-Light", sans-serif;
            padding: 7px 20px;
            @media (max-width: $breakpoint_laptop) {
              font-size: 17px;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
}