@import "../../../../../../styles/variables";

.developer_standout{
    background: #12262F;
    border-radius: 50px;
    .standout_inner{
        padding: 80px 70px 0;
        @media (max-width: $breakpoint_tablet) {
            padding: 30px 30px 0;
        }
        .title{
            max-width: 800px;
            width: 100%;
            margin: 0 auto;
            span{
                background-color: transparent;
                color: #6bb64a;
                padding: 0;
            }
        }
        .standout_services{
            padding: 60px 0 0;
            ul{
                margin: 0 -20px;
                @media (max-width: $breakpoint_mobile_landscape) {
                    margin: 0 -10px;
                }
                li{
                    padding: 0 25px;
                    width: 33.333%;
                    margin: 0 0 45px;
                    @media (max-width: $breakpoint_mobile_landscape) {
                        width: 50%;
                        padding: 0 10px;
                    }
                    &:hover{
                        h4{
                            color: #6bb64a;
                        }
                        p{
                            color: #6bb64a;
                        }
                    }
                    h4{
                        transition: all 0.4s ease-in-out;
                        font-size: 65px;
                        color: #fff;
                        margin-bottom: 0;
                        @media (max-width: $breakpoint_laptop) {
                            font-size: 40px;
                          }
                        @media (max-width: $breakpoint_mobile_landscape) {
                            font-size: 30px;
                        }
                    }
                    p{
                        transition: all 0.4s ease-in-out;
                        font-size: 24px;
                        line-height: 36px;
                        color: #969696;
                        opacity: 0.9;
                        margin: 0;
                        @media (max-width: $breakpoint_laptop) {
                            font-size: 18px;
                            line-height: 28px;
                          }
                    }
                }
            }
        }
        .line{
            opacity: 0.5;
            background-color: #FFFFFF;
            width: 100%;
            height: 1px;
            display: inline-block;
        }
        .principle{
            padding: 30px 0 0;
            h5{
                font-size: 28px;
                line-height: 43px;
                color: #6BB64A;
            }
            ul{
                margin: 0 -20px;
                li{
                    padding: 0 20px;
                    width: 25%;
                    margin: 0 0 45px;
                    @media (max-width: $breakpoint_mobile_landscape) {
                        width: 100%;
                    }
                    .card{
                        background: #FFFFFF;
                        border-radius: 8px;
                        min-height: 220px;
                        height: 100%;
                        position: relative;
                            &:hover{
                                h4{
                                    color: #6bb64a;
                                }
                            }
                            h4{
                                transition: all 0.4s ease-in-out;
                                letter-spacing: -0.48px;
                                text-transform: capitalize;
                                color: #1D4354;
                                font-size: 24px;
                                line-height: 36px;
                                padding: 20px;
                                @media (max-width: $breakpoint_laptop) {
                                    font-size: 22px;
                                    line-height: 30px;
                                  }
                            }
                            img{
                                width: 71px;
                                height: 71px;
                                display: flex;
                                margin-left: auto;
                                position: absolute;
                                bottom: 15px;
                                right: 0;
                            }
                        }
                    }
                   
                }
            }
        }
    }