@import "../../../../../../styles/variables";
.company_result_wrapper {
  padding: 100px 0 60px;
  .company_result_heading {
    position: relative;
    margin-bottom: 70px;
    @media (max-width: $breakpoint_mobile_landscape) {
      flex-direction: column;
    }
    &:after {
      content: "";
      position: absolute;
      left: 99%;
      top: 0;
      width: 999em;
      height: 100%;
      border: 1px solid #1D4354;
      transform: skew(-14deg);
    }
    h2 {
      margin: 0;
      font-size: 48px;
      max-width: 545px;
      font-weight: 700;
      @media (max-width: $breakpoint_laptop) {
        font-size: 30px;
      }
      @media (max-width: $breakpoint_mobile_landscape) {
        font-size: 24px;
        margin-bottom: 15px;
      }
    }
    span {
      font-size: 24px;
      line-height: 36px;
      display: inline-block;
      padding: 10px 118px;
      background: #6BB64A;
      color: #FFFFFF;
      opacity: 0.9;
      position: relative;
      width: 100%;
      @media (max-width: $breakpoint_laptop) {
        font-size: 18px;
        line-height: 28px;
      }
      @media (max-width: $breakpoint_mobile_landscape) {
        padding: 20px;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-top: 164px solid #FFFFFF;
        border-right: 40px solid transparent;
        @media (max-width: $breakpoint_mobile_landscape) {
          display: none;
        }
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        border-bottom: 164px solid #FFFFFF;
        border-left: 40px solid transparent;
        @media (max-width: $breakpoint_mobile_landscape) {
          display: none;
        }
      }
    }
  }
  .company_result_text {
    ul {
      li {
        margin-bottom: 40px;
        section {
          gap: 60px;
          padding-left: 60px;
          position: relative;
          @media (max-width: $breakpoint_mobile_landscape) {
            flex-direction: column;
            padding-left: 0;
            gap: 20px;
          }
          &:after {
            @media (max-width: $breakpoint_mobile_landscape) {
              display: none;
            }
            content: "";
            position: absolute;
            right: 89%;
            top: 50%;
            width: 999em;
            height: 163px;
            border: 1px solid rgba(23, 30, 42, 0.2);
            transform: translateY(-50%) skew(-20deg);
          }
          & > span {
            margin-right: 40px;
            img {
              width: 48px;
              height: 48px;
            }
          }
          h2 {
            font-size: 28px;
            font-weight: 700;
            margin: 0;
            width: 100%;
            max-width: 300px;
            position: relative;
            @media (max-width: $breakpoint_laptop) {
              font-size: 22px;
            }
            @media (max-width: $breakpoint_mobile_landscape) {
              max-width: 100%;
            }
            &:before {
              content: '';
              position: absolute;
              left: 0;
              top: -10px;
              height: 4px;
              width: 74px;
              background: #6BB64A;
            }
          }
          p {
            margin: 0;
            font-size: 24px;
            line-height: 36px;
            opacity: 0.9;
            color: #969696;
            max-width: 772px;
            width: 100%;
            @media (max-width: $breakpoint_laptop) {
              font-size: 19px;
              line-height: 30px;
            }
            span {
              font-weight: 700;
              color: rgba(107, 182, 74, 1);
            }
          }
        }
      }
    }
  }
}