@import "../../../../../../styles/variables";
.sass_call_wrapper {
  padding: 100px 0 80px;
  .sass_call_action {
    background: url("../../../../../../public/assets/images/services/frame.webp");
    background-size: cover;
    width: 100%;
    border-radius: 30px;
    align-items: center;
    padding: 40px 120px;
    @media (max-width: $breakpoint_mobile_landscape) {
      padding: 40px;
      flex-direction: column;
      text-align: center;
    }
    h2 {
      color: #FFFFFF;
      font-size: 36px;
      line-height: 58px;
      text-transform: capitalize;
      margin: 0;
      width: 75%;
      @media (max-width: $breakpoint_laptop) {
        font-size: 26px;
        line-height: 40px;
      }
      @media (max-width: $breakpoint_mobile_landscape) {
        width: 100%;
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 20px;
      }
    }
    a {
      margin-left: auto;
      @media (max-width: $breakpoint_mobile_landscape) {
        margin: 0 auto;
      }
    }
  }
}