@import "../../../../styles/variables";
.industries_health {
  padding: 100px 0;
  background: #1D4354;
  @media (max-width: $breakpoint_laptop) {
    padding: 80px 0;
  }
  @media (max-width: $breakpoint_tablet) {
    padding: 60px 0;
  }
  .section_title {
    width: 70%;
    @media (max-width: $breakpoint_tablet) {
      width: 100%;
    }
  }
  a {
    max-width: 291px;
  }
  .industries_health_list {
    margin-bottom: 50px;
    ul {
      margin: 0 -10px;
      li {
        width: 33.333%;
        padding: 0 10px;
        margin-bottom: 30px;
        @media (max-width: $breakpoint_mobile_portrait) {
          width: 100%;
        }
        &:first-child { width: 100%;}
        img {
          width: 100%;
          height: auto;
          border-radius: 30px;
          @media (max-width: $breakpoint_mobile_portrait) {
            height: 300px;
            object-fit: cover;
          }
        }
      }
    }
  }
}