@import "../../../../../../styles/variables";
.platforms_cloud_wrapper {
  padding: 100px 0 60px;
  position: relative;
  background: #12262F;
  .section_title {
    text-align: center;
    margin-bottom: 60px;
    h2 {
      color: #FFFFFF;
      margin: 0 0 10px;
      font-size: 48px;
      @media (max-width: $breakpoint_laptop) {
        font-size: 42px;
      }
      @media (max-width: $breakpoint_mobile_landscape) {
        font-size: 30px;
      }
      span {
        color: #6BB64A;
      }
    }
    p {
      margin: 0 auto;
      font-size: 26px;
      line-height: 40px;
      font-family: "Apercu-Light", sans-serif;
      max-width: 73%;
      color: #FFFFFF;
      opacity: 0.9;
      @media (max-width: $breakpoint_laptop) {
        font-size: 20px;
        line-height: 36px;
        max-width: 60%;
      }
      @media (max-width: $breakpoint_mobile_landscape) {
        max-width: 100%;
      }
    }
  }
}