@import "../../../../../../styles/variables";
.use_quality_assurance {
  padding: 100px 0;
  background: #1D4354;
  @media (max-width: $breakpoint_tablet) {
    padding: 60px 0 0;
  }
  .quality_assurance {
    @media (max-width: $breakpoint_tablet) {
      flex-direction: column;
    }
    section {
      width: 50%;
      border-right: 2px solid #6BB64A;
      @media (max-width: $breakpoint_tablet) {
        width: 100%;
        border-right: none;
        border-bottom: 2px solid #6BB64A;
        margin-bottom: 30px;
      }
      &:last-child { border-right: none; border-bottom: none}
      h3 {
        margin: 0 0 60px;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
      }
      ul {
        @media (max-width: $breakpoint_tablet) {
          justify-content: center;
        }
        li {
          color: #FFFFFF;
          width: 25%;
          font-size: 24px;
          font-family: "CloverDisplay", sans-serif;
          align-items: center;
          margin: 0 0 40px;
          @media (max-width: $breakpoint_laptop) {
            font-size: 18px;
          }
          img {
            margin-bottom: 13px;
            @media (max-width: $breakpoint_laptop) {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }
  }
}