@import "../../../../../../styles/variables";
.nft_services_wrapper {
  padding: 100px 0 60px;
  background: #1D4354 url('../../../../../../public/assets/images/services/custom-bg.svg');

  @media (max-width: $breakpoint_tablet) {
    padding: 60px 0 40px;
  }
  .choose_services {
    ul {
      margin: 0 -20px;
      li {
        padding: 0 25px;
        width: 25%;
        margin: 0 0 70px;
        @media (max-width: $breakpoint_laptop) {
          margin-bottom: 30px;
        }
        @media (max-width: $breakpoint_tablet) {
          width: 50%;
        }
        @media (max-width: $breakpoint_mobile_portrait) {
          width: 100%;
          opacity: 1 !important;
          transform: translateZ(0) !important;
        }
       
        figure {
          width: 100%;
         margin-bottom: 20px;
          img {
            object-fit: contain;
            width: 30px;
            height: auto;

          }
        }
        h3 {
          margin: 0 0 30px;
          margin-right: auto !important;
          text-transform: capitalize;
          font-size: 28px;
          color: #FFFFFF;
          transition: all 0.4s ease-in-out;
          @media (max-width: $breakpoint_laptop) {
            margin: 0 0 10px;
            font-size: 24px;
          }
        }
      
        P{
          color: #FFFFFF;
          opacity: 0.9;
          margin: 0;
          font-size: 16px;
          @media (max-width: $breakpoint_laptop) {
            font-size: 14px;
          }
        }
      }
    }
  }
}