@import "../../../../../../styles/variables";
.sass_process_wrapper {
  margin-bottom: 80px;
  .process_sass_scroll {
    @media (max-width: $breakpoint_mobile_landscape) {
      overflow: auto;
    }
    .sass_process {
      @media (max-width: $breakpoint_mobile_landscape) {
        width: 1200px;
      }
      section {
        width: 16.6667%;
        &:first-child {
          margin-right: -27px;
          figure {
            span {
              left: 0;
            }
          }
        }
        &:nth-child(even){
          ul {
            &:before {
              background: #6BB64A;
            }
            li {
              color: #6BB64A;
              &:before,&:after {
                background: #6BB64A;
              }
            }
          }
        }
        figure {
          margin: 0;
          position: relative;
          span {
            position: absolute;
            left: 25px;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            color: #FFFFFF;
            text-align: center;
            font-size: 24px;
            @media (max-width: $breakpoint_laptop) {
              font-size: 19px;
            }
          }
        }
        ul {
          position: relative;
          padding: 67px 0 0;
          @media (max-width: $breakpoint_laptop) {
            padding: 50px 0 0;
          }
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 2px;
            height: calc(100% - 12px);
            background: #1D4354;
          }
          li {
            position: relative;
            font-size: 18px;
            color: #1D4354;
            margin: 0 0 30px;
            padding-left: 45px;
            font-family: "CloverDisplay-Bold", sans-serif;
            @media (max-width: $breakpoint_laptop) {
              font-size: 15px;
              padding-left: 38px;
              margin-bottom: 20px;
            }
            &:before {
              content: '';
              position: absolute;
              left: 15px;
              top: 0;
              width: 20px;
              height: 20px;
              border-radius: 100%;
              background: #1D4354;
              @media (max-width: $breakpoint_laptop) {
                width: 15px;
                height: 15px;
                top: 3px;
              }
            }
            &:after {
              content: '';
              position: absolute;
              left: 0;
              top: 10px;
              width: 20px;
              height: 2px;
              background: #1D4354;
              @media (max-width: $breakpoint_laptop) {
                width: 15px;
              }
            }
          }
        }
      }
    }
  }
}