@import "../../../../../../styles/variables";
.sass_recent_project {
  padding: 100px 0 80px;
  @media (max-width: $breakpoint_mobile_landscape) {
    padding: 60px 0 0;
  }
  .sass_recent_content_wrap {
    .sass_recent_content {
      background: linear-gradient(280.31deg, #780013 0%, #B31E35 76.47%);
      border-radius: 20px;
      overflow: hidden;
      align-items: center;
      max-width: 1135px;
      margin: 0 auto 24px;
      @media (max-width: $breakpoint_mobile_landscape) {
        flex-direction: column;
      }
      &:nth-child(2n) {
        flex-direction: row-reverse;
        @media (max-width: $breakpoint_mobile_landscape) {
          flex-direction: column;
        }
        background: linear-gradient(259.16deg, #02102C 0%, #112244 100%);
        section { margin-left: unset; margin-right: auto;}
      }
      &:last-child { background: linear-gradient(281.09deg, #436C30 2.55%, #6BB64A 72.04%); }
      figure {
        margin: 0;
        padding-top: 40px;
        img {
          width: 100%;
        }
      }
      section {
        width: 100%;
        max-width: 515px;
        margin-left: auto;
        padding-left: 71px;
        padding-right: 33px;
        @media (max-width: $breakpoint_mobile_landscape) {
          padding: 20px;
        }
        img {
          margin: 0 0 20px;
        }
        h3 {
          margin: 0;
          font-size: 28px;
          line-height: 43px;
          color: #FFFFFF;
          font-family: 'CloverDisplay', sans-serif;
        }
        p {
          margin: 0 0 38px;
          font-size: 20px;
          line-height: 30px;
          color: #FFFFFF;
          opacity: 0.9;
          font-family: "Apercu-Light", sans-serif;
        }
        ul {
          margin: 0 -4px;
          width: 75%;
          li {
            padding: 0 4px;
            margin-bottom: 8px;
            span {
              color: #FFFFFF;
              font-family: "Apercu-Light", sans-serif;
              padding: 6px 14px;
              display: flex;
              font-size: 14px;
              background: rgba(255, 255, 255, 0.16);
            }
          }
        }
      }
    }
  }
}