.dev_process_wrapper {
  padding: 100px 0 40px;
}
@media (max-width: 1600px) {
  .dev_process_wrapper {
    padding: 80px 0 40px;
  }
}
@media (max-width: 1000px) {
  .dev_process_wrapper {
    padding: 60px 0 40px;
  }
}
.dev_process_wrapper .process_title {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 576px;
  text-align: left;
}
@media (max-width: 1000px) {
  .dev_process_wrapper .process_title {
    position: relative;
    max-width: 100%;
  }
}
.dev_process_wrapper .process_title h2 {
  background: url("../../../../../../public/assets/images/services/heading-shape.png") no-repeat top left;
  background-size: 68px 60px;
}
.dev_process_wrapper .process_title p {
  width: 100%;
}
@media (max-width: 1000px) {
  .dev_process_wrapper .dev_process_list ul {
    margin: 0 -10px;
  }
}
.dev_process_wrapper .dev_process_list ul li {
  width: 50%;
  margin-bottom: 40px;
}
@media (max-width: 1000px) {
  .dev_process_wrapper .dev_process_list ul li {
    padding: 0 10px !important;
    margin-bottom: 20px;
    width: 50% !important;
    display: inherit !important;
  }
}
@media (max-width: 767px) {
  .dev_process_wrapper .dev_process_list ul li {
    width: 100% !important;
  }
}
.dev_process_wrapper .dev_process_list ul li section {
  background: #FFFFFF;
  box-shadow: 0px 0px 16px 5px rgba(147, 147, 147, 0.2);
  border-radius: 5px;
  padding: 23px 30px;
  max-width: 490px;
  position: relative;
}
@media (max-width: 1600px) {
  .dev_process_wrapper .dev_process_list ul li section {
    max-width: 400px;
  }
}
@media (max-width: 1000px) {
  .dev_process_wrapper .dev_process_list ul li section {
    max-width: 100% !important;
    width: 100%;
  }
}
.dev_process_wrapper .dev_process_list ul li section:before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}
@media (max-width: 1000px) {
  .dev_process_wrapper .dev_process_list ul li section:before {
    display: none;
  }
}
.dev_process_wrapper .dev_process_list ul li section h3 {
  font-size: 28px;
  margin: 0 0 5px;
}
@media (max-width: 1600px) {
  .dev_process_wrapper .dev_process_list ul li section h3 {
    font-size: 22px;
  }
}
.dev_process_wrapper .dev_process_list ul li section p {
  font-size: 24px;
  line-height: 42px;
  margin: 0;
  font-family: "Apercu-Light", sans-serif;
}
@media (max-width: 1600px) {
  .dev_process_wrapper .dev_process_list ul li section p {
    font-size: 18px;
    line-height: 30px;
  }
}
.dev_process_wrapper .dev_process_list ul li:first-child section {
  max-width: 481px;
  padding: 13px 20px;
}
@media (max-width: 1600px) {
  .dev_process_wrapper .dev_process_list ul li:first-child section {
    max-width: 400px;
  }
}
.dev_process_wrapper .dev_process_list ul li:first-child section:before {
  right: -65px;
  background-image: url("../../../../../../public/assets/images/services/proc1.png");
  bottom: 0;
  width: 47px;
  height: 75px;
}
.dev_process_wrapper .dev_process_list ul li:nth-child(2) {
  padding-left: 10%;
}
.dev_process_wrapper .dev_process_list ul li:nth-child(2) section {
  max-width: 633px;
}
@media (max-width: 1600px) {
  .dev_process_wrapper .dev_process_list ul li:nth-child(2) section {
    max-width: 480px;
  }
}
.dev_process_wrapper .dev_process_list ul li:nth-child(2) section:before {
  left: -94px;
  background-image: url("../../../../../../public/assets/images/services/proc2.png");
  bottom: -20px;
  width: 80px;
  height: 81px;
}
.dev_process_wrapper .dev_process_list ul li:nth-child(3) section:before {
  right: -269px;
  background-image: url("../../../../../../public/assets/images/services/proc3.png");
  bottom: 50%;
  transform: translateY(50%);
  height: 16px;
  width: 249px;
}
.dev_process_wrapper .dev_process_list ul li:nth-child(4) {
  padding-left: 6%;
}
@media (max-width: 1600px) {
  .dev_process_wrapper .dev_process_list ul li:nth-child(4) {
    padding-left: 8%;
  }
}
.dev_process_wrapper .dev_process_list ul li:nth-child(4) section:before {
  left: -125px;
  background-image: url("../../../../../../public/assets/images/services/proc4.png");
  bottom: -100px;
  height: 92px;
  width: 201px;
}
.dev_process_wrapper .dev_process_list ul li:nth-child(5) section {
  max-width: 617px;
}
@media (max-width: 1600px) {
  .dev_process_wrapper .dev_process_list ul li:nth-child(5) section {
    max-width: 550px;
  }
}
.dev_process_wrapper .dev_process_list ul li:nth-child(5) section:before {
  right: -276px;
  background-image: url("../../../../../../public/assets/images/services/proc5.png");
  bottom: -20px;
  height: 35px;
  width: 256px;
}
.dev_process_wrapper .dev_process_list ul li:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.dev_process_wrapper .dev_process_list ul li:last-child section {
  max-width: 558px;
}/*# sourceMappingURL=devProcess.module.css.map */