@import "../../../../styles/variables";
.women_in_digimark {
  padding: 100px 0;
  background: url("../../../../public/assets/images/company/quick_layer.webp");
  @media (max-width: $breakpoint_tablet) {
    padding: 60px 0;
  }
  .women_digimark_list {
    ul {
      margin: 0 -12px;
      li {
        padding: 0 12px;
        margin-bottom: 24px;
        width: 33.333%;
        @media (max-width: $breakpoint_tablet) {
          width: 50%;
        }
        @media (max-width: $breakpoint_mobile_portrait) {
          width: 100%;
        }
        figure {
          margin: 0;
          position: relative;
          border-radius: 20px;
          overflow: hidden;
          &:hover {
            &:before {
              opacity: 0.7;
            }
            figcaption {
              transform: translateY(0);
              p {
                opacity: 0.9;
              }
            }
          }
          &:before {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            top: 0;
            height: 100%;
            background: #000000;
            opacity: 0.3;
            transition: 0.4s ease-in-out;
          }
          img {
            width: 100%;
          }
          figcaption {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 0 25px 40px;
            transition: 0.4s ease-in-out;
            transform: translateY(60px);
            h3 {
              margin: 0 0 5px;
              font-size: 28px;
              line-height: 30px;
              color: #FFFFFF;
              @media (max-width: $breakpoint_tablet) {
                font-size: 20px;
              }
            }
            p {
              margin: 0;
              color: #969696;
              opacity: 0;
              font-size: 22px;
              line-height: 32px;
              transition: 0.4s ease-in-out;
              @media (max-width: $breakpoint_tablet) {
                font-size: 16px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
}