.industries_section {
  background: #F3F6FF;
  padding: 100px 0 80px;
}
@media (max-width: 1600px) {
  .industries_section {
    padding: 80px 0 60px;
  }
}
@media screen and (max-width: 1000px) {
  .industries_section {
    padding: 60px 0 45px;
  }
}
.industries_section.white_version {
  background: #1E4658 url("../../../../../../public/assets/images/services/custom-bg.svg");
}
.industries_section.white_version .industries_title h2 {
  color: #FFFFFF;
}
.industries_section .industries_content {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 1000px) {
  .industries_section .industries_content {
    flex-direction: column;
  }
}
.industries_section .industries_content .industries_title {
  width: 45%;
}
@media (max-width: 1000px) {
  .industries_section .industries_content .industries_title {
    width: 100%;
  }
}
.industries_section .industries_content .industries_title h2 {
  font-size: 48px;
  margin: 53px 0 30px;
}
@media (max-width: 1600px) {
  .industries_section .industries_content .industries_title h2 {
    font-size: 40px;
    margin: 35px 0 30px;
  }
}
@media (max-width: 1000px) {
  .industries_section .industries_content .industries_title h2 {
    font-size: 30px;
  }
}
.industries_section .industries_content .industries_title h2 span {
  background: #6BB64A;
  color: #FFFFFF;
  padding: 0 10px;
}
.industries_section .industries_content .industries_title > span {
  font-size: 18px;
  color: #6BB64A;
  display: inline-block;
  position: relative;
  font-family: "CloverDisplay-bold", sans-serif;
}
.industries_section .industries_content .industries_title > span:before {
  content: "";
  position: absolute;
  right: -80px;
  width: 64px;
  top: 50%;
  height: 2px;
  background: #6BB64A;
}
.industries_section .industries_content .industries_list {
  width: 55%;
}
@media (max-width: 1000px) {
  .industries_section .industries_content .industries_list {
    width: 100%;
  }
}
.industries_section .industries_content .industries_list ul {
  margin: 0 -9px;
}
@media (max-width: 1600px) {
  .industries_section .industries_content .industries_list ul {
    margin: 0 -5px;
  }
}
.industries_section .industries_content .industries_list ul li {
  width: 25%;
  padding: 0 9px;
  margin-bottom: 25px;
}
@media (max-width: 1600px) {
  .industries_section .industries_content .industries_list ul li {
    padding: 0 5px;
    margin-bottom: 15px;
  }
}
@media (max-width: 1000px) {
  .industries_section .industries_content .industries_list ul li {
    width: 33.333%;
  }
}
@media (max-width: 600px) {
  .industries_section .industries_content .industries_list ul li {
    width: 50%;
  }
}
.industries_section .industries_content .industries_list ul li section {
  background: #FFFFFF;
  height: 61px;
  box-shadow: 0 8.38484px 18.1671px 5.58989px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 18px 0 15px;
  justify-content: center;
  width: auto;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1600px) {
  .industries_section .industries_content .industries_list ul li section {
    padding: 0 12px 0 10px;
  }
}
.industries_section .industries_content .industries_list ul li section:hover {
  background: rgba(255, 255, 255, 0.9);
  transform: scale(0.97);
}
.industries_section .industries_content .industries_list ul li section img {
  margin-right: 6px;
}
.industries_section .industries_content .industries_list ul li section h3 {
  margin: 0;
  font-size: 18px;
}
@media (max-width: 1600px) {
  .industries_section .industries_content .industries_list ul li section h3 {
    font-size: 15px;
  }
}
@media (max-width: 1000px) {
  .industries_section .industries_content .industries_list ul li section h3 {
    font-size: 14px;
  }
}/*# sourceMappingURL=industriesSection.module.css.map */