@import "../../../../../../styles/variables";
.game_intro {
  padding-top: 100px;
  background: url("../../../../../../public/assets/images/services/bg-shape.webp") 90% top no-repeat;
  @media (max-width: $breakpoint_laptop) {
    padding-top: 80px;
  }
  @media (max-width: $breakpoint_tablet) {
    padding-top: 60px;
    background: none;
  }
  & > img {
    width: 100%;
    margin-top: -400px;
    pointer-events: none;
    @media (max-width: $breakpoint_laptop) {
      height: 600px;
    }
    @media (max-width: $breakpoint_tablet) {
      height: auto;
      margin-top: 0;
    }
  }
  .section_title {
    width: 100%;
    text-align: left;
    h2 {
      span {
        background-color: transparent;
        color: #6BB64A;
      }
    }
    p {
      width: 100%;
    }
  }
  .game_intro_text {
    display: flex;
    figure {
      width: 50%;
      text-align: center;
      margin: 0 0 -300px;
      @media (max-width: $breakpoint_tablet) {
        display: none;
      }
    }
    & > section {
      width: 50%;
      @media (max-width: $breakpoint_tablet) {
        width: 100%;
      }
      ul {
        margin: 0 -19px;
        display: flex;
        flex-wrap: wrap;
        li {
          width: 50%;
          padding: 0 19px;
          margin-bottom: 29px;
          @media (max-width: $breakpoint_mobile_landscape) {
            width: 100%;
          }
          section {
            padding: 35px 40px;
            border-radius: 37.423px;
            border: 1px solid #DDD;
            background: #FFF;
            box-shadow: 0 5.649306774139404px 4.519445419311523px 0 rgba(0, 0, 0, 0.02), 0 15.619610786437988px 12.495688438415527px 0 rgba(0, 0, 0, 0.04), 0 37.60600662231445px 30.08480453491211px 0 rgba(0, 0, 0, 0.05), 0 124.74180603027344px 99.79344940185547px 0 rgba(0, 0, 0, 0.07);
            h2 {
              margin: 0;
              font-size: 28px;
              @media (max-width: $breakpoint_laptop) {
                font-size: 24px;
              }
              span {
                display: block;
                color: #6BB64A;
              }
            }
          }
        }
      }
    }
  }
}