@import "../../../../../../styles/variables";
.product_power{
    padding: 100px 0;
    @media (max-width: $breakpoint_tablet) {
        padding: 60px 0;
    }
    .product_inner{
        background: #F3F6FF;
        border-radius: 50px;
        .product_padding{
            padding: 100px 70px 50px;
            @media (max-width: $breakpoint_tablet) {
                padding: 30px;
                flex-direction: column;
            }
            h4{
                width: 40%;
                font-size: 48px;
                span{
                    color: #6BB64A;
                    position: relative;
                    &::after{
                        content: '';
                        background-image: url(../../../../../../public/assets/images/services/greenLine.svg);
                        background-repeat: no-repeat; 
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 100%;   
                    }
                }
                @media (max-width: $breakpoint_laptop) {         
                    font-size: 38px;
                    line-height: 48px;
                  }

                @media (max-width: $breakpoint_tablet) {
                    width: 100%;
                    margin-bottom: 40px;
                    font-size: 28px;
                }
            }
            .description{
                width: 60%;
                @media (max-width: $breakpoint_tablet) {
                    width: 100%;
                }
                p{
                    font-size: 24px;
                    line-height: 36px;
                    color: #969696;
                    margin-top: 0;
                    span{
                        color: #6BB64A;
                        font-weight: bold;
                    }
                    @media (max-width: $breakpoint_laptop) {         
                        font-size: 18px;
                        line-height: 29px;
                      }
                }
            }
        }
    }
}