@import "../../../../../../styles/variables";
.about_cloud_wrapper {
  padding: 100px 0;
  @media (max-width: $breakpoint_mobile_landscape) {
    padding: 60px 0;
  }
  .about_cloud {
    gap: 40px;
    @media (max-width: $breakpoint_tablet) {
      flex-direction: column;
    }
    img {
      width: 100%;
      height: unset;
      max-width: 680px;
      @media (max-width: $breakpoint_laptop) {
        max-width: 480px;
      }
    }
    section {
      h2 {
        display: inline-block;
        padding: 0 10px;
        background: #6BB64A;
        color: #FFFFFF;
        margin: 0 0 17px;
        font-size: 48px;
        @media (max-width: $breakpoint_laptop) {
          font-size: 30px;
        }
      }
      p {
        margin: 0 0 20px;
        font-size: 24px;
        line-height: 36px;
        @media (max-width: $breakpoint_laptop) {
          font-size: 18px;
          line-height: 28px;
        }
      }
      ul {
        li {
          @media (max-width: $breakpoint_laptop) {
            font-size: 18px;
            line-height: 28px;
          }
          font-size: 24px;
          line-height: 36px;
          font-weight: 400;
          margin-bottom: 10px;
          color: #1D4354;
          display: flex;
          align-items: center;
          gap: 20px;
          position: relative;
          &:before {
            content: '';
            left: 0;
            top: 0;
            background: url("../../../../../../public/assets/images/services/small-green-arrow.svg");
            width: 10px;
            height: 14px;
            background-size: contain;
            display: flex;
          }
        }
      }
    }
  }
}