.nft_process {
  background: url("../../../../../../public/assets/images/services/nft-process.jpg") center fixed;
  background-size: cover;
  padding: 100px 0 0;
}
@media (max-width: 1000px) {
  .nft_process {
    padding: 60px 0 0;
  }
}
@media (max-width: 1000px) {
  .nft_process .nft_process_text {
    margin-top: 80px;
  }
}
.nft_process .nft_process_text section {
  width: 100%;
  position: relative;
  padding-left: 67px;
  margin-bottom: 68px;
}
.nft_process .nft_process_text section:first-child {
  width: 82%;
}
@media (max-width: 1000px) {
  .nft_process .nft_process_text section:first-child {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 1000px) {
  .nft_process .nft_process_text section {
    padding-left: 0;
  }
}
.nft_process .nft_process_text section p {
  color: #EFEFEF;
  opacity: 0.9;
  font-size: 24px;
  line-height: 40px;
  margin: 0;
  font-family: "Apercu-Light", sans-serif;
}
@media (max-width: 1600px) {
  .nft_process .nft_process_text section p {
    font-size: 18px;
    line-height: 32px;
  }
}
@media (max-width: 1000px) {
  .nft_process .nft_process_text section p {
    margin-top: 20px;
  }
}
.nft_process .nft_process_text section span {
  background-color: #AAFF86;
  border-radius: 50px;
  color: #1D4354;
  font-size: 28px;
  line-height: 39px;
  padding: 13px 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "CloverDisplay", sans-serif;
  min-height: 83px;
  position: relative;
  margin-bottom: 6px;
  transition: all 0.4s ease-in-out;
}
.nft_process .nft_process_text section span:hover {
  background: #C8FFB0;
}
.nft_process .nft_process_text section span:hover small {
  background: #C8FFB0;
}
@media (max-width: 1600px) {
  .nft_process .nft_process_text section span {
    min-height: 55px;
    font-size: 22px;
    line-height: 30px;
    padding: 10px 40px;
  }
}
@media (max-width: 1000px) {
  .nft_process .nft_process_text section span {
    font-size: 20px;
  }
}
.nft_process .nft_process_text section span small {
  position: absolute;
  transition: all 0.4s ease-in-out;
  left: -67px;
  background-color: #AAFF86;
  width: 47px;
  height: 47px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1000px) {
  .nft_process .nft_process_text section span small {
    left: 0;
    top: -16px;
  }
}
.nft_process .nft_process_text section ul li {
  position: relative;
  padding-left: 67px;
  margin-bottom: 60px;
  width: 74%;
}
@media (max-width: 1600px) {
  .nft_process .nft_process_text section ul li {
    margin-bottom: 60px;
  }
}
@media (max-width: 1000px) {
  .nft_process .nft_process_text section ul li {
    width: 100%;
    padding-left: 0;
  }
}
.nft_process .nft_process_text section ul li:hover span {
  background: #C8FFB0;
}
.nft_process .nft_process_text section ul li:hover span small {
  background: #C8FFB0;
}
.nft_process .nft_process_text section ul li:last-child {
  padding-right: 67px;
  width: 100%;
}
@media (max-width: 1000px) {
  .nft_process .nft_process_text section ul li:last-child {
    padding-right: 0;
  }
}
.nft_process .nft_process_text section ul li:last-child span small {
  right: -67px;
  left: unset;
}
@media (max-width: 1000px) {
  .nft_process .nft_process_text section ul li:last-child span small {
    right: 0;
    left: 0;
  }
}
.nft_process .nft_process_text section.left_section {
  width: 26%;
  float: left;
  padding-left: 0;
}
@media (max-width: 1600px) {
  .nft_process .nft_process_text section.left_section {
    width: 30%;
  }
}
@media (max-width: 1000px) {
  .nft_process .nft_process_text section.left_section {
    width: 100%;
    margin: 0 auto 60px auto;
    float: initial;
  }
}
.nft_process .nft_process_text section.left_section:before {
  content: "";
  position: absolute;
  left: -5px;
  top: -35px;
  pointer-events: none;
  width: 432px;
  height: 600px;
  background: url("../../../../../../public/assets/images/services/dot_line.svg");
}
@media (max-width: 1000px) {
  .nft_process .nft_process_text section.left_section:before {
    content: none;
  }
}
@media (max-width: 1200px) {
  .nft_process .nft_process_text section.left_section:before {
    left: -66px;
  }
}
.nft_process .nft_process_text section.right_section {
  width: 74%;
  float: right;
  padding-left: 40px;
}
@media (max-width: 1600px) {
  .nft_process .nft_process_text section.right_section {
    width: 70%;
  }
}
@media (max-width: 1000px) {
  .nft_process .nft_process_text section.right_section {
    width: 100%;
    padding-left: 0;
    float: initial;
    margin: 0 auto;
  }
}/*# sourceMappingURL=nftProcess.module.css.map */