@import "../../../../../../styles/variables";
.bespoke_wrapper {
  padding: 100px 0 100px;
  background: #F3F6FF;
  background-size: cover;
  @media (max-width: $breakpoint_tablet) {
    padding: 60px 0 60px;
  }
  @media (max-width:$breakpoint_mobile_portrait) {
    & > div{
      display: block;
    }
  }
  .bespoke_wrapper_title {
    width: 50%;
    text-align: left;
    margin: 0 0 20px;
    @media (max-width: $breakpoint_tablet) {
      margin-bottom: 30px;
    }
    @media (max-width: $breakpoint_mobile_portrait) {
      width: 100%;
    }
    h2 {
      font-size: 48px;
      font-family: 'CloverDisplay-Bold', sans-serif;
      margin-bottom: 20px;
      padding-right: 30px;
      @media (max-width: $breakpoint_laptop) {
        font-size: 40px;
      }
      @media (max-width: $breakpoint_tablet) {
        font-size: 28px;
        margin-bottom: 10px;
        padding-right: 0;
      }
      @media (max-width: $breakpoint_mobile_portrait) {
        width: 100%;
      }
    }
    p {
      color: #969696;
      font-size: 24px;
      line-height: 42px;
      margin: 0;
      font-family: 'Apercu-Light', sans-serif;
      @media (max-width: $breakpoint_laptop) {
        font-size: 24px;
        line-height: 38px;
        margin-bottom: 40px;
      }
      @media (max-width: $breakpoint_tablet) {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 25px;
      }
      a {
        color: #1D5454;
        font-family: 'Apercu-Medium', sans-serif;
        text-decoration: underline;
      }
    }
  }
  .bespoke_Img{
    width: 50%;
    position: relative;
    padding: 70px 0;
    margin-left: -60px;
    margin-top: 20px;
    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 100em;
      height: 100%;
      background: #F3F3F3;
    }
    @media (max-width: $breakpoint_mobile_portrait) {
      position: relative;
      width: 100%;
      padding: 0;
      margin: 0 0 30px;
    }
    img{
      width: 100%;
      height: unset;
      position: relative;
      object-fit: contain;
    }
  }
  .bespoke_accordion{
    width: 50%;
    margin-top: -90px;
    padding-left: 60px;
    & > p {
      color: #969696;
      font-size: 25px;
      margin: 0;
      line-height: 40px;
      font-family: "Apercu-Light", sans-serif;
      opacity: 0.9;
    }
    @media (max-width: $breakpoint_laptop) {
      margin-top: -50px;
    }
    @media (max-width: $breakpoint_mobile_portrait) {
      width: 100%;
      margin-top: 0;
      padding-left: 0;
    }
  }
}