@import "../../../styles/variables.scss";
.lets_talk {
  padding: 100px 0;
  background-color: #F3F6FF;
  &.change_bg { background: #FFFFFF;}
  @media (max-width: 1600px) {
    padding: 70px 0;
  }
  @media (max-width: 1000px) {
    padding: 50px 0;
  }
  .talk_section {
    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
    }
    .contact_form {
      li {
        margin-bottom: 20px;
        @media (max-width: 1600px) {
          margin-bottom: 15px;
        }
        input{
          @media (max-width: $breakpoint_tablet) {
            font-size: 14px;
          }
        }
        select {
          padding-left: 18px;
          -webkit-appearance: none;
          -moz-appearance: none;
          background: #FCFCFC url("../../../public/assets/images/homepage/what_we_offer/select-arrow.svg") no-repeat;
          background-position-x: 97.5%;
          background-position-y: 20px;
          @media (max-width: 1600px) {
            background-position-y: 17px;
          }
          @media (max-width: $breakpoint_tablet) {
            font-size: 14px;
          }
        }
        textarea{
          @media (max-width: $breakpoint_tablet) {
            font-size: 14px;
          }
        }
        p {
          font-size: 20px;
          color: rgb(29 67 84);
          @media (max-width: $breakpoint_tablet) {
            font-size: 16px;
          }
          a {
            color: #6bb64a;
            text-decoration: underline;
          }
        }
        button {
          font-size: 15px;
          text-transform: uppercase;
          height: 45px;
          padding: 10px 15px;
          img {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
.map {
  @media (max-width: 1000px) {
    height: 300px;
  }
}
.location_map {
  span {
    position: relative;
    background: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    padding: 6px 12px;
    color: #1D4354;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      left: -27px;
      top: 5px;
      width: 16px;
      height: 16px;
      background: #2E60E3;
      border-radius: 100%;
    }
  }
}
.modal_wrap {
  position: fixed;
  left: -50%;
  transform: translate(10%, -50%);
  bottom: -100%;
  display: none !important;
  background: #FFFFFF;
  width: 500px;
  padding: 6px;
  @media (max-width: 1000px) {
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    transform: translate(65%, -50%);
  }
  @media (max-width: 600px) {
    transform: translate(7%, -50%);
  }
  &.active {
    display: flex !important;
  }
  figure {
    background: #F5F5F5;
    border-radius: 10px;
    margin: 0;
    padding: 19px 28px;
    max-width: 163px;
    flex: 0 0 163px;
    @media (max-width: 1000px) {
      display: none;
    }
    img {
      margin: 0 0 8px;
    }
    figcaption {
      h3 {
        margin: 0;
        font-size: 14px;
        line-height: 22px;
      }
      span {
        font-size: 12px;
        display: block;
        line-height: 30px;
        color: rgba(29,67,84,0.5);
      }
    }
  }
  .modal_text {
    padding-left: 23px;
    @media (max-width: 1000px) {
      padding-left: 0;
    }
    h4 {
      margin: 0 0 4px;
      font-size: 16px;
    }
    span, & > a {
      line-height: 25px;
      color: rgba(29,67,84,0.5);
      transition: all 0.4s ease-in-out;
      margin: 0 auto 4px 0;
      font-size: 14px;
      &:hover {color: rgba(29,67,84,1);}
    }
  }
  .button_wrapper {
    color: rgba(29,67,84,0.5);
    margin-top: 5px;
    .modal_btn {
      background: #6BB64A;
      color: #FFFFFF;
      font-size: 12px;
      border: none;
      padding: 11px 10px;
      border-radius: 5px;
      height: 40px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
    }
    small {
      margin: 0 8px;
      font-size: 14px;
    }
  }
}