.customer_talk {
  position: relative;
}
.customer_talk .white_title {
  position: absolute;
  padding: 0 160px;
  top: 80px;
  left: 0;
  z-index: 4;
}
@media (max-width: 1600px) {
  .customer_talk .white_title {
    padding: 0 60px;
  }
}
@media (max-width: 1000px) {
  .customer_talk .white_title {
    padding: 0;
    top: 50px;
    width: 100%;
  }
}
.customer_talk .industries_slider_wrap {
  position: relative;
  height: 80vh;
}
@media (max-width: 1000px) {
  .customer_talk .industries_slider_wrap {
    height: 500px;
  }
}
.customer_talk .industries_slider_wrap .slider_content_wrap {
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
  height: 80vh;
  padding-bottom: 60px;
  border-left: 1px solid #BEBEBE;
  padding-left: 60px;
}
@media (max-width: 1000px) {
  .customer_talk .industries_slider_wrap .slider_content_wrap {
    justify-content: flex-start;
    padding-left: 30px;
    height: 500px;
  }
}
.customer_talk .industries_slider_wrap .slider_content_wrap:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 21, 21, 0.7);
  transition: all 0.4s ease-in-out;
}
.customer_talk .industries_slider_wrap .slider_content_wrap section {
  position: relative;
  padding: 0 30px 0 0;
  z-index: 1;
  max-width: 260px;
  overflow: hidden;
  height: 50px;
  transition: all 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
}
.customer_talk .industries_slider_wrap .slider_content_wrap section h3 {
  margin: 0 0 19px;
  color: #ffffff;
  font-size: 28px;
}
.customer_talk .industries_slider_wrap .slider_content_wrap section p {
  font-size: 24px;
  line-height: 36px;
  margin: 0 0 21px;
  color: #ffffff;
}
@media (max-width: 1600px) {
  .customer_talk .industries_slider_wrap .slider_content_wrap section p {
    font-size: 18px;
    line-height: 24px;
  }
}
.customer_talk .industries_slider_wrap .slider_content_wrap section a {
  color: #6bb64a;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Apercu-Bold", sans-serif;
  transition: all 0.4s ease-in-out;
}
.customer_talk .industries_slider_wrap .slider_content_wrap section a img {
  margin-left: 11px;
  height: 17px;
}
.customer_talk .industries_slider_wrap .slider_content_wrap section a:hover {
  color: #6BB64A;
}
.customer_talk .industries_slider_wrap .industries_slider {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.customer_talk .industries_slider_wrap .industries_slider_image {
  position: relative;
  height: 80vh;
}
@media (max-width: 1000px) {
  .customer_talk .industries_slider_wrap .industries_slider_image {
    height: 500px;
  }
}
.customer_talk .industries_slider_wrap .industries_slider_image .industries_image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 80vh;
}
@media (max-width: 1000px) {
  .customer_talk .industries_slider_wrap .industries_slider_image .industries_image {
    height: 500px;
  }
}/*# sourceMappingURL=OurIndustries.module.css.map */