@import "../../../../../../styles/variables";
.project_nft_game {
  padding: 100px 0;
  position: relative;
  background: #F3F6FF;
  margin: 120px 0 90px;
  @media (max-width: $breakpoint_tablet) {
    padding: 60px 0;
    margin: 100px 0 60px;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: -35px;
    width: 100%;
    height: 36px;
    background: url("../../../../../../public/assets/images/services/gray-nft-shape.webp") center top;
    background-size: 100% 100%;
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -35px;
    width: 100%;
    height: 36px;
    background: url("../../../../../../public/assets/images/services/gray-nft-shape.webp") center top;
    background-size: 100% 100%;
    transform: scaleY(-1);
  }
  .project_nft_slide {
    figure {
      height: 390px;
      display: flex;
      align-items: flex-end;
      border-radius: 20px;
      overflow: hidden;
      margin: 0;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 43.36%, #000 100%);
      }
      figcaption {
        position: relative;
        padding: 0 30px 30px 50px;
        @media (max-width: $breakpoint_tablet) {
          padding-left: 30px;
        }
        h3 {
          color: #FFFFFF;
          margin: 0;
          font-size: 48px;
          @media (max-width: $breakpoint_laptop) {
            font-size: 36px;
          }
          @media (max-width: $breakpoint_tablet) {
            font-size: 28px;
          }
        }
        p {
          font-size: 20px;
          line-height: 28px;
          margin: 0;
          color: #FFFFFF;
          @media (max-width: $breakpoint_laptop) {
            font-size: 18px;
            line-height: 26px;
          }
          @media (max-width: $breakpoint_tablet) {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
  &.ai_games{
    margin: 0;
    &::after, &::before{
      display: none;
    }
  }
}


