@import "../../../../../../styles/variables";
.blockchain_portfolio_wrap {
  background: #1E4658 url('../../../../../../public/assets/images/services/custom-bg.svg');
  padding: 100px 0;
  @media (max-width: $breakpoint_laptop) {
    padding: 80px 0;
  }
  .title {
    margin-right: unset;
    margin-left: unset;
    text-align: left;
    p { width: 100%;}
  }
  .blockchain_portfolio {
    background: #12262F;
    padding: 30px 50px 70px 50px;
    @media (max-width: $breakpoint_tablet) {
      padding: 20px 20px 70px;
    }
    position: relative;
    .procimg {
      @media (max-width: $breakpoint_laptop) {
        width: 45%;
      }
      @media (max-width: $breakpoint_mobile_portrait) {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .portfolio_wrap {
      @media (max-width: $breakpoint_tablet) {
        flex-direction: column;
      }
    }
    section {
      padding-left: 60px;
      @media (max-width: $breakpoint_tablet) {
        padding-left: 0;
      }
      h3 {
        margin: 0 0 16px;
        font-size: 44px;
        color: #FFFFFF;
        line-height: 53px;
        @media (max-width: $breakpoint_laptop) {
          font-size: 34px;
          line-height: 44px;
        }
        @media (max-width: $breakpoint_tablet) {
          font-size: 24px;
          line-height: 34px;
        }
      }
      & > p {
        margin: 0 0 16px;
        font-size: 18px;
        line-height: 27px;
        color: rgba(255, 255, 255, 0.46);
        font-family: "Apercu-Light", sans-serif;
      }
      ul {
        li {
          display: flex;
          margin-bottom: 7px;
          strong {
            color: #FFFFFF;
            margin: 0 45px 0 0;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 32px;
            white-space: nowrap;
            letter-spacing: 0.355556px;
            @media (max-width: $breakpoint_tablet) {
              font-size: 14px;
              margin-right: 30px;
            }
          }
          p {
            color: rgba(255, 255, 255, 0.46);
            font-size: 18px;
            line-height: 31px;
            margin: 0;
            font-family: "Apercu-Light", sans-serif;
            span {
              display: block;
            }
          }
        }
      }
    }
    .slide_btn {
      position: absolute;
      right: 0;
      bottom: 0;
      min-width: 257px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #6BB64A;
      color: #FFFFFF;
      font-size: 16px;
      line-height: 28px;
      text-transform: uppercase;
      img { margin-left: 33px;}
    }
  }
}