@import "../../../../../../styles/variables";
.divider_wrapper {
  margin: -121px 0 0;
  position: relative;
  z-index: 1;
  .divider_content {
    width: 100%;
    max-width: 1043px;
    margin: 0 auto;
    padding: 75px 60px;
    border-radius: 20px;
    background: url("../../../../../../public/assets/images/services/devidir-bg.webp");
    @media screen and (max-width: $breakpoint_tablet) {
      padding: 50px 30px;
      flex-direction: column;
    }
    .divider_title {
      h2 {
        margin: 0;
        font-size: 28px;
        color: #FFFFFF;
      }
      @media screen and (max-width: $breakpoint_tablet) {
        margin-bottom: 20px;
        text-align: center;
      }
    }
    .contact_btn {
      max-width: 300px;
      margin-left: auto;
    }
  }
}