@import "../../../../../../styles/variables";
.benefits_nft_game {
  padding: 125px 0 60px;
  position: relative;
  @media (max-width: $breakpoint_laptop) {
    padding-bottom: 30px;
  }
  & > img {
    width: 100%;
    height: auto;
  }
  .benefits_nft_text {
    display: flex;
    align-items: center;
    gap: 80px;
    @media (max-width: $breakpoint_tablet) {
      flex-direction: column;
    }
    & > img {
      margin-left: -100px;
      @media (max-width: $breakpoint_laptop) {
        max-width: 560px;
        height: auto;
      }
      @media (max-width: $breakpoint_tablet) {
        margin-left: 0;
        width: 100%;
        max-width: 100%;
      }
    }
    .benefits_nft {
      width: 100%;
      ul {
        margin: 0 -10px;
        li {
          width: 50%;
          padding: 0 10px;
          margin: 15px 0;
          @media (max-width: $breakpoint_mobile_portrait) {
            width: 100%;
          }
          section {
            position: relative;
            display: flex;
            align-items: center;
            gap: 20px;
            border-radius: 20px;
            border: 1px solid #DDD;
            background: #FFF;
            padding: 17px 29px 15px;
            box-shadow: 0 5.64931px 4.51945px 0 rgba(0, 0, 0, 0.02), 0 15.61961px 12.49569px 0 rgba(0, 0, 0, 0.04), 0 37.60601px 30.0848px 0 rgba(0, 0, 0, 0.05), 0 124.74181px 99.79345px 0 rgba(0, 0, 0, 0.07);
            transition: all 0.4s ease-in-out;
            svg {
              position: absolute;
              top: 11px;
              right: 28px;
              @media (max-width: $breakpoint_laptop) {
                width: 30px;
                height: 30px;
              }
            }
            &:hover {
              background: #6BB64A;
              svg {
                path {
                  fill: #FFFFFF;
                }
              }
              img {
                filter: brightness(10);
              }
              span {
                color: #FFFFFF;
              }
            }
            img {
              @media (max-width: $breakpoint_laptop) {
                width: 50px;
                height: 50px;
              }
            }
            span {
              font-size: 28px;
              color: #1D4354;
              font-family: "CloverDisplay-bold", sans-serif;
              @media (max-width: $breakpoint_laptop) {
                font-size: 22px;
              }
            }
          }
        }
      }
      .contact_btn { max-width: 218px;}
    }
  }
}