@import "../../../../../../styles/variables";
.sass_product_wrapper {
  background: #F3F6FF;
  padding: 80px 0;
  ul.content_list {
    margin: 0 -10px;
    li {
      width: 50%;
      padding: 0 10px;
      margin-bottom: 80px;
      @media (max-width: $breakpoint_laptop) {
        margin-bottom: 40px;
      }
      @media (max-width: $breakpoint_mobile_landscape) {
        width: 100%;
      }
      .section_title {
        width: 100%;
        text-align: left;
        margin: 0;
        p {
          width: 90%;
          margin: 0;
        }
      }
      section {
        padding-left: 64px;
        position: relative;
        @media (max-width: $breakpoint_laptop) {
          padding-left: 50px;
        }
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          background: url("../../../../../../public/assets/images/services/checkgreenIcon.svg");
          width: 44px;
          height: 44px;
          @media (max-width: $breakpoint_laptop) {
            width: 30px;
            height: 30px;
            background-size: contain;
          }
        }
        h3 {
          font-size: 28px;
          margin: 0 0 11px;
          @media (max-width: $breakpoint_laptop) {
            font-size: 24px;
            margin: 0 0 10px;
          }
        }
        & > p {
          font-size: 24px;
          line-height: 36px;
          margin: 0;
          @media (max-width: $breakpoint_laptop) {
            font-size: 18px;
            line-height: 26px;
          }
        }
      }
    }
  }
  h4 {
    color: #1D4354;
    margin: 0 0 50px;
    font-size: 48px;
    text-align: center;
    @media (max-width: $breakpoint_laptop) {
      font-size: 38px;
    }
    @media (max-width: $breakpoint_mobile_landscape) {
      font-size: 30px;
    }
    span {
      color: #6BB64A;
    }
  }
  ul.example_list {
    justify-content: center;
    @media (max-width: $breakpoint_mobile_landscape) {
      flex-wrap: wrap;
      align-items: flex-start;
    }
    li {
      padding: 0 50px;
      @media (max-width: $breakpoint_mobile_landscape) {
        padding: 0 5px;
        width: 50%;
      }
      h5{
        font-weight: 700;
        font-size: 28px;
        line-height: 42px;
        padding-left: 64px;
        position: relative;
        @media (max-width: $breakpoint_laptop) {
          font-size: 22px;
          line-height: 1.1;
          padding-left: 50px;
        }
        @media (max-width: $breakpoint_mobile_landscape) {
          font-size: 19px;
          padding-left: 30px;
        }
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: -2px;
          background: url("../../../../../../public/assets/images/services/checkgreenIcon.svg");
          width: 44px;
          height: 44px;
          @media (max-width: $breakpoint_laptop) {
            width: 30px;
            height: 30px;
            background-size: contain;
          }
          @media (max-width: $breakpoint_mobile_landscape) {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}