@import "../../../../../../styles/variables";
.chain_custom_wrapper {
  background: #1E4658 url('../../../../../../public/assets/images/services/custom-bg.svg');
  position: relative;
  padding: 100px 0 40px;
  @media (max-width: $breakpoint_laptop) {
    padding: 80px 0 40px;
  }
  &:before {
    content: '';
    position: absolute;
    right: 161px;
    top: 63px;
    width: 352px;
    height: 352px;
    background: url("../../../../../../public/assets/images/services/custom.webp") center no-repeat;
    background-size: contain;
    @media (max-width: $breakpoint_laptop) {
      width: 200px;
      height: 200px;
      right: 100px;
    }
    @media (max-width: $breakpoint_tablet) {
      width: 100px;
      height: 100px;
      top: 20px;
      right: 20px;
    }
  }
  .title {
    margin-left: unset;
    text-align: left;
    margin-right: unset;
    p {
      width: 100%;
    }
  }
  .chain_custom_app {
    ul {
      margin: 0 -52px;
      li {
        width: 33.333%;
        padding: 0 52px;
        margin-bottom: 60px;
        @media (max-width: $breakpoint_laptop) {
          margin-bottom: 40px;
        }
        @media (max-width: $breakpoint_tablet) {
          width: 50%;
        }
        @media (max-width: $breakpoint_mobile_portrait) {
          width: 100%;
        }
        section {
          h3 {
            margin: 0 0 10px;
            font-size: 36px;
            text-transform: capitalize;
            color: #FFFFFF;
            white-space: pre-line;
            position: relative;
            @media (max-width: $breakpoint_laptop) {
              font-size: 25px;
              line-height: 1.4;
            }
            &:before {
              content: '';
              position: absolute;
              left: -25px;
              top: 10px;
              height: 80%;
              width: 8px;
              background: #6BB64A;
              @media (max-width: $breakpoint_laptop) {
                top: 5px;
              }
            }
          }
          p {
            color: #E4E4E4;
            opacity: 0.9;
            font-size: 24px;
            line-height: 36px;
            font-family: "Apercu-Light", sans-serif;
            margin: 0;
            @media (max-width: $breakpoint_laptop) {
              font-size: 18px;
              line-height: 29px;
            }
          }
        }
      }
    }
  }
}