@import "../../../styles/variables";
.nft_services_wrapper {
  padding: 100px 0 60px;
  background: #f8f8f8;
  @media (max-width: $breakpoint_tablet) {
    padding: 60px 0 40px;
  }
  .choose_services {
    ul {
      margin: 0 -20px;
      li {
        padding: 0 25px;
        width: 33.333%;
        margin: 0 0 70px;
        @media (max-width: $breakpoint_laptop) {
          margin-bottom: 30px;
        }
        @media (max-width: $breakpoint_tablet) {
          width: 50%;
        }
        @media (max-width: $breakpoint_mobile_portrait) {
          width: 100%;
          opacity: 1 !important;
          transform: translateZ(0) !important;
        }
        &:hover {
          figure {
            transform: scale(0.8);
          }
          h3 { color: $green_color;}
        }
        figure {
          width: 125px;
          height: 125px;
          margin: 0 0 18px;
          border-radius: 100%;
          padding-left: 20px;
          margin-right: auto;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          transition: all 0.4s ease-in-out;
          @media (max-width: $breakpoint_laptop) {
            width: 115px;
            height: 115px;
            margin-bottom: 10px;
          }
          @media (max-width: $breakpoint_tablet) {
            margin-bottom: 5px;
          }
          img {
            object-fit: contain;
            width: 60px;
          }
        }
        h3 {
          margin: 0 0 30px;
          margin-right: auto !important;
          padding-left: 10px;
          text-transform: capitalize;
          font-size: 28px;
          transition: all 0.4s ease-in-out;
          border-left: 7px solid #6BB64A;
          @media (max-width: $breakpoint_laptop) {
            margin: 0 0 10px;
            font-size: 24px;
          }
        }
       ul{
        padding:0 0 0 20px;
        margin:0 0 0 20px;
        width: 100%;
        li{
          width: 100%;
          margin: 0;
          font-size: 24px;
          line-height: 36px;
          padding: 0;
          list-style: disc;
          @media (max-width: $breakpoint_laptop) {
            font-size: 18px;
            line-height: 28px;
          }
          @media (max-width: $breakpoint_tablet) {
            font-size: 16px;
          }
        }
       }
      }
    }
  }
}