.customer_talk {
  padding: 100px 0 50px;
  background: #F3F6FF;
}
@media (max-width: 1600px) {
  .customer_talk {
    padding: 70px 0 30px;
  }
}
@media (max-width: 1000px) {
  .customer_talk {
    padding: 50px 0 0;
    margin-bottom: 0;
  }
}
@media (max-width: 1000px) {
  .customer_talk .customer_tabs {
    flex-direction: column;
  }
}
.customer_talk .customer_tabs .tabs_list {
  width: 23%;
}
@media (max-width: 1000px) {
  .customer_talk .customer_tabs .tabs_list {
    width: auto;
    background-color: #1d4354;
    overflow: auto;
    margin: 0 -18px;
  }
  .customer_talk .customer_tabs .tabs_list::-webkit-scrollbar {
    height: 0;
  }
}
.customer_talk .customer_tabs .tabs_list ul {
  border-left: 2px solid #E2E2E2;
}
@media (max-width: 1000px) {
  .customer_talk .customer_tabs .tabs_list ul {
    flex-direction: row;
  }
}
.customer_talk .customer_tabs .tabs_list ul li {
  margin-bottom: 30px;
}
@media (max-width: 1600px) {
  .customer_talk .customer_tabs .tabs_list ul li {
    margin-bottom: 15px;
  }
}
@media (max-width: 1000px) {
  .customer_talk .customer_tabs .tabs_list ul li {
    margin-bottom: 0;
  }
}
.customer_talk .customer_tabs .tabs_list ul li .tab_btn {
  display: inline-block;
  background: transparent;
  border: none;
  color: #969696 !important;
  position: relative;
  font-size: 28px;
  line-height: 40px;
  padding: 0 0 0 25px;
  font-family: "CloverDisplay-Light", sans-serif;
}
@media (max-width: 1600px) {
  .customer_talk .customer_tabs .tabs_list ul li .tab_btn {
    font-size: 22px;
  }
}
@media (max-width: 1000px) {
  .customer_talk .customer_tabs .tabs_list ul li .tab_btn {
    font-size: 20px;
    padding: 5px 0;
    margin: 0 12px;
    color: #CFCFCF !important;
  }
}
.customer_talk .customer_tabs .tabs_list ul li .tab_btn.active {
  color: #1D4354 !important;
  font-family: "CloverDisplay-Medium", sans-serif;
}
@media (max-width: 1000px) {
  .customer_talk .customer_tabs .tabs_list ul li .tab_btn.active {
    color: #FFFFFF !important;
  }
}
.customer_talk .customer_tabs .tabs_list ul li .tab_btn.active:before {
  height: 100%;
}
@media (max-width: 1000px) {
  .customer_talk .customer_tabs .tabs_list ul li .tab_btn.active:before {
    height: 4px;
    width: 100%;
  }
}
.customer_talk .customer_tabs .tabs_list ul li .tab_btn:before {
  content: "";
  position: absolute;
  left: -3px;
  top: 0;
  width: 4px;
  height: 0;
  background-color: #6bb64a;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1000px) {
  .customer_talk .customer_tabs .tabs_list ul li .tab_btn:before {
    width: 0;
    height: 4px !important;
    top: unset;
    bottom: 0;
  }
}
.customer_talk .customer_tabs .tabs_list ul li:last-child {
  margin-bottom: 0;
}
.customer_talk .customer_tabs .tabs_content {
  width: 77%;
}
@media (max-width: 1000px) {
  .customer_talk .customer_tabs .tabs_content {
    width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .customer_talk .customer_tabs .tabs_content > div {
    flex-direction: column;
  }
}
@media (max-width: 1000px) {
  .customer_talk .customer_tabs .tabs_content .tabs_content_text {
    padding: 20px 0 30px;
  }
}
.customer_talk .customer_tabs .tabs_content .tabs_content_text h3 {
  margin: 0 0 33px;
  font-size: 28px;
}
@media (max-width: 1600px) {
  .customer_talk .customer_tabs .tabs_content .tabs_content_text h3 {
    margin: 0 0 20px;
  }
}
.customer_talk .customer_tabs .tabs_content .tabs_content_text p {
  font-family: "Apercu-Light", sans-serif;
  font-size: 24px;
  line-height: 40px;
  color: #969696;
  margin: 0 0 30px;
  max-width: 90%;
  opacity: 0.9;
}
@media (max-width: 1600px) {
  .customer_talk .customer_tabs .tabs_content .tabs_content_text p {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 1000px) {
  .customer_talk .customer_tabs .tabs_content .tabs_content_text p {
    margin: 0 0 20px;
    font-size: 18px;
    line-height: 30px;
  }
}
.customer_talk .customer_tabs .tabs_content .tabs_content_text .detail_link {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 33px;
  text-transform: uppercase;
  font-family: "Apercu-Bold", sans-serif;
  transition: all 0.4s ease-in-out;
}
.customer_talk .customer_tabs .tabs_content .tabs_content_text .detail_link img {
  margin-left: 10px;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1600px) {
  .customer_talk .customer_tabs .tabs_content .tabs_content_text .detail_link {
    margin-bottom: 25px;
  }
}
@media (max-width: 1000px) {
  .customer_talk .customer_tabs .tabs_content .tabs_content_text .detail_link {
    margin-bottom: 20px;
  }
}
.customer_talk .customer_tabs .tabs_content .tabs_content_text .detail_link:hover {
  color: #6bb64a;
}
.customer_talk .customer_tabs .tabs_content .tabs_content_text .detail_link:hover img {
  margin-left: 13px;
}
.customer_talk .customer_tabs .tabs_content .tabs_content_text ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
}
.customer_talk .customer_tabs .tabs_content .tabs_content_text ul li {
  color: #1D4354;
  margin-bottom: 19px;
}
@media (max-width: 1600px) {
  .customer_talk .customer_tabs .tabs_content .tabs_content_text ul li {
    margin-bottom: 10px;
  }
}
@media (max-width: 1000px) {
  .customer_talk .customer_tabs .tabs_content .tabs_content_text ul li {
    margin-bottom: 5px;
  }
}
.customer_talk .customer_tabs .tabs_content .tabs_content_text ul li span {
  font-size: 24px;
  line-height: 34px;
  width: 125px;
  margin-right: 50px;
  font-family: "Apercu-Medium", sans-serif;
}
@media (max-width: 1600px) {
  .customer_talk .customer_tabs .tabs_content .tabs_content_text ul li span {
    font-size: 22px;
    width: 110px;
  }
}
@media (max-width: 1000px) {
  .customer_talk .customer_tabs .tabs_content .tabs_content_text ul li span {
    font-size: 18px;
    width: 105px;
    margin-right: 0;
  }
}
.customer_talk .customer_tabs .tabs_content .tabs_content_text ul li small {
  font-family: "CloverDisplay", sans-serif;
  font-size: 20px;
  line-height: 28px;
}
@media (max-width: 1600px) {
  .customer_talk .customer_tabs .tabs_content .tabs_content_text ul li small {
    display: flex;
    align-items: center;
    font-size: 18px;
  }
  .customer_talk .customer_tabs .tabs_content .tabs_content_text ul li small img {
    height: auto;
    width: 30px;
    margin-right: 10px;
  }
}
@media (max-width: 1000px) {
  .customer_talk .customer_tabs .tabs_content .tabs_content_text ul li small {
    font-size: 16px;
    display: flex;
    align-items: center;
  }
}
.customer_talk .customer_tabs .tabs_content .customer_video {
  max-width: 455px;
  flex: 0 0 455px;
  overflow: hidden;
}
@media (max-width: 1600px) {
  .customer_talk .customer_tabs .tabs_content .customer_video {
    flex: 0 0 370px;
  }
}
@media (max-width: 767px) {
  .customer_talk .customer_tabs .tabs_content .customer_video {
    flex: unset;
    max-width: 400px;
    margin: 0 auto;
  }
}
.customer_talk .customer_tabs .tabs_content .customer_video section {
  position: relative;
  height: 489px;
}
@media (max-width: 1600px) {
  .customer_talk .customer_tabs .tabs_content .customer_video section {
    height: 400px;
  }
}
@media (max-width: 1000px) {
  .customer_talk .customer_tabs .tabs_content .customer_video section {
    height: 337px;
  }
}
.customer_talk .customer_tabs .tabs_content .customer_video section:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../../../public/assets/images/homepage/customer_talk/video-wrap.webp") center;
  background-size: 100% 100%;
}
.customer_talk .customer_tabs .tabs_content .customer_video section video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=CustomerTalks.module.css.map */