.modal_wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 999;
  overflow: auto;
  .modal_content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 1.75rem auto;
    min-height: calc(100% - (1.75rem * 2));
    .modal_body {
      width: 100%;
      border-radius: 30px;
      //box-shadow: 0 0 10px rgba(0,0,0,0.2);
      position: relative;
      .modal_close {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        z-index: 1;
        filter: brightness(20);
      }
      section {
        position: relative;
        .banner_video{
          margin-top: 20px;
          width: 100%;
          height: 100%;
        }
        h2 {
          margin: 0 0 50px;
          text-align: center;
          font-size: 48px;
          color: #1D4354;
          span {
            color: #FFFFFF;
            background: #6BB64A;
            padding: 0 5px;
          }
        }
        ul {
          li {
            position: relative;
            margin-bottom: 20px;
            &:last-child { margin-bottom: 0;}
          }
        }
      }
    }
  }
}
.file_upload {
  position: absolute;
  overflow: hidden;
  color: #1D4354;
  font-family: "CloverDisplay-bold", sans-serif;
  display: flex;
  align-items: center;
  right: 30px;
  cursor: pointer;
  bottom: 18px;
  img { margin-right: 8px}
  input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
}