@import "../../../../../../styles/variables";
.marquee{
    background-color: #12262F;
    padding: 20px 0;
    .outline{
        line-height: 60px;
        color: #fff;
        margin-right: 10px;
        font-size: 48px;
        text-transform: uppercase;
        -webkit-text-stroke: 1px #fff;
        -webkit-text-fill-color: transparent;
        font-family: "CloverDisplay-ExtraBold", sans-serif !important;
        &:hover{
           color: #ffff;
           -webkit-text-stroke: 1px #ffff;
        -webkit-text-fill-color: #ffff;
        }
    }
    .fill{
        line-height: 60px;
        color: #6BB64A;
        margin-right: 10px;
        font-size: 48px;
        text-transform: uppercase;
        font-family: "CloverDisplay-ExtraBold", sans-serif !important;
        &:hover{
          color: #fff;
        }
    }
    &.white_marquee{
        background-color: #fff;
        padding: 55px 0 50px;
        .outline{
            -webkit-text-stroke: 1px rgba(29, 67, 84, 0.3);
            &:hover{
               color: #6BB64A;
               -webkit-text-stroke: 1px #6BB64A;
            -webkit-text-fill-color: #6BB64A;
            }
        }
        .fill{
            &:hover{
                color: #fff;
                -webkit-text-stroke: 1px rgba(29, 67, 84, 0.3);
                -webkit-text-fill-color: transparent;
            }
        }
    }
}