.nft_tech_wrapper {
  padding: 100px 0 60px;
}
@media (max-width: 1000px) {
  .nft_tech_wrapper {
    padding: 60px 0 30px;
  }
}
.nft_tech_wrapper .contact_btn {
  max-width: 278px;
}
@media (max-width: 1000px) {
  .nft_tech_wrapper .contact_btn {
    margin: 25px auto 0 auto;
  }
}
@media (max-width: 1000px) {
  .nft_tech_wrapper .nft_tech_title {
    display: block;
  }
}
.nft_tech_wrapper .nft_tech_title > div {
  width: 50%;
}
@media (max-width: 1000px) {
  .nft_tech_wrapper .nft_tech_title > div {
    width: 100%;
  }
}
.nft_tech_wrapper .nft_tech_title > div h2 {
  margin: 0;
  text-align: left;
}
@media (max-width: 1000px) {
  .nft_tech_wrapper .nft_tech_title > div h2 {
    text-align: center;
  }
}
.nft_tech_wrapper .nft_tech_title p {
  font-size: 24px;
  line-height: 42px;
  width: 50%;
  margin: 0;
}
@media (max-width: 1600px) {
  .nft_tech_wrapper .nft_tech_title p {
    font-size: 20px;
    line-height: 35px;
  }
}
@media (max-width: 1000px) {
  .nft_tech_wrapper .nft_tech_title p {
    width: 100%;
    text-align: center;
  }
}
.nft_tech_wrapper ul {
  margin: 87px -11px 0;
}
@media (max-width: 1000px) {
  .nft_tech_wrapper ul {
    display: block;
  }
}
@media (max-width: 600px) {
  .nft_tech_wrapper ul {
    margin: 50px -11px 0;
  }
}
.nft_tech_wrapper ul li {
  width: 50%;
  padding: 0 11px;
  margin-bottom: 20px;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 1000px) {
  .nft_tech_wrapper ul li {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .nft_tech_wrapper ul li {
    width: 100%;
  }
}
.nft_tech_wrapper ul li .tech_boxes {
  background: #F3F6FF;
  padding: 28px 9px;
  border: 1px solid #E9E9E9;
  border-radius: 30px;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 600px) {
  .nft_tech_wrapper ul li .tech_boxes {
    padding: 38px 15px 30px;
  }
}
.nft_tech_wrapper ul li .tech_boxes:hover {
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07), 0 30.1471px 24.1177px rgba(0, 0, 0, 0.0456112), 0 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0 4.5288px 3.62304px rgba(0, 0, 0, 0.0243888);
}
.nft_tech_wrapper ul li .tech_boxes h3 {
  margin: 0;
  font-size: 28px;
  line-height: 39px;
  text-align: center;
}
@media (max-width: 1200px) {
  .nft_tech_wrapper ul li .tech_boxes h3 {
    font-size: 22px;
  }
}
.nft_tech_wrapper ul li .tech_boxes section img {
  margin: 0 0 17px;
}
.nft_tech_wrapper ul li .tech_boxes section span {
  width: 25%;
  margin-top: 25px;
  color: #12262F;
  text-align: center;
  font-family: "Apercu-Medium", sans-serif;
  font-size: 14px;
  white-space: pre;
}
@media (max-width: 1200px) {
  .nft_tech_wrapper ul li .tech_boxes section span {
    width: 33.333%;
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .nft_tech_wrapper ul li .tech_boxes section span {
    width: 33.333%;
    margin-bottom: 20px;
  }
}
.nft_tech_wrapper .grid_list {
  width: 66.33%;
}
@media (max-width: 1000px) {
  .nft_tech_wrapper .grid_list {
    width: 100%;
  }
}
.nft_tech_wrapper .grid_list ul {
  margin: 0;
}
.nft_tech_wrapper .grid_list ul .grid_section {
  width: 100%;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
}
@media (max-width: 1000px) {
  .nft_tech_wrapper .grid_list ul .grid_section {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .nft_tech_wrapper .grid_list ul .grid_section li {
    padding: 0;
  }
}
.nft_tech_wrapper .grid_list ul .grid_section li section span {
  width: 25%;
}
.nft_tech_wrapper .list_section {
  width: 33.33%;
}
@media (max-width: 1000px) {
  .nft_tech_wrapper .list_section {
    width: 100%;
  }
  .nft_tech_wrapper .list_section .tech_boxes section span {
    width: 20%;
  }
}
@media (max-width: 1000px) and (max-width: 600px) {
  .nft_tech_wrapper .list_section .tech_boxes section span {
    width: 25%;
  }
}/*# sourceMappingURL=nftTechStack.module.css.map */