@import "../../../../../../styles/variables";
.blockchain_benefits_wrapper {
  position: relative;
  padding: 100px 0 80px;
  @media (max-width: $breakpoint_laptop) {
    padding: 80px 0 60px;
  }
  &:before {
    content: '';
    position: absolute;
    left: 102px;
    top: 43px;
    width: 242px;
    height: 242px;
    background: url("../../../../../../public/assets/images/services/chain.png") center no-repeat;
    background-size: contain;
    @media (max-width: $breakpoint_laptop) {
      left: 43px;
      top: 43px;
      width: 200px;
      height: 200px;
    }
    @media (max-width: $breakpoint_tablet) {
      width: 100px;
      height: 100px;
      top: 20px;
      left: 20px;
    }
  }
  .blockchain_benefits_content {
    justify-content: center;
    @media (max-width: $breakpoint_mobile_portrait) {
      flex-direction: column;
    }
    & > img {
      margin: 0 -60px;
      @media (max-width: $breakpoint_laptop) {
        max-width: 450px;
        height: unset;
      }
      @media (max-width: $breakpoint_tablet) {
        max-width: 300px;
      }
      @media (max-width: $breakpoint_mobile_portrait) {
        max-width: 100%;
      }
    }
    ul {
      &.revers {
        li {
          text-align: left;
          flex-direction: row-reverse;
          img {
            margin: 0 20px 0 0;
            @media (max-width: $breakpoint_tablet) {
              margin: 0 10px 0 0;
            }
          }
        }
      }
      li {
        text-align: right;
        position: relative;
        display: flex;
        margin-bottom: 100px;
        @media (max-width: $breakpoint_laptop) {
          margin-bottom: 70px;
        }
        @media (max-width: $breakpoint_tablet) {
          margin-bottom:30px;
        }
        @media (max-width: $breakpoint_mobile_portrait) {
          justify-content: flex-end;
        }
        &:last-child  { margin-bottom: 0}
        &:hover {
          img { transform: scaleX(-1)}
        }
        img {
          margin-left: 20px;
          transition: all 0.4s ease-in-out;
          @media (max-width: $breakpoint_laptop) {
            width: 60px;
            height: 60px;
          }
          @media (max-width: $breakpoint_tablet) {
            width: 50px;
            height: 50px;
            margin-left: 10px;
          }
        }
        h5 {
          font-size: 28px;
          margin: 0;
          font-family: "CloverDisplay", sans-serif;
          @media (max-width: $breakpoint_laptop) {
            font-size: 22px;
          }
          @media (max-width: $breakpoint_tablet) {
            font-size: 19px;
          }
        }
        p {
          font-size: 26px;
          color: #969696;
          opacity: 0.9;
          font-family: "Apercu-Light", sans-serif;
          margin: 0;
          @media (max-width: $breakpoint_laptop) {
            font-size: 20px;
          }
          @media (max-width: $breakpoint_tablet) {
            font-size: 16px;
          }
        }
      }
    }
  }
}