.blockchain_benefits_wrapper {
  position: relative;
  padding: 100px 0 80px;
}
@media (max-width: 1600px) {
  .blockchain_benefits_wrapper {
    padding: 80px 0 60px;
  }
}
.blockchain_benefits_wrapper:before {
  content: "";
  position: absolute;
  left: 102px;
  top: 43px;
  width: 242px;
  height: 242px;
  background: url("../../../../../../public/assets/images/services/chain.png") center no-repeat;
  background-size: contain;
}
@media (max-width: 1600px) {
  .blockchain_benefits_wrapper:before {
    left: 43px;
    top: 43px;
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 1000px) {
  .blockchain_benefits_wrapper:before {
    width: 100px;
    height: 100px;
    top: 20px;
    left: 20px;
  }
}
.blockchain_benefits_wrapper .blockchain_benefits_content {
  justify-content: center;
}
@media (max-width: 600px) {
  .blockchain_benefits_wrapper .blockchain_benefits_content {
    flex-direction: column;
  }
}
.blockchain_benefits_wrapper .blockchain_benefits_content > img {
  margin: 0 -60px;
}
@media (max-width: 1600px) {
  .blockchain_benefits_wrapper .blockchain_benefits_content > img {
    max-width: 450px;
    height: unset;
  }
}
@media (max-width: 1000px) {
  .blockchain_benefits_wrapper .blockchain_benefits_content > img {
    max-width: 300px;
  }
}
@media (max-width: 600px) {
  .blockchain_benefits_wrapper .blockchain_benefits_content > img {
    max-width: 100%;
  }
}
.blockchain_benefits_wrapper .blockchain_benefits_content ul.revers li {
  text-align: left;
  flex-direction: row-reverse;
}
.blockchain_benefits_wrapper .blockchain_benefits_content ul.revers li img {
  margin: 0 20px 0 0;
}
@media (max-width: 1000px) {
  .blockchain_benefits_wrapper .blockchain_benefits_content ul.revers li img {
    margin: 0 10px 0 0;
  }
}
.blockchain_benefits_wrapper .blockchain_benefits_content ul li {
  text-align: right;
  position: relative;
  display: flex;
  margin-bottom: 100px;
}
@media (max-width: 1600px) {
  .blockchain_benefits_wrapper .blockchain_benefits_content ul li {
    margin-bottom: 70px;
  }
}
@media (max-width: 1000px) {
  .blockchain_benefits_wrapper .blockchain_benefits_content ul li {
    margin-bottom: 30px;
  }
}
@media (max-width: 600px) {
  .blockchain_benefits_wrapper .blockchain_benefits_content ul li {
    justify-content: flex-end;
  }
}
.blockchain_benefits_wrapper .blockchain_benefits_content ul li:last-child {
  margin-bottom: 0;
}
.blockchain_benefits_wrapper .blockchain_benefits_content ul li:hover img {
  transform: scaleX(-1);
}
.blockchain_benefits_wrapper .blockchain_benefits_content ul li img {
  margin-left: 20px;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1600px) {
  .blockchain_benefits_wrapper .blockchain_benefits_content ul li img {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 1000px) {
  .blockchain_benefits_wrapper .blockchain_benefits_content ul li img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
}
.blockchain_benefits_wrapper .blockchain_benefits_content ul li h5 {
  font-size: 28px;
  margin: 0;
  font-family: "CloverDisplay", sans-serif;
}
@media (max-width: 1600px) {
  .blockchain_benefits_wrapper .blockchain_benefits_content ul li h5 {
    font-size: 22px;
  }
}
@media (max-width: 1000px) {
  .blockchain_benefits_wrapper .blockchain_benefits_content ul li h5 {
    font-size: 19px;
  }
}
.blockchain_benefits_wrapper .blockchain_benefits_content ul li p {
  font-size: 26px;
  color: #969696;
  opacity: 0.9;
  font-family: "Apercu-Light", sans-serif;
  margin: 0;
}
@media (max-width: 1600px) {
  .blockchain_benefits_wrapper .blockchain_benefits_content ul li p {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .blockchain_benefits_wrapper .blockchain_benefits_content ul li p {
    font-size: 16px;
  }
}/*# sourceMappingURL=blockchainBenefits.module.css.map */