@font-face {
  font-family: 'CloverDisplay-ExtraBold';
  src: url('../public/assets/fonts/CloverDisplay-ExtraBold.woff2') format('woff2'),
  url('../public/assets/fonts/CloverDisplay-ExtraBold.woff') format('woff'),
  url('../public/assets/fonts/CloverDisplay-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CloverDisplay-Bold';
  src: url('../public/assets/fonts/CloverDisplay-Bold.woff2') format('woff2'),
  url('../public/assets/fonts/CloverDisplay-Bold.woff') format('woff'),
  url('../public/assets/fonts/CloverDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CloverDisplay-Light';
  src: url('../public/assets/fonts/CloverDisplay-Light.woff2') format('woff2'),
  url('../public/assets/fonts/CloverDisplay-Light.woff') format('woff'),
  url('../public/assets/fonts/CloverDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CloverDisplay-ExtraLight';
  src: url('../public/assets/fonts/CloverDisplay-ExtraLight.woff2') format('woff2'),
  url('../public/assets/fonts/CloverDisplay-ExtraLight.woff') format('woff'),
  url('../public/assets/fonts/CloverDisplay-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CloverDisplay-Medium';
  src: url('../public/assets/fonts/CloverDisplay-Medium.woff2') format('woff2'),
  url('../public/assets/fonts/CloverDisplay-Medium.woff') format('woff'),
  url('../public/assets/fonts/CloverDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CloverDisplay';
  src: url('../public/assets/fonts/CloverDisplay-Regular.woff2') format('woff2'),
  url('../public/assets/fonts/CloverDisplay-Regular.woff') format('woff'),
  url('../public/assets/fonts/CloverDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CloverDisplay-SemiBold';
  src: url('../public/assets/fonts/CloverDisplay-SemiBold.woff2') format('woff2'),
  url('../public/assets/fonts/CloverDisplay-SemiBold.woff') format('woff'),
  url('../public/assets/fonts/CloverDisplay-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Apercu-Medium';
  src: url('../public/assets/fonts/Apercu-Medium.woff2') format('woff2'),
  url('../public/assets/fonts/Apercu-Medium.woff') format('woff'),
  url('../public/assets/fonts/Apercu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Apercu-Bold';
  src: url('../public/assets/fonts/Apercu-Bold.woff2') format('woff2'),
  url('../public/assets/fonts/Apercu-Bold.woff') format('woff'),
  url('../public/assets/fonts/Apercu-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Apercu';
  src: url('../public/assets/fonts/Apercu-Regular.woff2') format('woff2'),
  url('../public/assets/fonts/Apercu-Regular.woff') format('woff'),
  url('../public/assets/fonts/Apercu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Apercu-Light';
  src: url('../public/assets/fonts/Apercu-Light.woff2') format('woff2'),
  url('../public/assets/fonts/Apercu-Light.woff') format('woff'),
  url('../public/assets/fonts/Apercu-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@import "./variables.scss";
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  font: 400 16px/24px "Apercu-Light", sans-serif;
  color: $body_color;
  overflow-x: clip;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $white_color;
}
#layout_wrapper {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  line-height: 1.5;
  margin: 0 0 10px;
  color: $dark_color;
  font-family: 'CloverDisplay-Bold', sans-serif;
}
.img-responsive {
  width: 100%;
  height: auto;
  display: block;
}
.pre-word-line {
  white-space: pre-line;
}
.list-none {
  margin: 0;
  padding: 0;
  list-style: none;
}
.word-break {
  word-break: break-word;
}
.d-block {
  display: block;
}
.d-xl-none{
  display: none;
  @media screen and (max-width: $breakpoint_tablet) {
    display: block;
  }
}
.no-padding {
  padding: 0 !important;
}
.is-scrollable {
  overflow: hidden;
}
input[type="submit"],
button {
  cursor: pointer;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  * {
    cursor: pointer;
  }
}
img {
  vertical-align: top;
  border-style: none;
}
*:focus {
  outline: none;
}
.transition {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}
.w-100 {
  width: 100% !important;
}
.error-msg {
  color: red;
  margin-top: 15px;
  display: block;
}
.error-msg:first-letter {
  text-transform: capitalize;
}
#wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.container {
  max-width: 1408px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  @media (max-width: $breakpoint_laptop) {
    max-width: 1230px;
  }
}
.container.fluid {
  width: 100%;
  max-width: none;
}
.container:after {
  display: block;
  clear: both;
  content: "";
}
#main {
  width: 100%;
  min-height: calc(100vh - 110px);
  padding: 0 0 50px;
}
.required-field {
  color: #db0000;
  font-style: normal;
  margin-left: 5px;
  font-size: 17px;
}
a {
  text-decoration: none;
  color: $dark_color;
}
.pointer {
  cursor: pointer;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.direction-column {
  flex-direction: column;
}
.direction-row {
  flex-direction: row;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: end;
}
.items-center {
  align-items: center;
}
.text-center {
  text-align: center;
  position: relative;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.flex-text-center {
  justify-content: center;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.m-0 {
  margin: 0;
}
.btn-faded {
  opacity: 0.5;
}
.flex-between-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
input,
button,
textarea {
  font: 400 16px/20px "CloverDisplay-Regular", sans-serif;
}
input,
textarea,
select {
  width: 100%;
  height: 52px;
  padding: 0 20px;
  font-size: 16px;
  background: #FCFCFC;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
  resize: none;
  @media (max-width: $breakpoint_laptop) {
    height: 45px;
  }
}
textarea {
  height: 188px;
  padding-top: 20px;
  @media (max-width: $breakpoint_laptop) {
    height: 120px;
  }
}
button:focus,
textarea:focus,
input:focus,
select,
textarea {
  outline: none;
}
textarea::placeholder,
input::placeholder {
  color: rgba(29,67,84,0.5);
}
textarea,
input,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="string"],
select {
  color: rgba(29,67,84,0.5);
}
input[type="date"] {
  text-transform: uppercase;
  background: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
select {
  outline: none;
}
.table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}
.btn-green {
  color: white;
  background-color: #6bb64a;
  border-radius: 10px;
  border: 1px solid #6bb64a;
  padding: 10px 22px;
  font-size: 14px;
  font-family: 'CloverDisplay-Bold', sans-serif;
  @media (max-width: $breakpoint_laptop) {
    padding: 7px 20px;
    font-size: 13px;
  }
  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
}
.contact_margin {
  margin-right: 18px;
}
.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.grid-container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.grid-container-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  @media screen and (max-width: $breakpoint_tablet) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    grid-template-columns: 1fr;
  }
}
.grid-container-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  @media screen and (max-width: $breakpoint_tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    grid-template-columns: 1fr;
  }
}

.font-white {
  color: #ffffff;
}
.font-green {
  color: #6bb64a;
}
.overlap_section {
  position: sticky;
  top: 82px;
  background-color: #1d4354;
}
.our_slider .swiper {
  width: 100%;
  height: 471px;
  @media (max-width: $breakpoint_laptop) {
    height: 450px;
  }
  @media (max-width: $breakpoint_tablet) {
    height: 370px;
  }
  @media (max-width: $breakpoint_mobile_portrait) {
    height: 450px;
  }
}
.our_slider .swiper-slide {
  align-items: center;
  display: flex;
  justify-content: center;
}
.our_slider .swiper-pagination-bullets {
  margin: 0;
  width: 24px;
  right: auto !important;
  left: 107px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $breakpoint_tablet) {
    left: 50%;
    margin: 0;
    top: auto !important;
    width: 15px;
    position: relative;
    bottom: -130px !important;
    transform: rotate(90deg) !important;
  }
}
.our_slider .swiper-pagination-bullet {
  background: transparent !important;
  margin: 30px 0 !important;
  width: 24px;
  height: 24px;
  position: relative;
  display: flex !important;
  opacity: 1 !important;
  @media screen and (max-width: $breakpoint_laptop) {
    margin: 20px 0 !important;
  }
  @media screen and (max-width: $breakpoint_tablet) {
    margin: 3px 0 !important;
  }
}
.our_slider .swiper-pagination-bullet{
  &:before {
    content: "";
    background-image: url(../public/assets/images/homepage/who_we_are/pagination_circle.svg);
    background-position: center;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    color: #12262F;
    text-indent: 19px;
    font-size: 11px;
    line-height: 25px;
    @media (max-width: $breakpoint_tablet) {
      transform: rotate(-90deg);
    }
  }
  &.swiper-pagination-bullet-active{
    &:nth-child(1n){
      &:before {
        content: "1";
        background-image: url(../public/assets/images/homepage/who_we_are/active_pagination_circle.svg);
      }
    }
    &:nth-child(2n){
      &:before {
        content: "2";
        background-image: url(../public/assets/images/homepage/who_we_are/active_pagination_circle.svg);
      }
    }
    &:nth-child(3n){
      &:before {
        content: "3";
        background-image: url(../public/assets/images/homepage/who_we_are/active_pagination_circle.svg);
      }
    }
    &:nth-child(4n){
      &:before {
        content: "4";
        background-image: url(../public/assets/images/homepage/who_we_are/active_pagination_circle.svg);
      }
    }
    &:nth-child(5n){
      &:before {
        content: "5";
        background-image: url(../public/assets/images/homepage/who_we_are/active_pagination_circle.svg);
      }
    }
  }
}
.our_slider .swiper-pagination-bullet{
  &:after {
    content: "";
    position: absolute;
    right: 100%;
    top: -3px;
    opacity: 0;
    white-space: nowrap;
    font-size: 18px;
    color: #6BB64A;
    transition: all 0.4s ease-in-out;
    @media (max-width: $breakpoint_tablet) {
      display: none;
    }
}
  &:nth-child(1n){
    &:after {
      content: "Sustainable";
    }
  }
  &:nth-child(2n){
    &:after {
      content: "Scalability";
    }
  }
  &:nth-child(3n){
    &:after {
      content: "Innovation";
    }
  }
  &:nth-child(4n){
    &:after {
      content: "Win Customer";
    }
  }
  &:nth-child(5n){
    &:after {
      content: "Slide Five";
    }
  }
  &.swiper-pagination-bullet-active{
    &:after {opacity: 1;transform: translateX(-13px);}
  }
}
.main_section_title {
  text-align: center;
  position: relative;
  z-index: 0;
  margin: 0 0 60px;
  @media (max-width: $breakpoint_laptop) {
    margin-bottom: 40px;
  }
  @media (max-width: $breakpoint_tablet) {
    margin-bottom: 30px;
  }
  &.white_title {
    h2 {
      color: $white_color;
    }
  }
  h2 {
    position: relative;
    font-size: 48px;
    margin: 0;
    color: $dark_color;
    text-transform: capitalize;
    z-index: 1;
    @media (max-width: $breakpoint_laptop) {
      font-size: 36px;
      margin-bottom: 10px;
    }
    span {
      position: $position_rel;
      display: inline-block;
      color: $white_color;
      padding: 0 10px;
      background-color: $green_color;
      small {opacity: 0;}
    }
  }
}

.sidebar {
  color: #fff;
  position: fixed !important;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: url(../public/assets/images/header/menu-bg.png);
  transition: width, left, right, 0.5s !important;
  z-index: -9999 !important;
  opacity: 0;
  @media (max-width: $breakpoint_tablet) {
    z-index: 9999 !important;
    opacity: 1;
  }
}
.sidebar > .sidebar-inner {
  background: #1d4354 url(../public/assets/images/header/menu-bg.png) !important;
  padding: 30px;
  &::-webkit-scrollbar { width: 0}
}
.sidebar .fa-times {
  font-weight: 900;
  color: #fff;
  background: #6bb64a;
  padding: 8px 11px;
  font-size: 13px;
  border-radius: 4px;
}
.sidebar a {
  color: #fff;
  width: 205px;
  margin: 0 auto;
  border-bottom: 1px solid #ffffff30;
  padding: 17px 0;
  font-size: 14px;
}
.sidebar .menuSocial a {
  text-align: center;
}
.sidebar .menu-anchor {
  &:hover {
    background-color: transparent;
  }
}
.sidebar .second_menu .menu-label{
  margin-left: 10px;
}
.sidebar .second_menu .expand-icon{
  background: #ffffff;
    color: #6bb64a;
}
.sidebar .third_menu .menu-label{
  margin-left: 20px;
}
.sidebar .third_menu .expand-icon{
  background: #ffffff30;
    color: #ffffff;
}
.sidebar .expand-icon {
  background: #6bb64a;
  padding: 0 12px 5px 12px;
  color: #fff;
  border-radius: 4px;
}
.sidebar,
  .pro-menu,
  .pro-menu-item.pro-sub-menu,
  > .pro-inner-item,
  > .pro-arrow-wrapper,
  .pro-arrow {
  display: inline-block !important;
  border-style: solid !important;
  border-color: #fff !important;
  border-width: 0 2px 2px 0 !important;
  padding: 2.5px !important;
  vertical-align: middle !important;
  transition: transform 0.3s !important;
  transform: rotate(45deg) !important;
}
.sidebar,
  .pro-menu,
  .pro-menu-item.pro-sub-menu.open,
  > .pro-inner-item,
  > .pro-arrow-wrapper,
  .pro-arrow {
  transform: rotate(225deg) !important;
  margin-bottom: -4px;
}
.sidebar .sub-menu-content {
  background-color: transparent !important;
  padding: 0;
}
.sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item {
  width: 232px !important;
  overflow: hidden !important;
  padding-left: 40px !important;
}
.sidebar .pro-menu {
  padding-top: 30px;
}
.sidebar .footerContact {
  height: 40px !important;
  padding: 5px !important;
  line-height: 1px !important;
  font-size: 12px !important;
  width: 81% !important;
  font-weight: 100 !important;
  background-color: #6bb64a !important;
  border-radius: 20px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 7px !important;
  margin-top: 20px !important;
}
.sidebar-layout::-webkit-scrollbar {
  display: none;
}
.sidebar,
  .pro-menu,
  .pro-menu-item.pro-sub-menu,
  > .pro-inner-item,
  > .pro-arrow-wrapper {
  right: 0 !important;
}
.sidebar.collapsed > .sidebar-inner > .sidebar-layout {
  padding: 0 !important;
  transition: all 0.5s ease-in;
}
.sidebar .menuSocial a i {
  background-color: transparent !important;
  color: #fff !important;
  font-size: 21px !important;
}
.header-section .container { position: relative}


.industries_slider_wrap {
  .swiper-button-next, .swiper-button-prev {
    z-index: 1;
  }
  .slider_content_wrap{
    &:hover {
      &:before{
        background-color: rgba(21,21,21,0.85) !important;
      }
    }
  }
  .swiper-slide-thumb-active {
    .slider_content_wrap {
      section {
        height: 300px !important;
        justify-content: flex-end;
      }
      &:before {
        background-color: rgba(21,21,21,0.85) !important;
      }
    }
  }
}
.contact_btn {
  background-color: $green_color;
  color: $white_color;
  display: flex;
  align-items: center;
  border: none;
  max-width: 190px;
  width: 100%;
  text-transform: uppercase;
  font-family: 'CloverDisplay-Bold', sans-serif;
  justify-content: center;
  height: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px 0 rgba(107 182 74 / 30%);
  img { margin-left: 7px;}
  transition: all 0.4s ease-in-out;
  &:hover {
    box-shadow: none;
  }
}
.row { margin: 0 -15px;}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #6BB64A;
  outline: 1px solid slategrey;
  border-radius: 10px;
}
@media (max-width: $breakpoint_tablet) {
  .lets_talk {
    .main_section_title {
      h2 { 
        font-size: 28px;
        span {
          &:before { left: -12px;}
        }
      }
      h3 { display: none}
    }
  }
  .map { height: 600px;}
}
@media screen and (max-width: $breakpoint_mobile_portrait) {
  .main_section_title {
    h2 { 
      font-size: 28px;
  }
  }
}
.overview_bg_layer {
  background: url("../public/assets/images/services/overview-bg.png") center;
  background-size: cover;
  &.overview_native_layer {
    background: #F3F6FF url("../public/assets/images/services/native-bg.png") center;
  }
}
.section_title {
  text-align: center;
  margin: 0 auto 60px;
  width: 65%;
  position: $position_rel;
  @media (max-width: $breakpoint_laptop) {
    width: 62%;
    margin-bottom: 40px;
  }
  @media (max-width: $breakpoint_tablet) {
    width: 100%;
    margin-bottom: 30px;
    br {
      display: none;
    }
  }
  &.white {
    h2,p { color: $white_color;}
  }
  &.extend-title {
    width: 70%;
    @media (max-width: $breakpoint_tablet) {
      width: 100%;
    }
    p {
      width: 100%;
    }
  }
  h2 {
    margin: 0 0 19px;
    font-size: 48px;
    text-transform: capitalize;
    font-family: 'CloverDisplay-Bold', sans-serif;
    @media (max-width: $breakpoint_mobile_landscape) {
      br { display: none}
    }
    @media (max-width: $breakpoint_laptop) {
      font-size: 36px;
      margin-bottom: 10px;
    }
    @media (max-width: $breakpoint_tablet) {
      font-size: 28px;
    }
    span {
      padding: 0 5px;
      background-color: $green_color;
      color: $white_color;
    }
  }
  p {
    margin: 0 auto;
    color: #969696;
    opacity: 0.9;
    font-size: 24px;
    line-height: 36px;
    width: 95%;
    span {
      color: #6BB64A;
      font-family: "Apercu-Bold", sans-serif;
    }
    @media (max-width: $breakpoint_laptop) {
      font-size: 20px;
      line-height: 30px;
    }
    @media (max-width: $breakpoint_tablet) {
      font-size: 16px;
      line-height: 28px;
    }
    @media (max-width: $breakpoint_mobile_landscape) {
      width: 100%;
    }
    @media (max-width: $breakpoint_mobile_portrait) {
      br { display: none}
    }
  }
}
.android-app-development {
  .customer_talk {
    overflow: hidden;
    margin: 0;
  }
}
.greenTheme {
  background-color: $green_color;
}
.screen-0 {
  background-image: url('../public/assets/images/services/app-shape1.png');
}
.screen-1 {
  background-image: url('../public/assets/images/services/app-shape2.png');
}
.faq-row-wrapper { background: transparent !important}
.faq_wrapper_content {
  max-width: 811px;
  margin-left: auto;
  @media (max-width: $breakpoint_laptop) {
    width: 650px;
  }
  @media (max-width: $breakpoint_tablet) {
    width: 100%;
    max-width: 100%;
  }
  .faq-row {
    padding: 0 !important;
    margin-bottom: 32px;
    border-bottom: 1px solid rgba(227,227,227,0.5) !important;
    &:last-child { border-bottom: none !important;}
    @media (max-width: $breakpoint_laptop) {
      margin-bottom: 20px;
    }
    @media (max-width: $breakpoint_tablet) {
      margin-bottom: 10px;
    }
  }
  .row-title {
    padding: 0 0 32px !important;
    @media (max-width: $breakpoint_laptop) {
      padding-bottom: 18px !important;
    }
    @media (max-width: $breakpoint_tablet) {
      padding-bottom: 10px !important;
    }
    .row-title-text {
      font-size: 28px;
      line-height: 1.5;
      font-family: 'CloverDisplay-Bold', sans-serif;
      @media (max-width: $breakpoint_laptop) {
        font-size: 22px;
      }
      @media (max-width: $breakpoint_tablet) {
        font-size: 16px;
        line-height: 1.3;
      }
    }
  }
  .row-content-text {
    font-size: 24px !important;
    line-height: 40px;
    padding: 33px 0 15px !important;
    border-top: 1px solid rgba(227,227,227,0.5);
    @media (max-width: $breakpoint_laptop) {
      font-size: 18px !important;
      line-height: 28px;
      padding: 18px 0 15px !important;
    }
    @media (max-width: $breakpoint_tablet) {
      font-size: 15px !important;
      line-height: 24px;
      padding: 10px 0 15px !important;
    }
  }
}
.bespoke_service{
  .expanded{
    .row-title-text{
      color: #6BB64A;
    }
  }
  .icon-wrapper{
    display: none;
  }
  .faq-row{
    border: 0 !important;
  }
  .row-title {
    padding: 0 !important;
}
  .row-content-text{
    padding-top: 0 !important;
    padding-left: 40px !important;
    border: 0 !important;
    p{
      font-size: 24px;
      line-height: 36px;
      color: #969696;
      opacity: 0.9;
      margin: 0;
      @media (max-width: $breakpoint_tablet) {
        font-size: 16px;
        line-height: 28px;
         }
    }
    ul{
      li{
        font-size: 24px;
        line-height: 36px;
        color: #12262F;
        opacity: 0.9;
        margin-top: 10px;
        padding-left: 30px;
        position: relative;
        @media (max-width: $breakpoint_tablet) {
          font-size: 16px;
          line-height: 28px;
           }
        &::after{
          content: '';
          position: absolute;
          background-image: url(../public/assets/images/services/angle-arrow.svg);
          background-repeat: no-repeat;
          background-size: contain;
          left: 0;
          top: 10px;
          background-position: center;
          width: 20px;
          height: 20px;
          @media (max-width: $breakpoint_tablet) {
           width: 10px;
           height: 10px;
             }
        }
      }
    }
  }
}
@media (max-width: $breakpoint_mobile_portrait) {
  .product_banner_wrapper {
    .container {
      flex-direction: column;
    }
  }
}
.slider_version > .swiper {
  overflow: unset;
  padding-bottom: 80px;
  @media (max-width: 1600px) {
    padding-bottom: 60px;
  }
  .swiper-button-next,
  .swiper-button-prev{
    width: 52px;
    height: 32px;
    top: unset;
    bottom: 0;
    left: unset;
    right: 0;
    @media (max-width: $breakpoint_tablet) {
      width: 30px;
      height: 20px;
    }
    &:after {
      content: '';
      background: url("../public/assets/images/services/slider-arrow.svg");
      width: 52px;
      height: 32px;
      background-size: 100% 100%;
      @media (max-width: $breakpoint_tablet) {
        width: 30px;
        height: 20px;
      }
    }
  }
  .swiper-button-prev {
    transform: scaleX(-1);
    right: 170px;
    @media (max-width: $breakpoint_tablet) {
      right: 131px;
    }
  }
  .swiper-pagination {
    width: auto;
    left: auto;
    right: 76px;
    font-size: 20px;
    bottom: 6px;
    color: #1D4354;
    letter-spacing: -1px;
    font-family: "CloverDisplay-bold", sans-serif;
    @media (max-width: $breakpoint_tablet) {
      bottom: -2px;
      right: 50px;
    }
    span {
      &.swiper-pagination-current {
        color: #6BB64A;
      }
      &:before {
        content: '0';
      }
    }
  }
}
.native_img_slide {
  .swiper-slide {
    display: flex;
    justify-content: center;
    img {
      max-width: 60%;
    }
  }
  .swiper-pagination {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    bottom: 0 !important;
    margin: 52px 0 0;
    .swiper-pagination-bullet {
      width: 40px;
      height: 8px;
      border-radius: 0;
      background: #88BC72;
      opacity: 1;
      &.swiper-pagination-bullet-active {
        background: rgba(228,233,242,1);
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 48px;
    height: 48px;
    background-color: #2E3A59;
    transition: all 0.4s ease-in-out;
    @media (max-width: $breakpoint_tablet) {
      width: 40px;
      height: 40px;
    }
    &:hover {
      background-color: #6BB64A;
    }
    &:after {
      content: '';
      width: 17px;
      height: 20px;
      background: url("../public/assets/images/services/arrows.svg");
      background-size: 100% 100%;
    }
  }
  .swiper-button-prev {
    transform: scaleX(-1);
  }
}
.ionic-app-dev {
  & ~ footer {
    padding-top: 227px;
    @media (max-width: 1600px) {
      padding-top: 180px;
    }
  }
}
.ionic-app-dev {
  & ~ .enterprise {
    padding-bottom: 227px;
    @media (max-width: 1600px) {
      padding-bottom: 180px;
    }
  }
}
.transparent-btn {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  font-family: "CloverDisplay-bold", sans-serif;
  color: #12262F;
  padding: 14px 29px;
  border: 1px solid #6BB64A;
  border-radius: 5px;
  font-size: 17px;
  margin-right: 31px;
  transition: all 0.4s ease-in-out;
  @media (max-width: $breakpoint_tablet) {
    font-size: 15px;
  }
  @media (max-width: $breakpoint_mobile_portrait) {
    font-size: 14px;
    margin-right: 17px;
    padding: 10px 16px;
  }
  &.white {
    color: #FFFFFF;
  }
  img {
    margin-left: 10px;
    transition: all 0.4s ease-in-out;
  }
  &:hover {
    color: #6BB64A;
  }
  &.learnmore {
    border: none;
    padding: 0;
  }
}
.work_slide {
  .mySwiper {
    overflow: unset;
  }
}
.smart_contract {
  .mySwiper {
    overflow: hidden;
  }
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: $breakpoint_tablet) {
  .faq_wrapper {
    .container {
      flex-direction: column;
    }
  }
  .maintenance_services_wrap {
    .container {
      flex-direction: column;
    }
  }
}
@media (max-width: $breakpoint_mobile_landscape) {
  .native_version {
    .container {
      flex-direction: column;
    }
  }
}
@media (max-width: $breakpoint_mobile_portrait) {
  .native_case_study {
    .container {
      flex-direction: column;
    }
  }
}
.swiper-cube .swiper-cube-shadow:before { display: none !important}
.Typewriter {
  display: flex !important;
  align-items: center;
  @media (max-width: $breakpoint_tablet) {
    justify-content: center;
  }
}
.item img { transform: scale(0.9); transition: all 0.4s ease-in-out;}
.item.active img {
  transform: scale(1.1);
  filter: none !important;
}
.indust.active i {
  transform: scale(1.2);
  &:before {
    color: #6bb64a !important;
  }
}
.mobile_industries_list {
  .transparent-btn { margin: 0 !important}
}
.sticky-outer-wrapper {
  @media (max-width: $breakpoint_tablet) {
    position: relative !important;
    height: auto !important;
    .sticky-inner-wrapper {
      width: 100% !important;
      position: relative !important;
      transform: none !important;
    }
  }
}
.native_custom_app {
  .sticky-outer-wrapper {
    position: relative !important;
    height: auto !important;
    .sticky-inner-wrapper {
      width: 100% !important;
      position: relative !important;
      transform: none !important;
    }
  }
}





.content-container {
  display: flex;
}

.content-container>* {
  flex-basis: 100%;
}

.right-content {
  width: 35%;
}

.left-content {
  height: 100vh;
  width: 65%;
  position: relative;
}

.left-content>* {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  visibility: hidden;
}

.imageToShow {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 800px) {
  .left-content {
    display: none;
  }
  .right-content {
    padding-left: 15px;
  }
}
.div-block-14 {
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
}
.contentMarker:first-child { background: #1D4354}
.contentMarker:nth-child(2n) { background: #FFFFFF}
.contentMarker:last-child { background: #1D4354}




.case-study-two-wrap {
  position: relative;
}

.indicators {
  left: 2rem;
  top: 0;
  margin: 10vh 0;
  height: 80vh;
  width: 3px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
}

.indicator {
  width: 100%;
  background-color: #6BB64A;
  flex-grow: 1;
  margin: 2px 0;
}

.case-study-two-wrap .point {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.case-study-two-wrap .wrapper {
  height: 100vh;
  width: 100%;
}

/* Split the screen in half */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow: hidden;
}
.split.right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Control the left side */
.left {
  left: 0;
  width: 43%;
  z-index: 0;
  overflow: hidden;
  background: #6BB64A url('../public/assets/images/services/custom-bg.svg');
  .contact_btn { max-width: 230px;}
}

/* Control the right side */
.right {
  right: 0;
  width: 57%;
  z-index: 0;
  overflow: hidden;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20000;
  color: #FFFFFF;
  width: 100%;
  text-align: left;
}
.content-wrapper {
  padding: 0 20%;
  opacity: 1 !important;
  span {
    display: block;
    font-size: 17px;
    margin-bottom: 20px;
  }
  h2 {
    width: 80%;
    margin: 0 0 30px;
    color: #FFFFFF;
    font-size: 39px;
    @media (max-width: $breakpoint_laptop) {
      font-size: 30px;
    }
  }
  p {
    margin: 0 0 30px;
    font-size: 24px;
    line-height: 40px;
    font-family: "Apercu-Light", sans-serif;
    @media (max-width: $breakpoint_laptop) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
.transparent-bg {
  background: #FFFFFF !important;
}
//job_listing_wrap
.job_listing_wrap {
  .accordion__button {
    border-top: 1px solid rgba(255,255,255,0.3);
    background: transparent !important;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    font-size: 28px;
    padding: 40px 115px 38px;
    font-family: "CloverDisplay-Medium", sans-serif;
    @media (max-width: 1600px) {
      padding: 22px 115px 20px;
      font-size: 24px;
    }
    @media screen and (max-width: $breakpoint_tablet) {
      padding: 10px 20px 10px;
      font-size: 18px;
    }
    &[aria-expanded="true"] {
      background: rgba(18,38,47,0.3) !important;
      img {
        transform: rotate(-180deg);
      }
    }
    small {
      opacity: 0.3;
      line-height: 0.8;
      font-family: "CloverDisplay-Bold", sans-serif;
      font-size: 68px;
      margin-right: 52px;
      @media (max-width: 1600px) {
        font-size: 55px;
      }
      @media screen and (max-width: $breakpoint_tablet) {
        font-size: 30px;
        margin-right: 20px;
      }
    }
    img {
      margin-left: auto;
      transition: all 0.4s ease-in-out;
      @media screen and (max-width: $breakpoint_tablet) {
        height: 18px;
        width: auto;
      }
    }
    &:before { content: none;}
  }
  .accordion__panel {
    padding: 40px 30px 50px;
    @media (max-width: 1600px) {
      padding: 30px;
    }
    @media screen and (max-width: $breakpoint_tablet) {
      padding: 15px;
    }
  }
}
.perks_wrapper {
  .section_title {
    p {
      width: 100%;
    }
  }
}
.perks_wrapper {
  ul {
    li {
      &.p1 { section { background: #d0d4d5}}
      &.p2 { section { background: #e1f0db}}
      &.p3 { section { background: #d9e7ed}}
      &.p4 { section { background: #e4f0ea}}
      &.p5 { section { background: #f0ebe4}}
      &.p6 { section { background: #f0ebe4}}
      &.p7 { section { background: #e4f0ea}}
      &.p8 { section { background: #e1f0db}}
      &.p9 { section { background: #d9e7ed}}
      &.p10 { section { background: #d0d4d5}}
    }
  }
}
.at-digi {
  background: transparent !important;
  color: #6BB64A !important;
  padding: 0 !important;
}
.women-swiper .swiper-pagination {
  width: 55% !important;
  bottom: 80px !important;
  @media (max-width: $breakpoint_mobile_landscape) {
    width: 40% !important;
  }
  @media (max-width: $breakpoint_mobile_portrait) {
    width: 100% !important;
    bottom: 0 !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.women-swiper .swiper-pagination-bullet {
  background: rgba(29, 67, 84, 0.32);
  width: 40px;
  height: 8px;
  border-radius: 0;
}
.women-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #6BB64A;
}
.simple-image-layer {
  background-image: url("../public/assets/images/services/simple-image.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  &.two {
    background: none;
    width: 100%;
  }
}
.wallet_case_wrapper{
  .swiper-button-prev { right: 57px !important;}
  .swiper-button-prev,
  .swiper-button-next{
    right: 0;
    left: auto;
    bottom: 0;
    top: unset;
    width: 47px;
    border: 1px solid #545661;
    height: 47px;
    &:after {
      font-size: 23px !important;
      color: #545661;
    }
  }
}
.recent_work{
  .swiper-button-prev,
  .swiper-button-next{
    border: 1px solid #fff !important;
    &:after {
      color: #fff !important;
    }
  }
}
.bespoke_recent{
  .swiper-slide{
    margin-bottom: 80px;
  }
  .swiper-button-prev {
    right: 460px !important;
    border-radius: 100px;
    border: 1px solid #6BB64A;
    &:after {
      color: #6BB64A;
    }
    &:hover {
      border-color: #1d435a;
      &:after {color: #1d435a;}
    }
    @media (max-width:$breakpoint_mini_laptop) {
      right: 160px !important;
    }
  }
  .swiper-button-next {
    right: 400px !important;
    border-radius: 100px;
    @media (max-width:$breakpoint_mini_laptop) {
      right: 100px !important;
    }
    border: 1px solid #6BB64A;
    &:after {
      color: #6BB64A;
    }
    &:hover {
      border-color: #1d435a;
      &:after {color: #1d435a;}
    }
  }
  .swiper-button-disabled{
    opacity: 0.5;
  }
}
.blockchain_portfolio {
  .swiper-button-prev { right: 57px !important;}
  .swiper-button-prev,
  .swiper-button-next{
    right: 0;
    left: auto;
    bottom: 0;
    top: unset;
    width: 47px;
    border: 1px solid #545661;
    height: 47px;
    &:after {
      font-size: 23px !important;
      color: #545661;
    }
  }
}

.slider_swiper .swiper-pagination-bullet {
  width: auto !important;
  height: auto !important;
  text-align: center;
  border-radius: 0 !important;
  font-size: 18px;
  line-height: 36px;
  color: #fff;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
.slider_swiper .swiper-pagination-bullet{
  background: transparent !important;
  color: #B1B1B1 !important;
  width: 19% !important;
  opacity: 1 !important;
}
.slider_swiper .swiper-slide-next{
  opacity: 0.5;
}
.slider_swiper .swiper-pagination-bullet-active {
  background: transparent !important;
  color: #6BB64A !important;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    width: 140px;
    height: 4px;
    background-color: #6BB64A;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 3px);
  }
}
.slider_swiper .swiper-horizontal>.swiper-pagination-bullets, .slider_swiper .swiper-pagination-bullets.swiper-pagination-horizontal, .slider_swiper .swiper-pagination-custom, .slider_swiper .swiper-pagination-fraction {
  width: 100%;
  top: 0;
  transform: translate(-45px, 0) !important;
}
.image_gallery {
  .image-gallery-slides{
      border-radius: 30px;
  }
  .image-gallery-swipe{
    img{
      width: 100%;
      height: 558px;
      max-height: 558px !important;
      object-fit: fill;
      @media (max-width: $breakpoint_tablet) {
        height: auto;
      }
    }
  }
  img {
    border-radius: 30px;
    border: none;
  }
  .image-gallery-play-button {
    display: none;
  }
  .image-gallery-fullscreen-button {
    display: none;
  }
  .image-gallery-content.right {
    right: auto;
    width: 100%;
    z-index: 0;
    overflow: visible !important;
  }
  .image-gallery-thumbnail {
    transition: none;
    border: 0;
    margin: 10px 0 !important;
  }
  .image-gallery-thumbnail-image {
    width: 100%;
    height: 179px;
  }
  .image-gallery-thumbnail.active {
    border: none;
  }
  .image-gallery-thumbnails-wrapper.right {
    right: auto;
    z-index: 0;
    overflow: visible !important;
    width: 19% !important;
  }
  .image-gallery-slide-wrapper.left {
    width: 77% !important;
    margin: 10px;
  }
  .image-gallery-slide-wrapper.right {
    width: 77% !important;
    margin: 10px;
    @media (max-width: $breakpoint_tablet) {
      width: 100% !important;
      margin: 0;
    }
  }
  .image-gallery-thumbnails{
    height: auto !important;
    @media (max-width: $breakpoint_tablet) {
      display: none;
    }
  }
  .image-gallery-thumbnails-wrapper.left {
    width: 19% !important;
  }
  .image-gallery-thumbnail {
    width: 100% !important;
  }
  .image-gallery-right-nav{
    &::after{
      content: '';
      position: absolute;
      background-image: url(../public/assets/images/services/portfolio_right.svg);
      background-size: cover;
      width: 80px;
      height: 80px;
      left: -90px;
      top: 0;
    }
    svg{
      display: none;
    }
  }
  .image-gallery-left-nav{
    &::after{
      content: '';
      position: absolute;
      background-image: url(../public/assets/images/services/portfolio_left.svg);
      background-size: cover;
      width: 80px;
      height: 80px;
      right: -90px;
      top: 0;
    }
    svg{
      display: none;
    }
  }
}
.client_slider .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  content: '';
  background-image: url(../public/assets/images/services/client_prev.svg);
  background-size: contain;
  width: 50px;
  height: 50px;
  left: 70px;
  position: absolute;
  @media (max-width:1600px) {
    left: 55px;
  }
  @media (max-width:1200px) {
    left: 40px;
  }
}
.client_slider .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
  content: '';
  background-image: url(../public/assets/images/services/client_next.svg);
  background-size: contain;
  width: 50px;
  height: 50px;
  right: 70px;
  position: absolute;
  @media (max-width:1600px) {
    right: 55px;
  }
  @media (max-width:1200px) {
    right: 40px;
  }
}
.client_slider .swiper-button-next, .client_slider .swiper-button-prev{
  top: 38%;
  opacity: 1;
}
.client_slider .swiper-pagination{
  bottom: 75px !important;
}
.client_slider .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #76879D !important;
  margin: 0 10px !important;
}
.client_slider .swiper-pagination-bullet-active{
  background: rgba(23, 88, 231, 0.04) !important;
  border: 1px dashed #6BB64A;
  width: 40px;
  height: 40px;
  margin: 0 10px !important;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    background-color: #6BB64A;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.client_slider .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.recent_work .swiper-pagination {
  width: 50% !important;
  left: unset !important;
  right: 0;
  padding-left: 60px;
  text-align: left;
  @media (max-width: $breakpoint_mobile_landscape) {
    display: none;
  }
}
.recent_work .swiper-pagination-bullet {
  background-color: #C7C7C7;
  opacity: 1;
  width: 10px;
  height: 10px;
  &.swiper-pagination-bullet-active { background-color: #6BB64A}
}
.swiper-button-next,.swiper-button-prev { z-index: 11 !important;}
.portfolio_products {
  .swiper {
    position: relative;
    .swiper-button-prev,
    .swiper-button-next {
      z-index: 999;
      @media (max-width: $breakpoint_tablet) {
        bottom: 10px !important;
        top: unset;
        right: 25px;
        left: unset;
      }
      &:hover {
        &:after {
          color: #6BB64A;
        }
      }
      &:after {
        color: #3D3D3D;
        background: #FFFFFF;
        flex: 0 0 114px;
        height: 114px;
        display: flex;
        border-radius: 100%;
        align-items: center;
        justify-content: center;
        @media (max-width: $breakpoint_tablet) {
          flex: 0 0 50px;
          height: 50px;
          font-size: 20px;
        }
      }
    }
    .swiper-button-prev {
      left: 13%;
      @media (max-width: $breakpoint_tablet) {
        right: 90px;
        left: unset;
      }
    }
    .swiper-button-next {
      right: 13%;
      @media (max-width: $breakpoint_tablet) {
        right: 25px !important;
      }
    }
    .swiper-wrapper {
      display: flex;
      .swiper-slide {
        &.swiper-slide-active {
          & > div {
            &:before { background: #6BB64A}
          }
        }
      }
    }
    padding: 0 0 32px;
    .swiper-pagination {
      bottom: 0;
      .swiper-pagination-bullet {
        width: 27px;
        height: 4px;
        border-radius: 3px;
        background: rgba(107, 182, 74, 0.39);
        &.swiper-pagination-bullet-active {
          background: rgba(107, 182, 74, 1);
        }
      }
    }
  }
}
.platforms_cloud {
  .accordion{
    display: flex;
    @media (max-width: $breakpoint_tablet) {
      flex-wrap: wrap;
    }
    .accordion__item {
      background: #FFFFFF;
      margin-bottom: 47px;
      border-radius: 10px;
      border: 2px solid #FFFFFF;
      position: relative;
      @media (max-width: $breakpoint_laptop) {
        margin-bottom: 40px;
      }
      &.active {
        padding-bottom: 35px;
        border-color: #6BB64A;
        &:before {
          background: url("../public/assets/images/services/cloud-accordion-color.svg") no-repeat center;
          background-size: contain;
        }
      }
      &:before {
        content: '';
        position: absolute;
        bottom: -28px;
        right: 23px;
        pointer-events: none;
        background: url("../public/assets/images/services/cloud-accordion.svg") no-repeat center;
        width: 56px;
        height: 56px;
        transition: all 0.2s ease-in-out;
        background-size: contain;
        @media (max-width: $breakpoint_laptop) {
          width: 40px;
          height: 40px;
          bottom: -22px;
        }
      }
    }
    section {
      padding: 0 10px;
      width: 50%;
      @media (max-width: $breakpoint_tablet) {
        width: 100%;
      }
      .accordion__button {
        background: transparent;
        border-radius: 10px;
        height: 90px;
        font-size: 28px;
        color: #1D4354;
        font-weight: 700;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-left: 28px;
        @media (max-width: $breakpoint_laptop) {
          height: 62px;
          font-size: 20px;
        }
      }
      .accordion__panel {
        background: transparent;
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          li {
            width: 20%;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}
.list-style-dots {
  padding-left: 17px;
  li {
    font-size: 20px;
    margin-bottom: 4px;
    line-height: 30px;
    color: #545661;
    font-family: "Apercu-Light", sans-serif;
    position: relative;
    padding-left: 16px;
    &:before {
      position: absolute;
      content: '';
      left: 0;
      border-radius: 100%;
      top: 9px;
      width: 6px;
      height: 6px;
      background: #6BB64A;
    }
  }
}
.list-style-arrow {
  li {
    color: #1D4354;
    font-size: 24px;
    line-height: 36px;
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
    @media (max-width: $breakpoint_laptop) {
      font-size: 18px;
      line-height: 28px;
    }
    &:before {
      content: '';
      width: 17px;
      display: flex;
      height: 12px;
      background: url("../public/assets/images/services/green_arrow.svg") no-repeat center;
      background-size: contain;
    }
  }
}
.mavp-tab-accordion {
  padding-left: 110px;
  @media (max-width: $breakpoint_tablet) {
    padding-left: 40px;
  }
  .accordion__item {
    margin-bottom: 23px;
  }
  .accordion__button {
    font-size: 28px;
    font-family: "CloverDisplay", sans-serif;
    line-height: 44px;
    position: relative;
    &:before {
      position: absolute;
      left: -128px;
      top: 0;
      content: '';
      width: 22px;
      height: 22px;
      background: #FFFFFF;
      border-radius: 100%;
      border: 10px solid #6BB64A;
      opacity: 0;
      transition: all 0.4s ease-in-out;
      @media (max-width: $breakpoint_tablet) {
        left: -58px;
      }
    }
    &[aria-expanded="true"] {
      font-family: "CloverDisplay-Bold", sans-serif;
      color: #6BB64A;
      &:before {
        opacity: 1;}
    }
  }
  .accordion__panel {
    font-size: 20px;
    line-height: 30px;
    span {
      font-family: 'Apercu-Bold', sans-serif;
      color: #6BB64A;
    }
  }
}
.work_quality {
  .swiper {
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    .swiper-button-prev,
    .swiper-button-next {
      width: 51px;
      position: absolute;
      right: 0;
      left: unset;
      border-radius: 100%;
      border: 5px solid #FFFFFF;
      top: 0;
      height: 51px;
      margin: 0;
      cursor: pointer;
      background: url("../public/assets/images/services/work-arrow.svg") center;
      background-size: contain;
      filter: grayscale(1);
      transition: all 0.4s ease-in-out;
      &:after { display: none;}
      &:hover {
        filter: grayscale(0);
      }
      &.swiper-button-disabled {opacity: 0.3}
    }
    .swiper-button-prev {
      right: 51px;
      transform: scaleX(-1);
    }
    .swiper-wrapper {
      display: flex;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
.game_technologies_slider {
  .swiper { padding-bottom: 60px;}
  .swiper-slide { text-align: center}
  .swiper-button-next,
  .swiper-button-prev{
    bottom: 0;
    top: auto;
    height: auto;
    right: 100px;
    left: auto;
    &:after {
      background: url('../public/assets/images/services/white-arrow.png');
      content: '' ;
      width: 25px;
      height: 14px;
    }
  }
  .swiper-button-prev { right: 135px;}
  .swiper-button-prev:after { transform: scaleX(-1)}
}
.creative_game_slider {
  @media (max-width: $breakpoint_tablet) {
    .swiper {
      padding-bottom: 60px;
    }
  }
  .swiper-pagination {
    width: auto;
    bottom: 215px;
    left: 180px;
    font-size: 26px;
    @media (max-width: $breakpoint_tablet) {
      display: none;
    }
    .swiper-pagination-current {
      font-family: 'Apercu-Bold', sans-serif;
      color: #6BB64A;
    }
  }
  .swiper-button-next, .swiper-button-prev {
    right: unset;
    left: 270px;
    bottom: 200px;
    top: unset;
    width: 57px;
    height: 57px;
    border-radius: 3px;
    border: 2px solid #CACACA;
    @media (max-width: $breakpoint_tablet) {
      left: 50%;
      bottom: 0;
      transform: translateX(-100%);
      margin-left: -10px;
    }
    &:after { font-size: 14px; color: #CACACA}
  }
  .swiper-button-next {
    left: 340px;
    @media (max-width: $breakpoint_tablet) {
      right: 50%;
      transform: translateX(100%);
      left: unset;
      margin-left: 0;
      margin-right: -10px;
    }
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.case_video_section {
  video {
    width: 100%;
    height: 600px;
    object-fit: cover;
    @media (max-width: $breakpoint_tablet) {
      height: 400px;
    }
  }
}
.checkbox {
  padding: 0 10px;
  position: relative;
  label {
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    input {
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      &:checked {
        & ~ span {
          color: #fff !important;
          background: #6BB64A;
        }
      }
    }
    span {
      color: #1D4354 !important;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      border: 1px solid #DBDBDB;
      background: #FCFCFC;
      height: 52px;
      font-family: "CloverDisplay-SemiBold", sans-serif !important;
      min-width: 218px;
    }
  }
}
.dropdown-container {
  color: rgba(29, 67, 84, 1);
  padding: 0 20px;
  font-size: 16px !important;
  background: #FCFCFC !important;
  border: 1px solid #DBDBDB !important;
  .dropdown-heading {
    padding: 0 !important;
    height: 45px !important;
  }
  .dropdown-content {
    left: 0;
    .select-panel {
      .item-renderer {
        justify-content: flex-start;
        align-items: center;
        input {
          width: auto;
          height: auto;
        }
      }
      ul {
        li {
          width: 100%  !important;
        }
      }
    }
  }
}
.industries_accordion {
  .accordion__item {
    margin-bottom: 34px;
    &:last-child { margin-bottom: 0}
  }
  .accordion__button {
    color: #6BB64A;
    font-family: "CloverDisplay-bold", sans-serif;
    font-size: 28px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C4C4C4;
    @media (max-width: $breakpoint_tablet) {
      font-size: 20px;
    }
    &[aria-expanded="true"] {
      border-bottom-color: transparent;
      span {
        transform: rotate(-90deg);
        background: #6BB64A;
        border-color: #6BB64A;
        img {filter: brightness(10);}
      }
    }
    span {
      width: 64px;
      height: 64px;
      display: flex;
      cursor: pointer;
      border: 1px solid #C4C4C4;
      transform: rotate(90deg);
      justify-content: center;
      align-items: center;
      margin-bottom: -1px;
      @media (max-width: $breakpoint_tablet) {
        width: 50px;
        height: 50px;
      }
      img {
        width: 20px;
        height: auto;
        display: inline-block;
        object-fit: contain;
      }
    }
  }
  .accordion__panel {
    padding: 12px 12px 0;
    p {
      color: #969696;
    }
  }
}
* { cursor: none}
.highlight-on-hover {
  position: fixed;
  border-radius: 50%;
  z-index: 9999999;
  width: 40px;
  pointer-events: none;
  height: 40px;
  border: 1px solid #dddddd;
  transform: translate(-50%, -50%);
  span {
    position: absolute;
    width: 8px;
    left: 50%;
    top: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    height: 8px;
    transition: all 0.2s ease-in-out;
    background-color: #6bb64a;
  }
}
.hovered {
  .highlight-on-hover {
    width: 100px;
    height: 100px;
    border-color: #6BB64A;
    transition: all 0.1s ease-in-out;
    span { display: none;}
  }
}
a {
  cursor: pointer;
  * {
    cursor: pointer;
  }
}
.list-style-arrow-two {
  li {
    color: #1D4354;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    position: relative;
    margin-bottom: 20px;
    padding-left: 27px;
    span {
      color: #6BB64A;
      font-family: "Apercu-Bold", sans-serif;
    }
    @media (max-width: $breakpoint_laptop) {
      font-size: 18px;
      line-height: 28px;
    }
    &:before {
      content: '';
      width: 10px;
      display: flex;
      height: 13px;
      flex: 0 0 10px;
      padding: 23px 0 0;
      background: url("../public/assets/images/services/angle-arrow.svg") no-repeat center;
      background-size: contain;
      left: 0;
      position: absolute;
      top: 0;
      @media (max-width: $breakpoint_laptop) {
        padding: 14px 0 0;
      }
    }
  }
}
.gray-bg {
  background: #F3F6FF;
}
.creative_pc_slider {
  position: relative;
  .slick-arrow {
    top: auto;
    position: absolute;
    left: 50%;
    bottom: -120px;
    z-index: 9;
    transform: none;
    width: 57px;
    height: 57px;
    filter: grayscale(1);
    display: flex !important;
    align-items: center;
    border: 2px solid #CACACA;
    justify-content: center;
    border-radius: 4px;
    &.slick-prev{
      transform: translateX(-65px) scaleX(-1);
    }
    &:before { display: none}
    &:hover {
      background: #6BB64A;
      border-color: #6BB64A;
      filter: none;
      img {
        filter: brightness(10);
      }
    }
  }
  .slick-list {
    padding: 0 !important;
    .slick-track {
      display: flex;
    }
  }
  .slick-slide {
    &.slick-active {
      transition: all 0.4s ease-in-out;
      &.slick-current {
        width: 642px !important;
        @media (max-width: $breakpoint_laptop) {
          //width: 460px !important;
        }
        p {
          height: auto !important;
        }
      }
    }
  }
}
.project_nft_slide {
  .swiper {
    padding-bottom: 100px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    right: 0;
    bottom: 0;
    left: unset;
    top: unset;
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1d435a;
    border-radius: 100%;
    &:after {
      font-size: 20px;
      color: #1d435a;
    }
  }
  .swiper-button-prev {
    right: 57px;
  }
}
.unreal_video_bg {
  background: url("../public/assets/images/services/unreal-video-bg.jpg") center;
  background-size: cover;
  padding: 270px 0 100px;
  @media (max-width: $breakpoint_tablet) {
    padding: 120px 0 80px;
  }
  &.unity_video_bg {
    background: none;
    padding: 148px 0 0;
    margin: -450px 0 35px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 88px;
      background: url("../public/assets/images/services/tyre-shape.png") center;
      filter: brightness(10);
    }
  }
  video {
    width: 100%;
    border-radius: 30px;
    border: 5px solid #6BB64A;
    height: 550px;
    object-fit: cover;
    @media (max-width: $breakpoint_laptop) {
      height: 480px;
    }
  }
}
.unity_recent_slide {
  .swiper-wrapper {
    align-items: center;
  }
}