@import "../../../../../../styles/variables";
.unreal_stack {
  padding: 100px 0 100px;
  background: #F3F6FF;
  @media (max-width: $breakpoint_tablet) {
    padding: 80px 0;
  }
  @media (max-width: $breakpoint_mobile_portrait) {
    padding: 60px 0 60px;
  }
  .unreal_stack_list {
    gap: 50px;
    @media (max-width: $breakpoint_tablet) {
      flex-direction: column;
    }
    section {
      width: 50%;
      @media (max-width: $breakpoint_tablet) {
        width: 100%;
      }
      h3 {
        font-size: 28px;
        margin: 0 0 20px;
      }
    }
    ul {
      gap: 30px;
      li {
        padding: 10px;
        border-radius: 11px;
        border: 1px solid #BDBDBD;
        background: #FFF;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
      }
    }
  }
}


