@import "../../../styles/variables";
.companies_logo {
  padding: 42px 0;
  background-color: #FFFFFF;
  &.colored_bg {
    background: #F3F6FF url("../../../public/assets/images/company/quick_layer.webp");
  }
  .company_logos {
    @media screen and (max-width: $breakpoint_tablet) {
      margin-bottom: 20px;
    }
    img {
      cursor: pointer;
      max-width: 100%;
      transition: all 0.4s ease-in-out;
      @media screen and (max-width: $breakpoint_tablet) {
        height: auto;
        max-width: 220px;
      }
      &:hover {
        filter: grayscale(1);
      }
    }
  }
}
