@import "../../../styles/variables";
.contact_banner {
  background: url("../../../public/assets/images/contact/contact-banner.webp");
  background-size: cover;
  padding: 350px 0 220px;
  position: relative;
  @media (max-width: $breakpoint_laptop) {
    padding: 280px 0 200px;
  }
  @media (max-width: $breakpoint_tablet) {
    padding: 200px 0 120px;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: linear-gradient(145deg, #6BB64A 0%, #1D4354 100%);
  }
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    h1 {
      margin: 0;
      text-align: center;
      font-size: 48px;
      line-height: 1;
      text-transform: capitalize;
      color: $white_color;
      font-family: "CloverDisplay-Medium", sans-serif;
      @media (max-width: $breakpoint_tablet) {
        font-size: 38px;
      }
      span {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 13px;
          background: url("../../../public/assets/images/services/tab-bottom-line.svg") no-repeat center;
          background-size: contain;
        }
      }
    }
  }
  .breadcrumbs {
    margin-bottom: 40px;
    @media (max-width: $breakpoint_laptop){
      margin: 0 0 20px
    }
    @media (max-width: $breakpoint_tablet) {
      display: none;
    }
    li {
      display: flex;
      align-items: center;
      color: $white_color;
      font-family: 'Apercu', sans-serif;
      font-size: 24px;
      position: $position_rel;
      padding-right: 15px;
      margin-right: 13px;
      @media (max-width: $breakpoint_laptop) {
        font-size: 15px;
      }
      &:last-child{
        padding-right: 0;
        margin-right: 0;
        &:before { display: none;}
      }
      img {
        margin-right: 13px;
        @media (max-width: $breakpoint_laptop) {
          width: 20px;
        }
      }
      &:before {
        content: "";
        position: $position_abs;
        right: 0;
        top: 0;
        width: 2px;
        height: 28px;
        background: $white_color;
        opacity: 0.9;
        transform: rotate(20deg);
        @media (max-width: $breakpoint_laptop) {
          top: 5px;
          height: 18px;
        }
      }
      small {
        font-size: 24px;
        color: $white_color;
        font-family: 'Apercu-Bold', sans-serif;
        @media (max-width: $breakpoint_laptop) {
          font-size: 15px;
        }
      }
    }
  }
}