@import "../../../../../../styles/variables";
.benefits_cloud_wrapper {
  background: url('../../../../../../public/assets/images/services/cloud-service-bg.jpg') center;
  background-size: cover;
  padding: 100px 0 70px;
  position: relative;
  .section_title {
    text-align: left;
    margin: 0 auto 0 0;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 103px;
    background: url('../../../../../../public/assets/images/services/subtract.png');
    background-size: cover;
  }
  .benefits_cloud {
    ul {
      margin: 0 -15px;
      @media (max-width: $breakpoint_mobile_landscape) {
        margin: 0 -5px;
      }
      li {
        padding: 0 15px;
        margin-bottom: 30px;
        @media (max-width: $breakpoint_mobile_landscape) {
          padding: 0 5px;
          margin-bottom: 20px;
        }
        span {
          background: #FFFFFF;
          font-family: "CloverDisplay", sans-serif;
          font-size: 26px;
          font-weight: 700;
          display: inline-block;
          color: #1D4354;
          padding: 28px 42px;
          border-radius: 10px;
          line-height: 1;
          @media (max-width: $breakpoint_laptop) {
            font-size: 18px;
            padding: 20px 32px;
          }
          @media (max-width: $breakpoint_mobile_landscape) {
            font-size: 14px;
            padding: 14px 20px;
          }
        }
      }
    }
  }
}